{% load static %}
{% load i18n %}
<div class="information-blocks">
    <div class="tabs-container">
        <div class="swiper-tabs tabs-switch">
            <div class="title">{% trans "Produkte" %}</div>
            <div class="list">
                <a class="block-title tab-switcher active">{% trans "Sonderprodukte" %}</a>
                <a class="block-title tab-switcher">{% trans "Beliebtes Produkt" %}</a>
                <div class="clear"></div>
            </div>
        </div>

        <div>

            <div class="tabs-entry">
                <div class="products-swiper">
                    <div class="swiper-container" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="2" data-int-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="5" data-add-slides="5">
                        <div class="swiper-wrapper">
                            {% for p in product_special %}
                                <div class="swiper-slide ">
                                    <div class="paddings-container">
                                        <div class="product-slide-entry shift-image">
                                            <div class="product-image" style=" height: 200px; ">
                                                <a class="title" href="{% url 'product:product-detail' p.slug %}">
                                                {% if p.get_product_image.0.get_image_url %}
                                                    <img loading="lazy" src="{{p.get_product_image.0.get_image_url}}" style="width: 100%; height: 100%;     position: absolute !important;" alt="" />
                                                {% elif p.product_coverpic %}
                                                    <img loading="lazy" src="/static/website/images/{{p.product_coverpic}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                                {% elif p.product_pictures %}
                                                    <img loading="lazy" src="/static/website/images/{{p.product_pictures}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                                {% else %}
                                                    <img loading="lazy" src="{{p.get_product_image.0.get_image_url}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                                {% endif %}
                                                {% if p.product_second_picture == "NULL"  %}
                                                    <img loading="lazy" src="/static/website/images/{{p.product_coverpic}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                                {% elif p.product_second_picture %}
                                                    <img loading="lazy" src="/static/website/images/{{p.product_second_picture}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                                {% elif p.get_product_image.1.get_image_url %}
                                                    <img loading="lazy" src="{{p.get_product_image.1.get_image_url}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                                {% elif p.product_pictures == "NULL"  %}
                                                    <img loading="lazy" src="/static/website/images/{{p.product_coverpic}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                                {% elif p.product_coverpic %}
                                                    <img loading="lazy" src="/static/website/images/{{p.product_coverpic}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                                {% else %}
                                                    <img loading="lazy" src="/static/website/images/{{p.get_product_image.0.get_image_url}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                                {% endif %}
                                                </a>
                                                {% comment %}
                                                <div class="bottom-line">
                                                    <form action="{% url 'order:addtocart' p.pk %}" id="my_form{{p.pk}}" method='get'>
                                                        {% csrf_token %}
                                                        <div class="bottom-line detail-info-entry">
                                                            <!--    
                                                                <a href='#' class="bottom-line-a " onclick='document.forms["my_form{{p.pk}}"].submit(); return false;'><i class="fa fa-shopping-cart"></i>In den Warenkorb</a>
                                                                -->    
                                                        </div>
                                                    </form>
                                                </div>
                                                {% endcomment %}
                                            </div>
                                            {% for pc in p.get_product_category %}
                                                <a class="tag" href="#">{{ pc.product_category }}</a>
                                            {% endfor %}
                                            <a class="title" style="min-height:55px;" href="{% url 'product:product-detail' p.slug %}">{{ p.product_name }}</a>
                                            <div class="price">
                                                {% if p.product_sale == "Indirimli Urun" %}
                                                <div class="prev" style=" background: #c5d743; padding: 5px 4px 5px 4px; margin-bottom: 5px;    min-width: 148px; max-width: 168px;   font-family: 'Lato';">{{p.product_price |floatformat:2 }}</div>
                                                <div class="current" style=" background: #c5d743; padding:  5px 4px 5px 4px; margin-bottom: 5px; min-width: 148px; max-width: 168px;   font-family: 'Lato';" >CHF. {{ p.product_price_sale |floatformat:2 }}</div>
                                                <br>
                                                <div class="prev" style=" background: #c5d743; padding: 5px 4px 5px 4px; margin-bottom: 5px;    min-width: 148px; max-width: 168px;   font-family: 'Lato';">{{p.product_price2 |floatformat:2 }}</div>
                                                <div class="current" style=" background: #c5d743; padding:  5px 4px 5px 4px; margin-bottom: 5px; min-width: 148px; max-width: 168px;   font-family: 'Lato';" > EUR.  {{ p.product_price2_sale |floatformat:2 }}</div>
                                                {% else %}
                                                <div class="current" style=" background: #c5d743; padding:  5px 4px 5px 4px; margin-bottom: 5px; min-width: 148px; max-width: 168px;   font-family: 'Lato';" >CHF. {{ p.product_price |floatformat:2 }}</div>
                                                <br>
                                                <div class="current" style=" background: #c5d743; padding:  5px 4px 5px 4px; margin-bottom: 5px; min-width: 148px; max-width: 168px;   font-family: 'Lato';" > EUR.  {{ p.product_price2 |floatformat:2 }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="pagination"></div>
                    </div>
                </div>
            </div>

            <div class="tabs-entry">
                <div class="products-swiper">
                    <div class="swiper-container" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="2" data-int-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="5" data-add-slides="5">
                        <div class="swiper-wrapper">
                        {% for p in product_popular %}
                            <div class="swiper-slide ">
                                <div class="paddings-container">
                                    <div class="product-slide-entry shift-image">
                                        <div class="product-image" style=" height: 200px; ">
                                            <a class="title" href="{% url 'product:product-detail' p.slug %}">
                                            {% if p.get_product_image.0.get_image_url %}
                                                <img loading="lazy" src="{{p.get_product_image.0.get_image_url}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                            {% elif p.product_coverpic %}
                                                <img loading="lazy" src="/static/website/images/{{p.product_coverpic}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                            {% elif p.product_pictures %}
                                                <img loading="lazy" src="/static/website/images/{{p.product_pictures}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                            {% else %}
                                                <img loading="lazy" src="{{p.get_product_image.0.get_image_url}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                            {% endif %}
                                            {% if p.product_second_picture == "NULL"  %}
                                                <img loading="lazy" src="/static/website/images/{{p.product_coverpic}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                            {% elif p.product_second_picture %}
                                                <img loading="lazy" src="/static/website/images/{{p.product_second_picture}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                            {% elif p.get_product_image.1.get_image_url %}
                                                <img loading="lazy" src="{{p.get_product_image.1.get_image_url}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                            {% elif p.product_pictures == "NULL"  %}
                                                <img loading="lazy" src="/static/website/images/{{p.product_coverpic}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                            {% else %}
                                                <img loading="lazy" src="/static/website/images/{{p.product_coverpic}}" style="width: 100%; height: 100%; position: absolute !important;" alt="" />
                                            {% endif %}
                                            </a>
                                            {% comment %}
                                            <div class="bottom-line">
                                                <form action="{% url 'order:addtocart' p.pk %}" id="my_form{{p.pk}}" method='get'>
                                                    {% csrf_token %}
                                                    <div class="bottom-line detail-info-entry">
                                                        <!--    
                                                            <a href='#' class="bottom-line-a " onclick='document.forms["my_form{{p.pk}}"].submit(); return false;'><i class="fa fa-shopping-cart"></i>In den Warenkorb</a>
                                                            -->    
                                                    </div>
                                                </form>
                                            </div>
                                            {% endcomment %}
                                        </div>
                                        {% for pc in p.get_product_category %}
                                            <a class="tag" href="#">{{ pc.product_category }}</a>
                                        {% endfor %}
                                        <a class="title" style="min-height:55px;" href="{% url 'product:product-detail' p.slug %}">{{ p.product_name }}</a>
                                        <div class="price">
                                            {% if p.product_sale == "Indirimli Urun" %}
                                            <div class="prev" style=" background: #c5d743; padding: 5px 4px 5px 4px; margin-bottom: 5px;    min-width: 148px; max-width: 168px;   font-family: 'Lato';">{{p.product_price }}</div>
                                            <div class="current" style=" background: #c5d743; padding: 5px 4px 5px 4px; margin-bottom: 5px; min-width: 148px; max-width: 168px;   font-family: 'Lato';" >CHF. {{ p.product_price_sale }}</div>
                                            <br>
                                            <div class="prev" style=" background: #c5d743; padding: 5px 4px 5px 4px; margin-bottom: 5px;    min-width: 148px; max-width: 168px;   font-family: 'Lato';">{{p.product_price2 }}</div>
                                            <div class="current" style=" background: #c5d743; padding: 5px 4px 5px 4px; margin-bottom: 5px; min-width: 148px; max-width: 168px;   font-family: 'Lato';" > EUR.  {{ p.product_price2_sale }}</div>
                                            {% else %}
                                            <div class="current" style=" background: #c5d743; padding: 5px 4px 5px 4px; margin-bottom: 5px; min-width: 148px; max-width: 168px;   font-family: 'Lato';" >CHF. {{ p.product_price }}</div>
                                            <br>
                                            <div class="current" style=" background: #c5d743; padding: 5px 4px 5px 4px; margin-bottom: 5px; min-width: 148px; max-width: 168px;   font-family: 'Lato';" > EUR.  {{ p.product_price2 }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="pagination"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>