{% load static %}
{% load i18n %}
 {% load static %}
{% include 'website/base/header.html' %}

    <body class="shop">

    <!--  HEADER-AREA START-->

{% include 'website/base/navbar.html' %}

	<!--  HEADER-AREA END-->

	<!-- SHOP-HEADER START-->
	<div class="shop-header">
		{% trans "Alle Erzeugnisse " %}
	</div>
	<!-- SHOP-HEADER END-->
	<div class="container">
		<!-- BREADCRUMBS AREA START-->
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="breadcrumbs">
					<a href="{% url 'website:index' %}">{% trans "Home" %}</a>
					<span class="separator">/</span> {% trans "Produkte" %}
				</div>
			</div>
		</div>
		<!-- BREADCRUMBS AREA END-->
		<div class="row">
			<div class="div col-lg-3 col-md-3 col-sm-3">
				<!-- CATEGORY-SIDEBAR START-->
				<div class="category-sidebar">
					<h3 class="category-title"> <u>  {% trans "Kategorien" %} </u> </h3>
					<ul>
						{% for c in kategoriler %}
							<div class="accordeon-title">{{  c.category_name }}</div>
							<div class="accordeon-entry">
								<div class="article-container style-1">
									<ul>    {{  c.category_name }}
										{% for p in c.get_sub_category %}
											<li><a href="{% url 'product:shop' p.slug %}">{{  p.sub_category_name }} </a></li>
										{% endfor %}
									</ul>
								</div>
							</div>	
						{% endfor %}					
					</ul>
				</div>
				<!-- CATEGORY-SIDEBAR END-->
				<!-- FILTER_PRICE START-->
				
				<div class="range-wrapper" style="margin-bottom:15px; padding-right:5px;">
					<h2 class="category-title" >  <u>  {% trans "Preis" %} </u> </h2>
					<div id="prices-range"></div>
					<form id="my_form" name="my_form" action="{% url 'product:tumurunler'  %}" enctype="multipart/form-data" method="post">
					{% csrf_token %}
						<div class="range-price">
							<div class="row">
								<h5 style=" padding-left: 15px; "> {% trans "Preis" %} :</h5> 
								<div style="width:25%" class="col-md-4 min-price"><b>₺<span >0</span></b> </div>
								<div style="width:25%" class="col-md-4 max-price"><b>₺<span>{{ max_price }}</span></b></div>
								<div style="width:25%" class="col-md-4 "><a href="javascript:{}" onclick="submit_by_name();" style="color:blue;border: 2px solid #000000;padding: 5px; ">Filtern</a></div>

							</div>
						</div>
						<input type="hidden" name="min_price" id="min_price"/>
						<input type="hidden" name="max_price" id="max_price"/>
						
					</form>
				</div>
				
				<!-- FILTER_PRICE END-->
				<div class="clear"></div>


				<div class="clear"></div>
				<div class="shop-top-rated-product" style="margin-top:15px; ">
					<h3 class="category-title"> <u> {% trans "Sonderprodukte" %}  </u> </h3>
					{% for p in products_three %}
						<!-- SINGLE-PRODUCT START-->
						<div class="single-product" style="height:90px;">
							<div class="product-image">
								<a href="{% url 'product:product-detail' p.slug %}"><img src="{{p.get_product_image.0.get_image_url}}" alt=""></a>
							</div>
							<div class="product-info">
								<a style="margin-top:0px;" href="{% url 'product:product-detail' p.slug %}">{{ p.product_name }}</a>
								<div class="price-box">
									<span class="special-price">{{p.product_price }}₺</span>
								</div>
							</div>
						</div>
						<!-- SINGLE-PRODUCT END-->
					{% endfor %}

				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9">
				<div class="row">
				<div class="all-category-product">
					<div class="col-lg-12 col-md-12">
						<div class="toolbar">
							<div class="view-mode"> 

							</div>
							<p class="result-count"> {% trans "Insgesamt gezeigte Produkte" %} : {{product_total}} </p>
							<form method="POST" class="hidden-xs">
								<div class="orderby-wrapper"> 
									<form action="{% url 'product:tumurunler'  %}" enctype="multipart/form-data" method="post">
									{% csrf_token %}
										<select class="selectpicker" name="sort" data-live-search="true">
											<option value="product_name">{% trans "Alphabetischer Reihenfolge" %} A-Z</option>
											<option value="-product_name">{% trans "Alphabetischer Reihenfolge" %} Z-A</option>
											<option value="product_price">{% trans "Preiserhöhungen" %} </option>
											<option value="-product_price">{% trans "Preisrückgang" %}</option>
										</select>
										<button class="button">{% trans "Sortieren" %}</button> 

									</form>
								</div>
							</form>
						</div>
					</div>

					{% for p in products %}
						<div class="col-lg-4 col-md-4 col-sm-6" style = "margin-bottom:15px;">
							<!-- SINGLE-PRODUCT START-->
							<div class="single-product">
								 <div class="product-image">                                                            {% comment %} {{p.get_product_image.0.get_image_url}} {% endcomment %}
									<a href="{% url 'product:product-detail' p.slug %}"><img style="height:320px;" src="/static/website/images/{{p.product_pictures}}" alt="" /></a>
									{% if p.product_sale == "Indirimli Urun" %}
									<div class="onsale">
										<span class="sale-bg"></span>
										<span class="sale-text">RABATT </span>
									</div>
									{% endif %}
								</div>
								<div class="product-info">
									<a href="{% url 'product:product-detail' p.slug %}">{{ p.product_name }}</a>
									<div class="price-box">

									{% if p.product_sale == "Indirimli Urun" %}
										<span class="old-price">{{p.product_price }}₺</span>
										<span class="special-price">{{ p.discount_price }}₺</span>
									{% else %}
										<span class="special-price">{{p.product_price }}₺</span>
									{% endif %}
									</div>
								</div>
							</div>
							<!-- SINGLE-PRODUCT END-->
						</div>
					{% endfor %}




					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FOOTER-TOP-AREA START-->
                            <script type="text/javascript">

                                function submit_by_name() {
                                    var c = document.getElementById("prices-range").children;

                                    var min_price = document.getElementById("min_price");
                                    var max_price = document.getElementById("max_price");
                                    min_price.value = c[1].style.left
                                    max_price.value = c[2].style.left
                                    var x = document.getElementsByName('my_form');
                                    x[0].submit();
                                }

                            </script>




    {% include 'website/base/footer.html' %}