{% load static %}


{% include 'website/base/header.html' %}

<body class="shop">
    <!--  HEADER-AREA START-->

{% include 'website/base/navbar.html' %}

	<!--  HEADER-AREA END-->


	<!-- PRODUCT-HEADER START-->
	<div class="product-header">

	</div>
	<!-- PRODUCT-HEADER END-->

	<div class="container">
		<!-- BREADCRUMBS AREA START-->
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="breadcrumbs">
					<a href="{% url 'website:index' %}">Home</a>
					<span class="separator">/</span>
					<a href="{% url 'product:tumurunler'  %}">Waren</a>
					<span class="separator">/</span>{{product.category }}
					<span class="separator">/</span>{{product.sub_category }}
					<span class="separator">/</span>{{product.sub_category2 }}
					<span class="separator">/</span>{{product.product_name }}
				</div>
			</div>
		</div>
		<!-- BREADCRUMBS AREA END-->
	</div>

	<!-- PRODUCT-DETAILS START-->
	<div class="product-details-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-6 col-md-6">
					<div class="product-image-area">
						<div class="simpleLens-big-image-container">
							<a class="simpleLens-lens-image" data-lens-image="/static/website/images/{{product.product_pictures}}">
							<img alt="" src="/static/website/images/{{product.product_pictures}}" class="simpleLens-big-image">
							</a>
							<a class="fancybox" data-fancybox-group="group" href="/static/website/images/{{product.product_pictures}}"><i class="fa fa-expand"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-6 col-md-6">
					<div class="product-details">
						<div class="back-next-prev">
							<a href="{% url 'product:tumurunler'  %}"><i class="fa fa-angle-left"></i>Waren</a> 

						</div>
						<div class="product-description">
							<h2 class="product-title">{{product.product_name }}</h2> 
							<h5>{{product.product_title | safe }}</h5>
							<p>{{product.product_code | safe }}</p>
							<p>{{product.product_subtitle | safe }}</p>

							<div class="price-box">
								<span class="special-price">
									<span class="amount">{{product.product_price }}₺</span>
								</span>
							</div>



							<div class="product-meta">
								<p>Kategorie: {{product.category }} <span class="separator">/</span>{{product.sub_category }} <span class="separator">/</span>{{product.sub_category2 }}

								</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- PRODUCT-DETAILS END-->

	<!-- SOCIAL-MEDIA-AREA START-->
	<div class="social-media-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="social-media-icon">
						<ul>
							<li>
								<a class="color-tooltip facebook" target="_blank" href="{{company_info.company_facebook }}" data-toggle="tooltip" title="Facebook">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a class="color-tooltip twitter" target="_blank" data-toggle="tooltip" title="Twitter" href="{{company_info.company_twitter }}">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a class="color-tooltip instagram" target="_blank" data-toggle="tooltip" title="İnstagram" href="{{company_info.company_instagram }}" >
									<i class="fa fa-instagram"></i>
								</a>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- SOCIAL-MEDIA-AREA END-->

	<!-- PRODUCT-OVERVIEW-TAB-AREA START-->
	<div class="product-overview-tab-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="tab-area">
					<div class="product-overview-tabmenu">
						  <ul>
							<li class="active"><a data-toggle="tab" href="#description">Warenbezeichnung</a></li>
						  </ul>
					</div>
					<div class="tab-content">
						<div id="description" class="tab-pane fade in active">
							<p>{{product.product_detail | safe }}</p>
						</div>

					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<!-- PRODUCT-OVERVIEW-TAB-AREA END-->

{% include 'website/product/popular_product.html' %}

	<!-- FOOTER-TOP-AREA START-->

{% include 'website/base/footer.html' %}