{% load static %}
{% include 'adminpanel/index/header.html' %}

<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>
<script src="{% static 'admin/js/plugins/media/fancybox.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/special/gallery_deneme.js' %}"></script>

{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}

<div class="content">

  {% if messages %}
    {% for message in messages %}
      {% ifequal message.tags 'error' %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
      {% else %}
      <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
      </div>
      {% endifequal %}
    {% endfor %}
  {% endif %}

      <div class="card">
        <div class="card-header header-elements-inline">
          <h5 class="card-title">Kategori Ekle/Listele</h5>
          <div class="header-elements">
            <div class="list-icons">
              <a class="list-icons-item" data-action="collapse"></a>
            </div>
          </div>
        </div>

        <div class="card-body">
          <form action="{% url 'category:add-list-subcategory2' %}" method="POST">
            {% csrf_token %}
                  <div class="form-group">
                    <label>Kategori :</label>
                    {{ form.sub_category2_name }}
                  </div>
                  <div class="form-group">
                    <label>TOP :</label>
                    {{ form.top_category }}
                  </div>
                  <div class="form-group">
                    <label>Kategori:</label>
                    <select name="sub_category_pk" data-placeholder="Kategori Seçiniz" class="form-control" >
                      <option value="">------</option>
                      {% for c in sub_categories %}
                        <option value="{{c.pk}}">{{ c.sub_category_name }}</option>
                      {% endfor %}
                    </select>
                  </div>

            <div class="text-right">
              <button type="submit" class="btn btn-primary"> Ekle <i class="icon-paperplane ml-2"></i></button>
            </div>
          </form>
        </div>
      </div>

    <div class="card">
    <div class="card-header bg-white header-elements-inline">
      <h4 class="card-title">Kategori</h4>
    </div>

    <table class="table table-striped media-library">
      <thead>
        <tr>
          <th><input type="checkbox" class="form-input-styled"></th>
          <th>Kategori</th>
          <th class="text-center">İşlem</th>
        </tr>
      </thead>
      <tbody>

        {% for c in sub_categories_2 %}
          <tr>
            <td><input type="checkbox" class="form-input-styled"></td>
            <td>
              <ul class="list-unstyled mb-0">
                <li><span class="font-weight-semibold">{{ c.sub_category2_name }}</span></li>
              </ul>
            </td>
            <td class="text-center">
              <div class="list-icons">
                <div class="list-icons-item dropdown">
                  <a href="gallery_library.html#" class="list-icons-item caret-0 dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-menu9"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="{% url 'category:update-subcategory2' c.pk %}" class="dropdown-item"><i class="icon-pencil7"></i> Düzenle</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'category:delete-subcategory2' c.pk %}" class="dropdown-item"><i class="icon-bin"></i> Sil</a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
<!-- /content area -->


{% include 'adminpanel/index/footer.html' %}
