{% extends "front_end/base/main.html" %}
{% load static %}
{% block content %}
<style media="screen">
  @media (min-width: 992px){
  .typeheader-2 .container-megamenu.vertical .vertical-wrapper ul.megamenu{display: none;}
  .typeheader-2 .container-megamenu.vertical:hover .vertical-wrapper ul.megamenu{display: block !important;}
}

</style>

<!-- Main Container  -->
<div class="main-container container" style="margin: 40px auto;">
 <p>
 Çerezler
</p>
</div>
<!-- //Main Container -->


{% endblock %}
