{% load static %}
{% load i18n %}

                <div class="information-blocks">
                    <div class="row">
                        {% for h3 in home3 %}
                        <div class="col-sm-4 information-entry">
                            <div class="special-item-entry">
                                <img src="{{ h3.get_home_3_image.0.get_image_url }}" alt="" />
                                <h3 class="title"> <span style="font-size:25px;">{{ h3.title }}</span></h3>
                                <a class="button style-6" href="{{h3.description }}">{% trans "Jetz Shoppen" %}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
