

{% load static %}
{% load i18n %}
 {% load static %}


            <div class="content-push">

                <div class="parallax-slide fullwidth-block small-slide" style="margin-bottom: 30px; margin-top: -25px;">
                    <div class="swiper-container" data-autoplay="5000" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                        <div class="swiper-wrapper">


                            {% for slider in sliders %}	

                            <div class="swiper-slide no-shadow active" data-val="0" style="background-image: url({{ slider.get_slider_image.0.get_image_url }});"> 
                                <div class="parallax-vertical-align" style="    top: 98% !important ;     text-align: right; ">
                                    <div class="parallax-article center-align">
                                    <!--
                                        <h2 class="subtitle">{{slider.title }}</h2>
                                        <h1 class="title">{{slider.title }}</h1>
                                        <div class="description">{{slider.context | safe}}</div>
                                    -->
                                        <div class="info">
                                        {% if slider.link %}
                                            <a href="{{slider.link}}" class="button style-8" style="background: #c5d742;">{% trans "Jetz Shoppen" %}</a>
                                        {% endif %}
                                            <a href="{% url 'product:tumurunler' %}" class="button style-8" style="background: #c5d742;">{% trans "Produkte" %}</a>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            {% endfor %}


                        </div>
                        <div class="pagination"></div>
                    </div>
                </div>


