{% load static %}

                <div class="information-blocks">
                    <div class="portfolio-container type-2">

                        <div class="row">
                            <h3 class="block-title main-heading"style="    margin-left: 15px;" >Marken</h3>


                        {% for marke in markalar %}
                            {% if marke.get_brand_image.0.get_image_url %}
                            <div class="col-sm-6 col-md-1 col-xs-4 portfolio-entry" >
                            <a href="{% url 'product:brand-filter' marke.slug %}">
                                <div class="image" >
                                    <img alt="" src="{{ marke.get_brand_image.0.get_image_url }}"style="height:80px;" />

                                </div>
                            </a>
                            </div>
                            {% endif %}
                        {% endfor %}


                        </div>
                    </div>
                </div>

