{% load static %}
{% load i18n %}
 {% load static %}

            <!-- FOOTER -->
                <div class="footer-wrapper style-17">
                    <footer class="type-1">
                        <div class="footer-columns-entry">
                            <div class="row">

                                <div class="col-md-3 col-sm-4">
                                    <a class="image"><img class="footer-logo" src="{{ company_image.get_image_url }}" style=" height: 130px; " /></a>


                                    <div class="clear"></div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <h3 class="column-title">Moda Di Vivere</h3>
                                     <div class="footer-description" style=" margin-top: 20px; ">{{ company_info.company_about_us }}</div>

                                    <div class="clear"></div>
                                </div>
                                <div class="col-md-3">
                                    <h3 class="column-title">{% trans "Kontakt" %}</h3>
                                    <div class="footer-description " style="font-family: 'Montserrat', sans-serif; line-height: 24px;"   >{{ company_info.company_address }}<br/>
                                        <b>TEL: </b><a href="tel:{{ company_info.company_phone_number }}">{{ company_info.company_phone_number }}</a><br/>
                                        {{ company_info.company_address_2 }} <br/>
                                        <b>TEL: </b><a href="tel:{{ company_info.company_phone_number_2 }}">{{ company_info.company_phone_number_2 }}</a><br/>
                                        {% if company_info.company_mobile_phone_number %}
                                        <b>GSM:</b> <a href="tel:{{ company_info.company_mobile_phone_number }}">{{ company_info.company_mobile_phone_number }}</a> <br/>
                                        {% endif %}
                                        {% if company_info.company_mobile_phone_number_two %}
                                        <b>GSM2: </b><a href="tel:{{ company_info.company_mobile_phone_number_two }}">{{ company_info.company_mobile_phone_number_two }}</a>  <br/>
                                        {% endif %}
                                        <b>Email: </b><a href="mailto:{{ company_info.company_email }}">{{ company_info.company_email }}</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="clearfix visible-sm-block"></div>
                                <div class="col-md-3">
                                    <h3 class="column-title">{% trans "Öffnungszeiten" %}</h3>
                                    <div class="footer-description">
                                        <b>{% trans "Montag - Samstag:" %}</b> 9.00 - 18.30<br/>
                                        <b>{% trans "Sonntag:" %}</b> 10.00 - 18.00<br/>
                                    </div>
                                    <h3 class="column-title">{% trans "Unsere Social Media Accounts" %}</h3>
                                    <div class="footer-description">
                                        <div style =" color:white; ">
                                            <a href="{{company_info.company_instagram }}"><i style="font-size: xx-large;" class="fa fa-instagram"> </i></a>
                                            <a href="{{company_info.company_facebook }}"><i style="font-size: xx-large;" class="fa fa-facebook"> </i></a>
                                            <a href="{{company_info.company_twitter }}"><i style="font-size: xx-large;" class="fa fa-twitter"> </i></a>
                                            <a href="{{company_info.company_youtube }}"><i style="font-size: xx-large;" class="fa fa-youtube"> </i></a>
                                            <a href="{{company_info.company_skype }}"><i style="font-size: xx-large;" class="fa fa-skype"> </i></a>
                                            <a href="{{company_info.company_pinterest }}"><i style="font-size: xx-large;" class="fa fa-pinterest"> </i></a>
                                            <a href="{{company_info.company_google }}"><i style="font-size: xx-large;" class="fa fa-google"> </i></a>
                                            <a href="{{company_info.company_flickr }}"><i style="font-size: xx-large;" class="fa fa-flickr"> </i></a>
                                        </div>
                                    </div>

                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-bottom-navigation">
                            <div class="cell-view">

                            </div>

                            <div class="cell-view">
                                <img class="copyright" src="{% static 'website/img/visa-master.png' %}" height="50" width="100" style="margin-right:10px">
                                <img class="copyright" src="{% static 'website/img/paypal_logo.jpg' %}" height="50" width="70"  style="padding:0; padding-bottom:10px; margin-bottom:10px;">
                                <img class="copyright" src="{% static 'website/img/ResizedImageWzE5NiwxMjNd-logo-postcard.gif' %}" height="50" width="70"  style="padding:0; padding-bottom:10px; margin-bottom:10px;">
                                <img class="copyright" src="{% static 'website/img/maestro_logo.png' %}" height="50" width="70"  style="padding:0;  margin-bottom:10px;">

                            </div>


                            <div class="cell-view">
                                <div class="copyright">© 2020 Moda Di Vivere | Created with by <a href="https://www.eytsoft.com/">EYTSOFT</a>. {% trans "Alle Rechte vorbehalten." %}</div>
                            </div>


                        </div>
                    </footer>
                </div>
            </div>

        </div>
        <div class="clear"></div>

    </div>

    <div class="search-box popup">
        <form  method="post">
        {% csrf_token %}

            <div class="search-button">
                <i class="fa fa-search"> </i>
                <input type="submit" />
            </div>
            <div class="search-drop-down">
                <div class="title"><span>{% trans "Kategorien" %}</span><i class="fa fa-angle-down"></i></div>
                <div class="list">
                    <div class="overflow">
                    {% for cs in kategoriler %}
                        <div class="category-entry">{{cs.category_name}}</div>
                    {% endfor %}
                    </div>
                </div>
            </div>

            <div class="search-field">

                <input type="text"  placeholder="Produkt suchen" name="product_name"/>


            </div>
        </form>
    </div>

    <div class="cart-box popup">
        <div class="popup-container">

        {% for sc in shop_cart %}


            <div class="cart-entry">


                {% if p.product_pictures %}
                    <a class="image"><img src="/static/website/images/{{sc.product.product_pictures}}" alt="" /></a>

                {% else %}
                    <a class="image"><img src="/static/website/images/{{sc.product.product_coverpic}}" alt="" /></a>

                {% endif %}





				<div class="content">
                    {% if sc.product.slug %}
                        <a class="title" href="">{{ sc.product.product_name }}</a>
                    {%else%}
                        <a class="title" href="">{{ sc.product.product_name }}</a>
                    {% endif %}
                    <div class="quantity">Menge: {{ sc.quantity }}</div>
                    <div class="price">CHF. {{ sc.amount }}</div>
                    <div class="price">EUR. {{ sc.amount2 }}</div>

                </div>
                <div class="button-x"><i class="fa fa-close"></i></div>
            </div>

        {% endfor %}

            <div class="summary">
                <div class="grandtotal">Gesamt: <span>CHF. {{ total }} </span> </div>
                <div class="grandtotal"> Gesamt: <span>EUR. {{ total2 }}</span></div>
            </div>
            <div class="cart">
                <div class="column">
                    <a href="" class="button style-4">{% trans "Warenkorb ansehen" %}</a>
                    <div class="clear"></div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
   <div id="product-popup" class="overlay-popup">
        <div class="overflow">
            <div class="table-view">
                <div class="cell-view">
                    <div class="close-layer"></div>
                    <div class="popup-container">

                        <div class="row">
                            <div class="col-sm-6 information-entry">
                                <div class="product-preview-box">
                                    <div class="swiper-container product-preview-swiper" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="product-zoom-image">
                                                    <img src="{% static 'website/img/product-main-1.jpg' %}" alt="" data-zoom="{% static 'website/img/product-main-1-zoom.jpg' %}" />
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="product-zoom-image">
                                                    <img src="{% static 'website/img/product-main-2.jpg' %}" alt="" data-zoom="{% static 'website/img/product-main-2-zoom.jpg' %}" />
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="product-zoom-image">
                                                    <img src="{% static 'website/img/product-main-3.jpg' %}" alt="" data-zoom="{% static 'website/img/product-main-3-zoom.jpg' %}" />
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="product-zoom-image">
                                                    <img src="{% static 'website/img/product-main-4.jpg' %}" alt="" data-zoom="{% static 'website/img/product-main-4-zoom.jpg' %}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pagination"></div>
                                        <div class="product-zoom-container">
                                            <div class="move-box">
                                                <img class="default-image" src="{% static 'website/img/product-main-1.jpg' %}" alt="" />
                                                <img class="zoomed-image" src="{% static 'website/img/product-main-1-zoom.jpg' %}" alt="" />
                                            </div>
                                            <div class="zoom-area"></div>
                                        </div>
                                    </div>
                                    <div class="swiper-hidden-edges">
                                        <div class="swiper-container product-thumbnails-swiper" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="3" data-int-slides="3" data-sm-slides="3" data-md-slides="4" data-lg-slides="4" data-add-slides="4">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide selected">
                                                    <div class="paddings-container">
                                                        <img src="{% static 'website/img/product-main-1.jpg' %}" alt="" />
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="paddings-container">
                                                        <img src="{% static 'website/img/product-main-2.jpg' %}" alt="" />
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="paddings-container">
                                                        <img src="{% static 'website/img/product-main-3.jpg' %}" alt="" />
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="paddings-container">
                                                        <img src="{% static 'website/img/product-main-4.jpg' %}" alt="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 information-entry">
                                <div class="product-detail-box">
                                    <h1 class="product-title">T-shirt Basic Stampata</h1>
                                    <h3 class="product-subtitle">Loremous Clothing</h3>
                                    <div class="rating-box">
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star"></i></div>
                                        <div class="star"><i class="fa fa-star-o"></i></div>
                                        <div class="star"><i class="fa fa-star-o"></i></div>
                                        <div class="rating-number">25 Reviews</div>
                                    </div>
                                    <div class="product-description detail-info-entry">Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur.</div>
                                    <div class="price detail-info-entry">
                                        <div class="prev">$90,00</div>
                                        <div class="current">$70,00</div>
                                    </div>
                                    <div class="size-selector detail-info-entry">
                                        <div class="detail-info-entry-title">Size</div>
                                        <div class="entry active">xs</div>
                                        <div class="entry">s</div>
                                        <div class="entry">m</div>
                                        <div class="entry">l</div>
                                        <div class="entry">xl</div>
                                        <div class="spacer"></div>
                                    </div>
                                    <div class="color-selector detail-info-entry">
                                        <div class="detail-info-entry-title">Color</div>
                                        <div class="entry active" style="background-color: #d23118;">&nbsp;</div>
                                        <div class="entry" style="background-color: #2a84c9;">&nbsp;</div>
                                        <div class="entry" style="background-color: #000;">&nbsp;</div>
                                        <div class="entry" style="background-color: #d1d1d1;">&nbsp;</div>
                                        <div class="spacer"></div>
                                    </div>
                                    <div class="quantity-selector detail-info-entry">
                                        <div class="detail-info-entry-title">Adet</div>
                                        <div class="entry number-minus">&nbsp;</div>
                                        <div class="entry number">10</div>
                                        <div class="entry number-plus">&nbsp;</div>
                                    </div>
                                    <div class="detail-info-entry">
                                        <a class="button style-10">Add to cart</a>
                                        <a class="button style-11"><i class="fa fa-heart"></i> Add to Wishlist</a>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="tags-selector detail-info-entry">
                                        <div class="detail-info-entry-title">Tags:</div>
                                        <a href="#">bootstrap</a>/
                                        <a href="#">collections</a>/
                                        <a href="#">color/</a>
                                        <a href="#">responsive</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="close-popup"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'website/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'website/js/idangerous.swiper.min.js' %}"></script>
    <script src="{% static 'website/js/global.js' %}"></script>

    <!-- custom scrollbar -->
    <script src="{% static 'website/js/jquery.mousewheel.js' %}"></script>
    <script src="{% static 'website/js/jquery.jscrollpane.min.js' %}"></script>




    <!-- range slider -->
    <script src="{% static 'website/js/jquery-ui.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            var minVal = parseInt($('.min-price span').text());
            var maxVal = parseInt($('.max-price span').text());
            $( "#prices-range" ).slider({
                range: true,
                min: minVal,
                max: maxVal,
                step: 5,
                values: [ minVal, maxVal ],
                slide: function( event, ui ) {
                    $('.min-price span').text(ui.values[ 0 ]);
                    $('.max-price span').text(ui.values[ 1 ]);
                }
            });
        });
    </script>
</body>
</html>
