{% load static %}



                <div class="information-blocks">
                    <div class="portfolio-container type-2">

                        <div class="row">

                            {% for footer in footers %}

                            <div class="col-sm-6 col-md-2 col-xs-4 portfolio-entry" >
                            <a href="{{footer.link}}">
                                <div class="image" >
                                    <img src="{{ footer.get_footer_image.0.get_image_url }}" style=" height: 170px; " alt="" />
                                    <div class="subtitle">{{footer.title}}  </div>

                                </div>
                            </a>
                            </div>

                            {% endfor %}

<!--
                            <div class="col-sm-6 col-md-2 col-xs-4 portfolio-entry" >
                            <a href="https://www.google.com/search?q=modadivivere2&ie=utf-8&oe=utf-8&client=firefox-b-m">
                                <div class="image" >
                                    <img src="/static/website/images/moda_2.jpeg"  alt="" />
                                    <div class="subtitle">Einkaufs Gutschein CHF. 10.00</div>

                                </div>
                            </a>
                            </div>

                            <div class="col-sm-6 col-md-2 col-xs-4 portfolio-entry" >
                            <a href="https://www.google.com/search?q=modadivivere2&ie=utf-8&oe=utf-8&client=firefox-b-m">
                                <div class="image" >
                                    <img src="/static/website/images/moda_3.jpg"  alt="" style=" height: 170px; "/>
                                    <div class="subtitle">Einkaufs Gutschein €.10.00 </div>

                                </div>
                            </a>
                            </div>

                            <div class="col-sm-6 col-md-2 col-xs-4 portfolio-entry" >
                            <a href="https://www.google.com/search?q=modadivivere2&ie=utf-8&oe=utf-8&client=firefox-b-m">
                                <div class="image" >
                                    <img src="/static/website/images/moda_4.jpg"  alt="" />
                                    <div class="subtitle">Kostenloser Versand ab CHF. 100.00</div>

                                </div>
                            </a>
                            </div>

                            <div class="col-sm-6 col-md-2 col-xs-4 portfolio-entry" >
                            <a href="https://www.google.ch/maps/uv?hl=de&pb=!1s0x47834a8713c93a69%3A0x9b4d4e869a14f364!3m1!7e115!4s%2Fmaps%2Fplace%2FBoutique%2BModa%2Bdi%2BVivere%2F%4046.9419409%2C10.3587635%2C3a%2C75y%2C211.62h%2C90t%2Fdata%3D*213m4*211e1*213m2*211sVonYhuYf!15sCgIgAQ">
                                <div class="image" >
                                    <img src="/static/website/images/moda_5.jpg"  alt="" />
                                    <div class="subtitle">Rundgang durchs Geschäft   </div>

                                </div>
                            </a>
                            </div>

                            <div class="col-sm-6 col-md-2 col-xs-4 portfolio-entry" >
                            <a href="https://www.samnaun.ch/de">
                                <div class="image" >
                                    <img src="/static/website/images/moda_6.png"  alt="" />
                                    <div class="subtitle">mySamnaun -App    </div>

                                </div>
                            </a>
                            </div>

-->

                        </div>
                    </div>
                </div>

