{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    

    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'website/css/idangerous.swiper.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'website/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'website/css/style.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if IE 9]>
        <link href="{% static 'website/css/ie9.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'website/img/modadivivere-logo.png' %}" />
