 {% load static %}
 {% load i18n %}
 {% load static %}
                <div class="information-blocks">
                    <div class="row">
                        <div class="information-entry col-md-4">
                            <div class="image-text-widget" style="background-image: url({% static 'website/img/image-text-widget-1-1.jpg' %});">
                                <div class="hot-mark red">{% trans "neu" %}</div>
                                <h3 class="title">{% trans "Frauen Kategorie" %}</h3>
                                <div class="article-container style-1">
                                    <ul>
                                        <div class="eyt-scroll-2 ">
                                        {% for p in kategoriler.0.get_sub_category %}
                                            <li><a href="{% url 'product:shop' p.slug %}">{{  p.sub_category_name }}</a></li>
                                        {% endfor %}
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="information-entry col-md-4">
                            <div class="image-text-widget" style="background-image: url({% static 'website/img/image-text-widget-2-1.jpg' %});">
                                <div class="hot-mark red">{% trans "neu" %}</div>
                                <h3 class="title">{% trans "Manner Kategorie" %}</h3>
                                <div class="article-container style-1" >
                                    <ul>
                                        <div class="eyt-scroll-2 ">
                                        {% for p in kategoriler.2.get_sub_category %}
                                            <li><a href="{% url 'product:shop' p.slug %}">{{  p.sub_category_name }}</a></li>
                                        {% endfor %}
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="information-entry col-md-4">
                            <div class="image-text-widget" style="background-image: url({% static 'website/img/image-text-widget-3-1.jpg' %});">
                                <div class="hot-mark red">{% trans "neu" %}</div>
                                <h3 class="title">{% trans "Kinder Kategorie" %}</h3>
                                <div class="article-container style-1">
                                    <ul>
                                        <div class="eyt-scroll-2 ">
                                        {% for p in kategoriler.1.get_sub_category %}
                                            <li><a href="{% url 'product:shop' p.slug %}">{{  p.sub_category_name }}</a></li>
                                        {% endfor %}
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      


