 {% load static i18n %}

{% load i18n %}
 {% load static %}
<!--
                <div class="information-blocks">
                    <div class="portfolio-container type-2">

                        <div class="row" style="    margin-left: 15px;" >
                            <h3 class="block-title main-heading">Kategorien</h3>

                            {% for k in kategoriler %}
                            <div  class="row" >
                                <h6 class="block-title ">{{k.category_name}}</h6>

                                {% for ks in k.get_sub_category%}
                                    <div class="col-sm-6 col-md-2 col-xs-6" >
                                        <a href="{% url 'product:shop' ks.slug %}"> {{  ks.sub_category_name }}</a> <br>
                                    </div>

                                {% endfor %}
                            </div>
<br>
                            {% endfor %}

                        </div>

                    </div>

                </div>

-->

<div class="adFHlH _0xLoFW _7ckuOK mROyo1 M1UKyg okmnKS">
    <div class="qMZa55 _8P5KBX">
        <h3 class="OEhtt9 ka2E9k uMhVZi z-oVg8 pVrzNP">{% trans "Top Marken" %}</h3>
    </div>
</div>


<div class="adFHlH _0xLoFW _7ckuOK mROyo1">

    {% for top in top_brand %}

        <div class="qMZa55 ry-Xoz _9hq5vx WdG8Bv lpr5wT">

            <a class="_5Yd-hZ ZkIJC- r9BRio qXofat mROyo1 g88eG_ oHRBzn LyRfpJ _27bY5q U2fWfp pVrzNP sW9qW7 g88eG_ oHRBzn LyRfpJ" href="{% url 'product:brand-filter' top.slug %}" rel="">
                <span class="u-6V88 ka2E9k uMhVZi FxZV-M z-oVg8 pVrzNP _27bY5q U2fWfp e5adJm _9bYLON CJVJQ4 _2LebSa">{{  top.brand_name }}</span>
            </a>

        </div>

    {% endfor %}

</div>

<div class="adFHlH _0xLoFW _7ckuOK mROyo1 M1UKyg okmnKS">
    <div class="qMZa55 _8P5KBX">
        <h3 class="OEhtt9 ka2E9k uMhVZi z-oVg8 pVrzNP">{% trans "Top Kategorien" %}</h3>
    </div>
</div>




<div class="adFHlH _0xLoFW _7ckuOK mROyo1">

    {% for top in top_category %}

        <div class="qMZa55 ry-Xoz _9hq5vx WdG8Bv lpr5wT">

            <a class="_5Yd-hZ ZkIJC- r9BRio qXofat mROyo1 g88eG_ oHRBzn LyRfpJ _27bY5q U2fWfp pVrzNP sW9qW7 g88eG_ oHRBzn LyRfpJ" href="{% url 'product:filter2' top.sub_category_name %}" rel="">
                <span class="u-6V88 ka2E9k uMhVZi FxZV-M z-oVg8 pVrzNP _27bY5q U2fWfp e5adJm _9bYLON CJVJQ4 _2LebSa">{{  top.sub_category_name }}</span>
            </a>

        </div>

    {% endfor %}

</div>


</br>
</br>


<!--

                <div class="information-blocks">
                    <div class="tabs-container">
                        <div class="swiper-tabs tabs-switch">
                            <div class="title">Top Kategorien</div>

                            <div class="list">
                                {% for k in kategoriler %}
                                    <a class="block-title tab-switcher ">{{k.category_name}}</a>
                                {% endfor %}

                                <div class="clear"></div>

                            </div>

                        </div>

                        <div>



                        {% for k in kategoriler %}
                            <div class="tabs-entry">
                                <div class="products-swiper">
                                    <div class="swiper-container" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="2" data-int-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="5" data-add-slides="5">
                                        <div class="swiper-wrapper" style="margin:10px;">


                                        {% for ks in k.get_sub_category%}
                                            <div class="col-sm-6 col-md-2 col-xs-6 " >
                                                *<a href="{% url 'product:shop' ks.slug %}" style="line-height: 25px;"> {{  ks.sub_category_name }}</a> <br>
                                            </div>

                                        {% endfor %}




                                        </div>

                                        <div class="pagination"></div>

                                    </div>

                                </div>

                            </div>

                        {% endfor %}



                        </div>

                    </div>

                </div>


-->