{% load static %}
{% include 'website/base/header.html' %}
{% include 'website/base/header2.html' %}




<!-- Start Log In Area -->
<section class="user-area-style ptb-100" style="margin-top:100px; margin-bottom:100px;">
    <div class="container">
        <div class="registration-area">
            <div class="section-title">
                <h2>Administratorregister</h2>
            </div>

            <div class="contact-form-action">
                <form action="{% url 'accounts:superadmin-register' %}" method="post">
                    {% csrf_token %} 
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Zu</label>
                                {{ form.first_name }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Nachname</label>
                                {{ form.last_name }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Nutzername</label>
                                {{ form.username }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Email</label>
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Aufgabe</label>
                                {{ superadmin_form.superadmin_duty }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Passwort</label>
                                {{ form.password1 }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Passwort erneut</label>
                                {{ form.password2 }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <button class="default-btn register" type="submit">
                                        Registrieren
                                    </button>
                                </div>

                                <div class="col-lg-6 text-right">
                                    <input id="remember" type="checkbox">
                                    <label for="remember">Passwort anzeigen?</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <p>Sie haben bereits ein Konto? <a href="{% url 'accounts:login' %}">Einloggen!</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Log In Area -->





{% include 'website/base/footer.html' %}
