{% load static %}
{% include 'adminpanel/index/header.html' %}

<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

<script src="{% static 'admin/js/plugins/media/fancybox.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/gallery_library.js' %}"></script>

{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}

<!-- Content area -->
<div class="content">

  <!-- Media library -->
  <div class="card eyt-scroll ">
    <div class="card-header bg-white header-elements-inline">
      <h4 class="card-title"> Mitteilungen</h4>
    </div>

    <table class="table table-striped media-library ">
      <thead>
        <tr>
          <th>PK</th>
          <th>Vorname Nachname</th>
          <th>Telefon </th>
          <th>E posta </th>

          <th>Nachricht</th>
        </tr>
      </thead>
      
      <tbody>
        {% for iletisim in iletisimler %}
        <tr>
          <td> <label> {{iletisim.pk }} </label> </td>
          <td><label style="inline-size: max-content;"> {{ iletisim.ad_soyad }}</label> </td>
          <td><label> {{iletisim.telefon }}</label> </td>
          <td> <label> {{ iletisim.email }} </label> </td>

          <td> <label> {{ iletisim.mesaj }} </label> </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- /media library -->

</div>
<!-- /content area -->


{% include 'adminpanel/index/footer.html' %}