{% load static %}
{% include 'adminpanel/index/header.html' %}

<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

<script src="{% static 'admin/js/plugins/uploaders/fileinput/plugins/purify.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/uploaders/fileinput/plugins/sortable.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/uploaders/fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/uploader_bootstrap.js' %}"></script>

{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}




<!-- Content area -->
<div class="content">
  {% if messages %}
  {% for message in messages %}
    {% ifequal message.tags 'error' %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% else %}
    <div class="alert alert-{{ message.tags }}" role="alert">
      {{ message }}
    </div>
    {% endifequal %}

  {% endfor %}
  {% endif %}
  <!-- Vertical form options -->
  <div class="row">
    <div class="col-md-12">

      <!-- Basic layout-->
      <div class="card">
        <div class="card-header header-elements-inline">
          <h5 class="card-title">Unternehmensinformationen aktualisieren</h5>

        </div>

        <div class="card-body">
          <form action="{% url 'adminpanel:update-company-info' %}" enctype='multipart/form-data' method="post">
            {% csrf_token %}

            <div class="form-group">
              <label>Adresse des Unternehmens :</label>
              {{ form.company_address }}
            </div>
            <div class="form-group">
              <label>Adresse des Unternehmens - 2 :</label>
              {{ form.company_address_2 }}
            </div>

            <div class="form-group">
              <label>Telefonnummer des Unternehmens:</label>
              {{ form.company_phone_number }}
            </div>
            <div class="form-group">
              <label>Telefonnummer des Unternehmens - 2:</label>
              {{ form.company_phone_number_2 }}
            </div>

            <div class="form-group">
              <label>Handynummer des Unternehmens:</label>
              {{ form.company_mobile_phone_number }}
            </div>
            <div class="form-group">
              <label>Handynummer des Unternehmens 2:</label>
              {{ form.company_mobile_phone_number_two }}
            </div>
            <div class="form-group">
              <label> Firmen-E-Mail :</label>
              {{ form.company_email }}
            </div>
            <div class="form-group">
              <label>Firmen-Twitter :</label>
              {{ form.company_twitter }}
            </div>
            <div class="form-group">
              <label>Firmen-İnstagram :</label>
              {{ form.company_instagram }}
            </div>

            <div class="form-group">
              <label>Firmen-Facebook :</label>
              {{ form.company_facebook }}
            </div>
            <div class="form-group">
              <label>Firmen-Youtube :</label>
              {{ form.company_youtube }}
            </div>
            <div class="form-group">
              <label>Firmen-Skype :</label>
              {{ form.company_skype }}
            </div>
            <div class="form-group">
              <label>Firmen-Pinterest :</label>
              {{ form.company_pinterest }}
            </div>
            <div class="form-group">
              <label>Firmen-Google :</label>
              {{ form.company_google }}
            </div>
            <div class="form-group">
              <label>Firmen-Flickr :</label>
              {{ form.company_flickr }}
            </div>

            <div class="form-group">
              <label>Fusszeile Brief:</label>
              {{ form.company_about_us }}
            </div>

            <div class="text-right">
              <button type="submit" class="btn btn-primary">Informationen Aktualisieren <i class="icon-paperplane ml-2"></i></button>
            </div>

          </form>

        </div>
      </div>
      <!-- /basic layout -->

    </div>
  </div>
</div>




{% include 'adminpanel/index/footer.html' %}
