{% load static %}
{% include 'adminpanel/index/header.html' %}

<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="{% static 'admin/js/plugins/uploaders/fileinput/plugins/purify.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/uploaders/fileinput/plugins/sortable.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/uploaders/fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/uploader_bootstrap.js' %}"></script>

{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}

<!-- Content area -->
<div class="content">

    {% if messages %}
    {% for message in messages %}
      {% ifequal message.tags 'error' %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
      {% else %}
      <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
      </div>
      {% endifequal %}

    {% endfor %}
    {% endif %}
  <!-- Vertical form options -->
  <div class="row">
    <div class="col-md-12">

      <!-- Basic layout-->
      <div class="card">
        <div class="card-header header-elements-inline">
          <h5 class="card-title">Benutzerinformationen aktualisieren</h5>

        </div>

        <div class="card-body">
      <form action="{% url 'accounts:kullanici-update-from-admin' kullanici_form.instance.slug %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label>Vorname:</label>
          {{ form.first_name }}
        </div>
        <div class="form-group">
          <label>Nachname:</label>
          {{ form.last_name }}
        </div>
        <div class="form-group">
          <label>Email:</label>
          {{ form.email }}
        </div>
        <div class="form-group">
          <label>Nutzername:</label>
          {{ form.username }}
        </div>
        <div class="form-group">
          <label>Mitarbeiterpflicht:</label>
          {{ kullanici_form.duty }}
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Informationen aktualisieren <i class="icon-paperplane ml-2"></i></button>
        </div>

      </form>
      </div>
      </div>
    </div>
  </div>
</div>




{% include 'adminpanel/index/footer.html' %}
