{% load static %}
{% load i18n %}
 {% load static %}
{% include 'website/base/header.html' %}

  	<title>Yağ Dükkanım</title>
</head>
<body class="style-10">

    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">Wird geladen</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% comment %}
{% include 'website/base/header2.html' %}
{% endcomment %}


            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:home' %}">Home</a>
                    <a href="#">Einloggen</a>
                </div>

                <div class="information-blocks">
                    <div class="row">
                        <div class="col-sm-6 information-entry">
                            <div class="login-box">
                                <div class="article-container style-1">
                                    <h3>Melden Sie sich jetzt an, wenn Sie Mitglied sind</h3>
                                    <p>Moda Di Vivere Wenn Sie bereits Mitglied unserer Website sind, melden Sie sich sofort an.</p>
                                </div>
                                <form action="{% url 'accounts:login' %}" method="post">
                                {% csrf_token %}
                                    <label>Nutzername</label>
                                    {{ login_form.username }}
                                    <label style="margin-top:25px;">Passwort</label>
                                    {{ login_form.password }}

                                    <div class="button style-10" style="margin-top:25px;">Einloggen<input type="submit" value="" /></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-6 information-entry">
                            <div class="login-box">
                                <div class="article-container style-1">
                                    <h3>Neues Mitglied</h3>
                                    <p>Moda Di Vivere Erstellen Sie jetzt einen Benutzer, um Mitglied unserer Website zu werden.</p>
                                </div>
                                <a href="{% url 'accounts:client-register' %}" class="button style-12">Benutzer erstellen</a>
                            </div>
                        </div>
                    </div>
                </div>


{% include 'website/base/footer.html' %}
