 {% load static %}
 <body>
		<!-- Start Preloader Area -->
		<div class="loader-wrapper">
			<div class="loader">
				<div class="dot-wrap">
					<span class="dot"></span>
					<span class="dot"></span>
					<span class="dot"></span>
					<span class="dot"></span>
				</div>
			</div>
		</div>
		<!-- End Preloader Area -->
 
		<!-- Start Navbar Area -->
		<div class="navbar-area">
			<!-- Menu For Mobile Device -->
			<div class="mobile-nav">
				<a href="index.html" class="logo">
					<img src="{% static 'website/img/logo.png' %}" alt="Logo">
				</a>
			</div>

			<!-- Menu For Desktop Device -->
			<div class="main-nav">
				<div class="container-fluid">
					<nav class="navbar navbar-expand-md">
						<a class="navbar-brand" href="index.html">
							<img src="{% static 'website/img/logo.png' %}" alt="Logo">
						</a>
						
						<div class="collapse navbar-collapse mean-menu">
							<ul class="navbar-nav m-auto">
								<li class="nav-item">
									<a href="#" class="nav-link">
										Home
										<i class="bx bx-chevron-down"></i>
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="index.html" class="nav-link">Home One</a>
										</li>
										<li class="nav-item">
											<a href="index-2.html" class="nav-link">Home Two</a>
										</li>
										<li class="nav-item">
											<a href="index-3.html" class="nav-link">Home Three</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link">
										Courses
										<i class="bx bx-chevron-down"></i>
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="courses.html" class="nav-link">Courses</a>
										</li>
										<li class="nav-item">
											<a href="single-course.html" class="nav-link">Single Course</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link active">
										Pages
										<i class="bx bx-chevron-down"></i>
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="about.html" class="nav-link">About</a>
										</li>
										<li class="nav-item">
											<a href="feedback.html" class="nav-link">Feedback</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												Events
												<i class='bx bx-chevron-right'></i>
											</a>

											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="events.html" class="nav-link">Events</a>
												</li>
												<li class="nav-item">
													<a href="single-event.html" class="nav-link">Single Event</a>
												</li>
											</ul>
										</li>
										<li class="nav-item">
											<a href="instructors.html" class="nav-link">Instructors</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link active">
												User
												<i class='bx bx-chevron-right'></i>
											</a>

											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="my-account.html" class="nav-link">My Account</a>
												</li>
												<li class="nav-item">
													<a href="log-in.html" class="nav-link">Log In</a>
												</li>
												<li class="nav-item">
													<a href="registration.html" class="nav-link active">Registration</a>
												</li>
												<li class="nav-item">
													<a href="recover-password.html" class="nav-link">Recover Password</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="gallery.html" class="nav-link">Gallery</a>
										</li>
										<li class="nav-item">
											<a href="faq.html" class="nav-link">FAQ</a>
										</li>
										<li class="nav-item">
											<a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
										</li>
										<li class="nav-item">
											<a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>
										</li>
										<li class="nav-item">
											<a href="coming-soon.html" class="nav-link">Coming Soon</a>
										</li>
										<li class="nav-item">
											<a href="404.html" class="nav-link">404 Error Page</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link">
										Shop
										<i class="bx bx-chevron-down"></i>
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="shop.html" class="nav-link">Shop</a>
										</li>
										<li class="nav-item">
											<a href="cart.html" class="nav-link">Cart</a>
										</li>
										<li class="nav-item">
											<a href="checkout.html" class="nav-link">Checkout</a>
										</li>
										<li class="nav-item">
											<a href="single-product.html" class="nav-link">Single Product</a>
										</li>
										<li class="nav-item">
											<a href="wishlist.html" class="nav-link">Wishlist</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link">
										Blog
										<i class="bx bx-chevron-down"></i>
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="blog-column-one.html" class="nav-link">Blog Column One</a>
										</li>
										<li class="nav-item">
											<a href="blog-column-two.html" class="nav-link">Blog Column Two</a>
										</li>
										<li class="nav-item">
											<a href="blog-column-three.html" class="nav-link">Blog Column Three</a>
										</li>
										<li class="nav-item">
											<a href="blog-left-sidebar.html" class="nav-link">Blog Left Sidebar</a>
										</li>
										<li class="nav-item">
											<a href="single-blog.html" class="nav-link">Single Blog</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="contact.html" class="nav-link">Contact</a>
								</li>
							</ul>
							
							<!-- Start Other Option -->
							<div class="others-option">
								<div class="option-item">
									<i class="search-btn bx bx-search"></i>
									<i class="close-btn bx bx-x"></i>
									
									<div class="search-overlay search-popup">
										<div class='search-box'>
											<form class="search-form">
												<input class="search-input" name="search" placeholder="Search" type="text">

												<button class="search-button" type="submit"><i class="bx bx-search"></i></button>
											</form>
										</div>
									</div>
								</div>

								<div class="cart-icon">
									<a href="cart.html">
										<i class="flaticon-shopping-cart"></i>
										<span>0</span>
									</a>
								</div>	
								
								<div class="register">
									<a href="{% url 'accounts:login' %}" class="default-btn">
										Giriş Yap / Kaydol
									</a>
								</div>	
							</div>
							<!-- End Other Option -->
						</div>
					</nav>
				</div>
			</div>

			<!-- Start Others Option For Responsive -->
			<div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="option-inner">
                            <div class="others-option justify-content-center d-flex align-items-center">
                                <div class="option-item">
									<i class="search-btn bx bx-search"></i>
									<i class="close-btn bx bx-x"></i>
									
									<div class="search-overlay search-popup">
										<div class='search-box'>
											<form class="search-form">
												<input class="search-input" name="search" placeholder="Search" type="text">

												<button class="search-button" type="submit"><i class="bx bx-search"></i></button>
											</form>
										</div>
									</div>
								</div>

								<div class="cart-icon">
									<a href="cart.html">
										<i class="flaticon-shopping-cart"></i>
										<span>0</span>
									</a>
								</div>	
								
								<div class="register">
									<a href="{% url 'accounts:login' %}" class="default-btn">
										Giriş Yap / Kaydol
									</a>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- End Others Option For Responsive -->
		</div>
		<!-- End Navbar Area -->

		<!-- Start Page Title Area -->
		<div class="page-title-area bg-10">
			<div class="container">
				<div class="page-title-content">
					<h2>Kaydol</h2>
					<ul>
						<li>
							<a href="index.html">
								Home 
							</a>
						</li>
						
						<li class="active">Kaydol</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->