{% load static %}
{% include 'adminpanel/index/header.html' %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

<script src="{% static 'admin/js/plugins/uploaders/fileinput/plugins/purify.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/uploaders/fileinput/plugins/sortable.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/uploaders/fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/uploader_bootstrap.js' %}"></script>




{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}




<!-- Content area -->
<div class="content">

  <!-- Vertical form options -->
  <div class="row">
    <div class="col-md-12">

      <!-- Basic layout-->
      <div class="card">
        <div class="card-header header-elements-inline">
          <h5 class="card-title">Muster aktualisieren</h5>

        </div>

        <div class="card-body">
          <form action="{% url 'musteri:musteri-duzenle' form.instance.pk %}" enctype='multipart/form-data' method="post">
            {% csrf_token %}

            <div class="form-group" style=" text-transform: uppercase; font-size: 14px; ">

            <table style="width:100%">
              <tr>
                <tr> <td> <label>Vorname Nachname: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ musteri.user.first_name }} {{ musteri.user.last_name }}</label> </td></tr>

                <tr> <td> <label>Benutzername: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ musteri.user.username }}</label> </td></tr>

                <tr> <td> <label>E Mail: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ musteri.user.email }}</label> </td></tr>

                <tr> <td> <label>Telefon: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ form.tel }}</label> </td></tr>

                <tr> <td> <label>Adressen : </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ musteri.adres }}</label> </td></tr>

                <tr> <td> <label> Kennnummer: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ musteri.tckn }}</label> </td></tr>

                <tr> <td> <label>Name Des Unternehmens:</label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ musteri.client_company.firma_unvani}}</label> </td></tr>

                <tr> <td> <label>Firmentelefon:</label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ musteri.client_company.company_telephone }}</label> </td></tr>

                <tr> <td> <label>Anschrift Des Unternehmens:</label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ musteri.client_company.company_address }}</label> </td></tr>

                <tr> <td> <label>Unternehmen Finanzamt: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ musteri.client_company.vergi_dairesi }}</label> </td></tr>

                <tr> <td> <label>Steuernummer Des Unternehmens: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ musteri.client_company.vergi_no }}</label> </td></tr>

                <tr> <td> <label>Frachtbenutzername: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ form.kargo_kullanici_adi }}</label> </td></tr>

                <tr> <td> <label>Versand Passwort: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ form.kargo_sifre }}</label> </td></tr>


            </table>




              </div>
            <div class="text-right">
              <button type="submit" class="btn btn-primary">Kunde Aktualisieren <i class="icon-paperplane ml-2"></i></button>
            </div>

          </form>

        </div>
      </div>
      <!-- /basic layout -->

    </div>
  </div>
</div>




{% include 'adminpanel/index/footer.html' %}