{% load static %}
{% include 'adminpanel/index/header.html' %}

<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

<script src="{% static 'admin/js/plugins/media/fancybox.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/gallery_library.js' %}"></script>

{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}

<!-- Content area -->
<div class="content">

  <!-- Media library -->
    <div class="card" style="overflow: auto">
    <div class="card-header bg-white header-elements-inline " >
      <h4 class="card-title"> Kunden</h4>
    </div>

    <table class="table table-striped media-library  " style="overflow: auto" >
      <thead style="overflow: auto">
        <tr style="overflow: auto">
          <th>PK</th>
          <th>Vorname Nachname</th>
          <th>Benutzername</th>
          <th>Telefon </th>
          <th>TC Kennnummer</th>
          <th>Adressen</th>
          <th>E Posta</th>

          <th class="text-center">Transaktionen</th>
        </tr>
      </thead>
      
      <tbody style="overflow: auto">

        {% for musteri in musteriler %}

        <tr style="overflow: auto">
          <td><label> {{musteri.pk }} </label> </td>
          <td><label style="inline-size: max-content;"> {{ musteri.user.first_name }} {{ musteri.user.last_name }}</label> </td>
          <td><label> {{musteri.user.username }}</label> </td>

          <td><label> {{musteri.tel }}</label> </td>
          <td> <label> {{ musteri.tckn }} </label> </td>
          <td> <label> {{ musteri.adres }} </label> </td>
          <td> <label> {{ musteri.user.email }} </label> </td>



          <td class="text-center">
            <div class="list-icons">
              <div class="list-icons-item dropdown">
                <a href="gallery_library.html#" class="list-icons-item caret-0 dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-menu9"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right">

                  <a href="{% url 'musteri:musteri-duzenle' musteri.pk %}" class="dropdown-item"><i class="icon-pencil7"></i> BEARBEITEN</a>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'musteri:musteri-sil' musteri.pk %}" class="dropdown-item"><i class="icon-bin"></i> LÖSCHEN</a>
                </div>

              </div>
            </div>
          </td>

        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- /media library -->

</div>
<!-- /content area -->


{% include 'adminpanel/index/footer.html' %}