{% extends "front_end/base/main.html" %}
{% load static %}
{% block content %}


<style media="screen">
  @media (min-width: 992px){
  .typeheader-2 .container-megamenu.vertical .vertical-wrapper ul.megamenu{display: none;}
  .typeheader-2 .container-megamenu.vertical:hover .vertical-wrapper ul.megamenu{display: block !important;}
}

</style>
<!-- Main Container  -->
<div class="main-container container" style="margin: 40px auto;">
  <ul class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i></a></li>
     <li><a href="#">Hakkımızda</a></li>
  </ul>

  <div class="row">
    <div id="content" class="col-sm-12">
      <div class="about-us about-demo-4">
        <div class="row">
          <div class="col-lg-6 col-md-6 about-us-content">
            <div class="content-about">
              <h2 class="about-title">Hakkımızda</h2> <img src="{% static 'front_end/image/demo/about/about-us-demo4.jpg' %}" alt="About Us">
              <p class="description-about"> {{company_info.company_about_us | safe}}  </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 faq-about-us">
            <h2 class="about-title">Sık Sorulan Sorular</h2>
            <div class="content-faq">
              <div id="accordion" role="tablist" aria-multiselectable="true">


                {% for a in sss %}
                <div class="panel">
                  <div class="panel-head" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{a.pk}}" aria-expanded="false" aria-controls="collapseOne" class="collapsed"> <span>{{a.sss_title}}</span> </a>
                    </h4>
                  </div>
                  <div id="collapseOne{{a.pk}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">{{a.sss_detail | safe}}</div>
                  </div>
                </div>
                 {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- //Main Container -->




{% endblock %}
