{% load i18n %}
{% load static %}
{% include 'website/base/header.html' %}
  	<title>Modadivivere - {% trans "Über uns"%}</title>
</head>
<body class="style-10">
    
    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">{% trans "Wird geladen"%}</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}

            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">{% trans "Startseite"%}</a>
                    <a href="#">{% trans "Über uns"%} </a>
                </div>


                <div class="information-blocks">
                    <div class="row">
                        <div class="information-blocks">
                            <div class="col-md-6">
                                <img class="project-thumbnail" src="{{ company_image.get_image_url }}" alt="" />
                            </div>
                        </div>
                        <div class="col-md-6 information-entry">
                            <div class="article-container style-1">
                                <h2>Moda Di Vivere</h2>
                                <p>
                                    Marken Mode zollfrei einkaufen in der Boutique moda di vivere
                                </p>
                                <p>
                                    Als Online Boutique aus Samnaun bieten wir Ihnen eine attraktive Auswahl an Mode & Freizeitbekleidung sowie Outdoorbekleidung für alle, die gerne in der freien Natur aktiv sind und somit besondere Ansprüche an ihre Garderobe stellen. Damen, Herren und Kinder können sich bei uns für den Alltag sowie für die Freizeit einkleiden und dabei von einer bewährten Markenqualität beim zollfrei Shopping profitieren. 
                                </p>
                             

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="information-blocks">
                    <div class="row">

                        <div class="col-md-12 information-entry">
                            <div class="article-container style-1">

                                <p>
                                    In unserer Online Boutique finden Sie renommierte Labels wie Alprausch, Bench, Jack Wolfskin, Meindl, Schöffel und Sun Valley, die sich grossteils auf hochwertige Outdoor-Mode spezialisiert haben. Profitieren Sie beispielsweise beim zollfrei Einkaufen von bruchsicheren Brillen, schnell trocknendem Gewebe, funktionellem Stretchmaterial und atmungsaktiven, winddichten und wasserabweisenden Materialien. So können Sie sich bei allen Outdooraktivitäten voll und ganz auf Ihre Kleidung verlassen.
                                </p>
                                <p>
                                    Neben einer grossen Auswahl an Freizeit- und Outdoormode für Damen und Herren, finden Sie in unserem Online Boutique zudem eine Kinder-Kollektion für kleine Abenteurer, die Sie zu attraktiven Preisen zollfrei einkaufen können.
                                    Verpassen Sie nicht unsere Sale-Angebote
                                </p>
                                <p>
                                    In unserer moda di vivere Mode Boutique halten wir regelmässig wechselnde Sale-Angebote für Sie bereit, die Sie zollfrei einkaufen können. Wenn Sie zollfrei einkaufen und zusätzlich sparen möchten, sind unsere Spar-Deals genau das Richtige für Sie. Da die Angebote im Sale regelmässig aktualisiert und ergänzt werden, lohnt es immer sich für Sie, hier öfters vorbeizuschauen, um hochwertige Mode zum Schnäppchen-Preis zu erhalten.
                                    Entdecken Sie die Neuheiten aus unserer Boutique
                                </p>
                                <p>
                                    Um Ihnen das zollfrei Shopping so abwechslungsreich wie möglich zu gestalten, ergänzen wir die Auswahl in unserer Mode Boutique regelmässig um attraktive Neuheiten. Diese werden Ihnen übersichtlich in der gleichnamigen Kategorie angezeigt. Neben Produk
                                </p>
                                
                                </div>
                            </div>
                        </div>
                    </div>


                <br><br><br><br>

{% include 'website/product/featured-popular-new.html' %}

{% include 'website/base/footer.html' %}
