{% load static %}
{% load i18n %}

{% include 'website/base/header.html' %}
  	<title>Moda Di Vivere - {% trans "Ambiente" %} </title>
</head>
<body class="style-10">

    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">{% trans "Ambiente" %}</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}

            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">{% trans "Home" %}</a>
                    <a href="#">{% trans "Ambiente" %} </a>
                </div>

                <div class="information-blocks">
                    <div class="row">
                      
                        {% for ambiente in ambientes %}
                        <div class="col-md-12">
                            <a href="{{ ambiente.get_ambiente_image.0.get_image_url }}" style="margin:25px;  " >
                                <img src="{{ ambiente.get_ambiente_image.0.get_image_url }}" alt="Image" style="margin:25px;  ">
                                
                            </a>
                        </div>
                        {% endfor %}

                    </div>
                </div>

                


{% include 'website/base/footer.html' %}
