{% load i18n %}
{% load static %}
{% include 'website/base/header.html' %}
  	<title>Moda Di Vivere - {% trans "Ansprechpartner" %}</title>
</head>
<body class="style-10">
    
    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">{% trans "Wird geladen" %}</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}

            <!-- HEADER -->

            <div class="content-push">

                <div class="contact-spacer"></div>
                
                <div class="information-blocks">
                    <div class="map-box type-2">
                        <div class="mapouter"><div class="gmap_canvas"><iframe width="1170" height="450" id="gmap_canvas" src="https://maps.google.com/maps?q=Dorfstrasse%2049%20Samnaun%2C%20Schweiz&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://2piratebay.org">piratebay</a></div><style>.mapouter{position:relative;text-align:right;height:450px;width:1170px;}.gmap_canvas {overflow:hidden;background:none!important;height:450px;width:1170px;}</style></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 information-entry">
                            <h3 class="block-title main-heading">{% trans "Bleiben wir in Kontakt" %}</h3>
                            <div class="article-container style-1" style="font-family: 'Montserrat', sans-serif; line-height: 24px;">
                                <p>{{ company_info.company_about_us }}</p>
                                <h5>{% trans "Firmenadresse"%}</h5>
                                <p>{{ company_info.company_address }}</p>
                                <b>GSM:</b> <a href="tel:{{ company_info.company_mobile_phone_number }}">{{ company_info.company_mobile_phone_number }}</a> <br/>
                                {% if company_info.company_mobile_phone_number_two %}
                                <b>GSM2: </b><a href="tel:{{ company_info.company_mobile_phone_number_two }}">{{ company_info.company_mobile_phone_number_two }}</a>  <br/>
                                {% endif %}
                                <b>TEL: </b><a href="tel:{{ company_info.company_phone_number }}">{{ company_info.company_phone_number }}</a> <br/>
                                <b>Email: </b><a href="mailto:{{ company_info.company_email }}">{{ company_info.company_email }}</a>
                            </div>
                            
                        </div>
                        <div class="col-md-8 information-entry">
                            <h3 class="block-title main-heading">{% trans "Kontakt" %}</h3>
								<form action="{% url 'website:iletisim'  %}" method="post" novalidate="novalidate" class="col rounded-field">
									{% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>{% trans "Vorname Nachname" %} <span>*</span></label>
                                        <input class="simple-field" type="text"  name="name" id="name" placeholder="{% trans "Vorname Nachname" %}" required value="" />
                                        <div class="clear"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>{% trans "Gegenstand"%}</label>
                                        <input class="simple-field" type="text" name="subject" id="subject" placeholder="{% trans "Gegenstand"%}" value="" />
                                        <div class="clear"></div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>{% trans "Email" %} <span>*</span></label>
                                        <input class="simple-field" type="email" name="email" id="email" placeholder="{% trans "Email" %} " required value="" />
                                        <label>{% trans "Nachricht"%} <span>*</span></label>
                                        <textarea class="simple-field" name="text"  placeholder="{% trans "Nachricht"%}" required></textarea>
                                        <div class="button style-10">{% trans "Senden" %}<input type="submit" value="" /></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- FOOTER -->

    <script src="{% static 'website/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'website/js/idangerous.swiper.min.js' %}"></script>
    <script src="{% static 'website/js/global.js' %}"></script>

    <!-- custom scrollbar -->
    <script src="{% static 'website/js/jquery.mousewheel.js' %}"></script>
    <script src="{% static 'website/js/jquery.jscrollpane.min.js' %}"></script>

    <!-- map -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=tr"></script>
    <script src="{% static 'website/js/map.js' %}"></script>
{% include 'website/product/featured-popular-new.html' %}

{% include 'website/base/footer.html' %}

