{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/idangerous.swiper.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700%7CDancing+Script%7CMontserrat:400,700%7CMerriweather:400,300italic%7CLato:400,700,900' rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!--[if IE 9]>
        <link href="css/ie9.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="shortcut icon" href="img/favicon-6.ico" />
  	<title>{% trans "Mango - FAQ" %}</title>
</head>
<body class="style-10">

    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">{% trans "loading" %}</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">

        <div class="content-center fixed-header-margin">
            <!-- HEADER -->
            <div class="header-wrapper style-10">
                <header class="type-1">

                    <div class="header-product">
                        <div class="logo-wrapper">
                            <a href="#" id="logo"><img alt="" src="img/logo-9.png"></a>
                        </div>
                        <div class="product-header-message">
                           {% trans "FREE SHIPPING ON ALL UK ORDERS this week" %}
                        </div>
                        <div class="product-header-content">
                            <div class="line-entry">
                                <div class="menu-button responsive-menu-toggle-class"><i class="fa fa-reorder"></i></div>
                                <div class="header-top-entry increase-icon-responsive open-search-popup">
                                    <div class="title"><i class="fa fa-search"></i> <span>{% trans "Search" %}</span></div>
                                </div>
                                <div class="header-top-entry increase-icon-responsive">
                                    <div class="title"><i class="fa fa-user"></i> <span>{% trans "My Account" %}</span></div>
                                </div>
                                <div class="header-top-entry">
                                    <div class="title"><img alt="" src="img/flag-lang-1.png">{% trans "English" %}<i class="fa fa-caret-down"></i></div>
                                    <div class="list">
                                        <a class="list-entry" href="#"><img alt="" src="img/flag-lang-2.png">{% trans "French" %}</a>
                                        <a class="list-entry" href="#"><img alt="" src="img/flag-lang-3.png">{% trans "Spanish" %}</a>
                                    </div>
                                </div>
                                <div class="header-top-entry">
                                    <div class="title">$ USD <i class="fa fa-caret-down"></i></div>
                                    <div class="list">
                                        <a class="list-entry" href="#">{% trans "$ CAD" %}</a>
                                        <a class="list-entry" href="#">{% trans "€ EUR" %}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="middle-line"></div>
                            <div class="line-entry">
                                <a href="#" class="header-functionality-entry"><i class="fa fa-copy"></i><span>{% trans "Compare" %}</span></a>
                                <a href="#" class="header-functionality-entry"><i class="fa fa-heart-o"></i><span>{% trans "Wishlist" %}</span></a>
                                <a href="#" class="header-functionality-entry open-cart-popup"><i class="fa fa-shopping-cart"></i><span>{% trans "My Cart" %}</span> <b>$255,99</b></a>
                            </div>
                        </div>
                    </div>

                    <div class="close-header-layer"></div>
                    <div class="navigation">
                        <div class="navigation-header responsive-menu-toggle-class">
                            <div class="title">{% trans "Navigation" %}</div>
                            <div class="close-menu"></div>
                        </div>
                        <div class="nav-overflow">
                            <nav>
                                <ul>
                                    <li class="full-width">
                                        <a href="#" class="active">Home</a><i class="fa fa-chevron-down"></i>
                                        <div class="submenu">
                                            <div class="full-width-menu-items-right">
                                                <div class="menu-slider-arrows">
                                                    <a class="left"><i class="fa fa-chevron-left"></i></a>
                                                    <a class="right"><i class="fa fa-chevron-right"></i></a>
                                                </div>
                                                <div class="submenu-list-title"><a href="#">{% trans "Reccomended Products" %}</a><span class="toggle-list-button"></span></div>
                                                <div class="menu-slider-out">
                                                    <div class="menu-slider-in">
                                                        <div class="menu-slider-entry">
                                                            <div class="product-slide-entry">
                                                                <div class="product-image">
                                                                    <img src="img/product-minimal-1.jpg" alt="" />
                                                                    <div class="bottom-line left-attached">
                                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                                        <a class="bottom-line-a square"><i class="fa fa-expand"></i></a>
                                                                    </div>
                                                                </div>
                                                                <a href="#" class="title">{% trans "1.Pullover Batwing Sleeve Zigzag" %}</a>
                                                                <div class="price">
                                                                    <div class="prev">$199,99</div>
                                                                    <div class="current">$119,99</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="menu-slider-entry">
                                                            <div class="product-slide-entry">
                                                                <div class="product-image">
                                                                    <img src="img/product-minimal-2.jpg" alt="" />
                                                                    <div class="bottom-line left-attached">
                                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                                        <a class="bottom-line-a square"><i class="fa fa-expand"></i></a>
                                                                    </div>
                                                                </div>
                                                                <a href="#" class="title">{% trans "2.Pullover Batwing Sleeve Zigzag" %}</a>
                                                                <div class="price">
                                                                    <div class="prev">$199,99</div>
                                                                    <div class="current">$119,99</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="menu-slider-entry">
                                                            <div class="product-slide-entry">
                                                                <div class="product-image">
                                                                    <img src="img/product-minimal-3.jpg" alt="" />
                                                                    <div class="bottom-line left-attached">
                                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                                        <a class="bottom-line-a square"><i class="fa fa-expand"></i></a>
                                                                    </div>
                                                                </div>
                                                                <a href="#" class="title">{% trans "3.Pullover Batwing Sleeve Zigzag" %}</a>
                                                                <div class="price">
                                                                    <div class="prev">$199,99</div>
                                                                    <div class="current">$119,99</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="menu-slider-entry">
                                                            <div class="product-slide-entry">
                                                                <div class="product-image">
                                                                    <img src="img/product-minimal-4.jpg" alt="" />
                                                                    <div class="bottom-line left-attached">
                                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                                        <a class="bottom-line-a square"><i class="fa fa-expand"></i></a>
                                                                    </div>
                                                                </div>
                                                                <a href="#" class="title">{% trans "4.Pullover Batwing Sleeve Zigzag" %}</a>
                                                                <div class="price">
                                                                    <div class="prev">$199,99</div>
                                                                    <div class="current">$119,99</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="menu-slider-entry">
                                                            <div class="product-slide-entry">
                                                                <div class="product-image">
                                                                    <img src="img/product-minimal-5.jpg" alt="" />
                                                                    <div class="bottom-line left-attached">
                                                                        <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                                        <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                                        <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                                        <a class="bottom-line-a square"><i class="fa fa-expand"></i></a>
                                                                    </div>
                                                                </div>
                                                                <a href="#" class="title">{% trans "5.Pullover Batwing Sleeve Zigzag" %}</a>
                                                                <div class="price">
                                                                    <div class="prev">$199,99</div>
                                                                    <div class="current">$119,99</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="full-width-menu-items-left">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="submenu-list-title"><a href="index-wide.html">{% trans "Homepages" %} <span class="menu-label blue">new</span></a><span class="toggle-list-button"></span></div>
                                                        <ul class="list-type-1 toggle-list-container">
                                                            <li><a href="index-wide.html"><i class="fa fa-angle-right"></i>{% trans "Mango - Wide Header" %}</a></li>
                                                            <li><a href="index-electronic.html"><i class="fa fa-angle-right"></i>{% trans "Mango - Electronic" %}</a></li>
                                                            <li><a href="index-everything.html"><i class="fa fa-angle-right"></i>{% trans "Mango - Everything" %}</a></li>
                                                            <li><a href="index-fullwidthheader.html"><i class="fa fa-angle-right"></i>{% trans "Mango - Fullwidth Header" %}</a></li>
                                                            <li><a href="index-food.html"><i class="fa fa-angle-right"></i>{% trans "Mango - Food" %}</a></li>
                                                            <li><a href="index-underwear.html"><i class="fa fa-angle-right"></i>{% trans "Mango - Underwear" %}</a></li>
                                                            <li><a href="index-bags.html"><i class="fa fa-angle-right"></i>{% trans "Mango - Bags" %}</a></li>
                                                            <li><a href="index-fullwidth-noslider.html"><i class="fa fa-angle-right"></i>{% trans "Mango - Fullwidth No Slider" %}</a></li>
                                                            <li><a href="index-lookbook.html"><i class="fa fa-angle-right"></i>{% trans "Mango - Lookbook" %}</a></li>
                                                            <li><a href="index-wine-left.html"><i class="fa fa-angle-right"></i>{% trans "Mango - Wine" %}</a></li>
                                                            <li><a href="index-fullwidth.html"><i class="fa fa-angle-right"></i>{% trans "Mango - Fullwidth" %}</a></li>
                                                            <li><a href="index-fullwidth-left.html"><i class="fa fa-angle-right"></i>{% trans "Mango - Fullwidth Left Sidebar" %}</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="submenu-list-title"><a href="index-wide.html">{% trans "Homepages" %} <span class="menu-label blue">{% trans "new" %}</span></a><span class="toggle-list-button"></span></div>
                                                        <ul class="list-type-1 toggle-list-container">
                                                            <li><a href="index-parallax.html"><i class="fa fa-angle-right"></i>Mango - Parallax</a></li>
                                                            <li><a href="index-grid.html"><i class="fa fa-angle-right"></i>Mango - Grid Light</a></li>
                                                            <li><a href="index-leftsidebar.html"><i class="fa fa-angle-right"></i>Mango - Grid Left Sidebar</a></li>
                                                            <li><a href="index-minimal.html"><i class="fa fa-angle-right"></i>Mango - Minimal</a></li>
                                                            <li><a href="index-toys.html"><i class="fa fa-angle-right"></i>Mango - Toys</a></li>
                                                            <li><a href="index-furniture.html"><i class="fa fa-angle-right"></i>Mango - Furniture</a></li>
                                                            <li><a href="index-jewellery.html"><i class="fa fa-angle-right"></i>Mango - Jewellery</a></li>
                                                            <li><a href="index-mini.html"><i class="fa fa-angle-right"></i>Mango - Mini</a></li>
                                                            <li><a href="index-presentation.html"><i class="fa fa-angle-right"></i>Mango - Presentation</a></li>
                                                            <li><a href="index-parallax-fullwidth.html"><i class="fa fa-angle-right"></i>Mango - Parallax Fullwidth</a></li>
                                                            <li><a href="index-parallax-boxed.html"><i class="fa fa-angle-right"></i>Mango - Parallax Boxed</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="submenu-links-line">
                                                <div class="submenu-links-line-container">
                                                    <div class="cell-view">
                                                        <div class="line-links"><b>Quicklinks:</b>  <a href="#">Blazers</a>, <a href="#">Jackets</a>, <a href="#">Shoes</a>, <a href="#">Bags</a>, <a href="#">Special offers</a>, <a href="#">Sales and discounts</a></div>
                                                    </div>
                                                    <div class="cell-view">
                                                        <div class="red-message"><b>-20% sale only this week. Don’t miss buy something!</b></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="full-width-columns">
                                        <a href="#">Pages</a><i class="fa fa-chevron-down"></i>
                                        <div class="submenu">
                                            <div class="product-column-entry">
                                                <div class="image"><img alt="" src="img/product-menu-2.jpg"></div>
                                                <div class="submenu-list-title"><a href="contact.html">Contact Us</a><span class="toggle-list-button"></span></div>
                                                <div class="description toggle-list-container">
                                                    <ul class="list-type-1">
                                                        <li><a href="contact.html"><i class="fa fa-angle-right"></i>Contact Us 1</a></li>
                                                        <li><a href="contact-2.html"><i class="fa fa-angle-right"></i>Contact Us 2</a></li>
                                                        <li><a href="contact-3.html"><i class="fa fa-angle-right"></i>Contact Us 3</a></li>
                                                        <li><a href="contact-4.html"><i class="fa fa-angle-right"></i>Contact Us 4</a></li>
                                                    </ul>
                                                </div>
                                                <div class="hot-mark">hot</div>
                                            </div>
                                            <div class="product-column-entry">
                                                <div class="image"><img alt="" src="img/product-menu-4.jpg"></div>
                                                <div class="submenu-list-title"><a href="about-1.html">About Us</a><span class="toggle-list-button"></span></div>
                                                <div class="description toggle-list-container">
                                                    <ul class="list-type-1">
                                                        <li><a href="about-1.html"><i class="fa fa-angle-right"></i>About Us Fullwidth 1</a></li>
                                                        <li><a href="about-2.html"><i class="fa fa-angle-right"></i>About Us Fullwidth 2</a></li>
                                                        <li><a href="about-3.html"><i class="fa fa-angle-right"></i>About Us Fullwidth 3</a></li>
                                                        <li><a href="about-4.html"><i class="fa fa-angle-right"></i>About Us Sidebar 1</a></li>
                                                        <li><a href="about-5.html"><i class="fa fa-angle-right"></i>About Us Sidebar 2</a></li>
                                                    </ul>
                                                </div>
                                                <div class="hot-mark yellow">sale</div>
                                            </div>
                                            <div class="product-column-entry">
                                                <div class="image"><img alt="" src="img/product-menu-3.jpg"></div>
                                                <div class="submenu-list-title"><a href="cart.html">Cart</a><span class="toggle-list-button"></span></div>
                                                <div class="description toggle-list-container">
                                                    <ul class="list-type-1">
                                                        <li><a href="cart.html"><i class="fa fa-angle-right"></i>Cart</a></li>
                                                        <li><a href="cart-traditional.html"><i class="fa fa-angle-right"></i>Cart Traditional</a></li>
                                                        <li><a href="checkout.html"><i class="fa fa-angle-right"></i>Checkout</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-column-entry">
                                                <div class="image"><img alt="" src="img/product-menu-5.jpg"></div>
                                                <div class="submenu-list-title"><a href="teaser-background.html">Coming Soon</a><span class="toggle-list-button"></span></div>
                                                <div class="description toggle-list-container">
                                                    <ul class="list-type-1">
                                                        <li><a href="teaser-background.html"><i class="fa fa-angle-right"></i>Coming Soon 1</a></li>
                                                        <li><a href="teaser-background-2.html"><i class="fa fa-angle-right"></i>Coming Soon 2</a></li>
                                                        <li><a href="teaser-simple.html"><i class="fa fa-angle-right"></i>Coming Soon 3</a></li>
                                                    </ul>
                                                </div>
                                                <div class="hot-mark">hot</div>
                                            </div>
                                            <div class="product-column-entry">
                                                <div class="image"><img alt="" src="img/product-menu-2.jpg"></div>
                                                <div class="submenu-list-title"><a href="shop.html">Products</a><span class="toggle-list-button"></span></div>
                                                <div class="description toggle-list-container">
                                                    <ul class="list-type-1">
                                                        <li><a href="shop.html"><i class="fa fa-angle-right"></i>Shop</a></li>
                                                        <li><a href="product.html"><i class="fa fa-angle-right"></i>Product</a></li>
                                                        <li><a href="product-nosidebar.html"><i class="fa fa-angle-right"></i>No Sidebar</a></li>
                                                        <li><a href="product-tabnosidebar.html"><i class="fa fa-angle-right"></i>Tab No Sidebar</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="submenu-links-line">
                                                <div class="submenu-links-line-container">
                                                    <div class="cell-view">
                                                        <div class="line-links"><b>Quicklinks:</b>  <a href="shop.html">Blazers</a>, <a href="shop.html">Jackets</a>, <a href="shop.html">Shoes</a>, <a href="shop.html">Bags</a>, <a href="shop.html">Special offers</a>, <a href="shop.html">Sales and discounts</a></div>
                                                    </div>
                                                    <div class="cell-view">
                                                        <div class="red-message"><b>-20% sale only this week. Don’t miss buy something!</b></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="simple-list">
                                        <a href="shop.html">Products</a><i class="fa fa-chevron-down"></i>
                                        <div class="submenu">
                                            <ul class="simple-menu-list-column">
                                                <li><a href="shop.html"><i class="fa fa-angle-right"></i>Shop</a></li>
                                                <li><a href="product.html"><i class="fa fa-angle-right"></i>Product</a></li>
                                                <li><a href="product-nosidebar.html"><i class="fa fa-angle-right"></i>No Sidebar</a></li>
                                                <li><a href="product-tabnosidebar.html"><i class="fa fa-angle-right"></i>Tab No Sidebar</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="column-1">
                                        <a href="portfolio-default.html">Portfolio</a><i class="fa fa-chevron-down"></i>
                                        <div class="submenu">
                                            <div class="full-width-menu-items-left">
                                                <img class="submenu-background" src="img/product-menu-7.jpg" alt="" />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="submenu-list-title"><a href="portfolio-default.html">Our Portfolio</a><span class="toggle-list-button"></span></div>
                                                        <ul class="list-type-1 toggle-list-container">
                                                            <li><a href="portfolio-default.html"><i class="fa fa-angle-right"></i>Portfolio Default</a></li>
                                                            <li><a href="portfolio-simple.html"><i class="fa fa-angle-right"></i>Portfolio Simple</a></li>
                                                            <li><a href="portfolio-custom.html"><i class="fa fa-angle-right"></i>Portfolio Custom</a></li>
                                                            <li><a href="portfolio-customfullwidth.html"><i class="fa fa-angle-right"></i>Fullwidth Custom</a></li>
                                                            <li><a href="portfolio-simplefullwidth.html"><i class="fa fa-angle-right"></i>Fullwidth Simple</a></li>
                                                            <li><a href="project-default.html"><i class="fa fa-angle-right"></i>Project Default</a></li>
                                                            <li><a href="project-fullwidth.html"><i class="fa fa-angle-right"></i>Project Fullwidth</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="submenu-links-line">
                                                <div class="submenu-links-line-container">
                                                    <div class="cell-view">
                                                        <div class="line-links"><b>Quicklinks:</b>  <a href="shop.html">Blazers</a>, <a href="shop.html">Jackets</a>, <a href="shop.html">Shoes</a>, <a href="shop.html">Bags</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="column-1">
                                        <a href="blog.html">Blog</a><i class="fa fa-chevron-down"></i>
                                        <div class="submenu">
                                            <div class="full-width-menu-items-left">
                                                <img class="submenu-background" src="img/product-menu-8.jpg" alt="" />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="submenu-list-title"><a href="blog.html">Blog <span class="menu-label blue">new</span></a><span class="toggle-list-button"></span></div>
                                                        <ul class="list-type-1 toggle-list-container">
                                                            <li><a href="blog.html"><i class="fa fa-angle-right"></i>Blog Default</a></li>
                                                            <li><a href="blog-grid.html"><i class="fa fa-angle-right"></i>Blog Grid</a></li>
                                                            <li><a href="blog-timeline.html"><i class="fa fa-angle-right"></i>Blog Timeline</a></li>
                                                            <li><a href="blog-list.html"><i class="fa fa-angle-right"></i>Blog List</a></li>
                                                            <li><a href="blog-biggrid.html"><i class="fa fa-angle-right"></i>Blog Big Grid</a></li>
                                                            <li><a href="blog-detail.html"><i class="fa fa-angle-right"></i>Single Post</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="submenu-links-line">
                                                <div class="submenu-links-line-container">
                                                    <div class="cell-view">
                                                        <div class="line-links"><b>Quicklinks:</b>  <a href="shop.html">Blazers</a>, <a href="shop.html">Jackets</a>, <a href="shop.html">Shoes</a>, <a href="shop.html">Bags</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="simple-list">
                                        <a>More</a><i class="fa fa-chevron-down"></i>
                                        <div class="submenu">
                                            <ul class="simple-menu-list-column">
                                                <li><a href="login.html"><i class="fa fa-angle-right"></i>Login</a></li>
                                                <li><a href="error.html"><i class="fa fa-angle-right"></i>Error</a></li>
                                                <li><a href="faq.html"><i class="fa fa-angle-right"></i>Faq</a></li>
                                                <li><a href="compare.html"><i class="fa fa-angle-right"></i>Compare</a></li>
                                                <li><a href="wishlist.html"><i class="fa fa-angle-right"></i>Wishlist</a></li>
                                                <li><a href="shortcodes.html"><i class="fa fa-angle-right"></i>Shortcodes</a></li>
                                                <li><a href="elements-headers.html"><i class="fa fa-angle-right"></i>Elements - Headers</a></li>
                                                <li><a href="elements-footers.html"><i class="fa fa-angle-right"></i>Elements - Footers</a></li>
                                                <li><a href="elements-breadcrumbs.html"><i class="fa fa-angle-right"></i>Elements - Breadcrumbs</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                                <ul>
                                    <li><a href="http://themeforest.net/item/mango-responsive-ecommerce-html5-template/12050763?ref=8theme">Buy this theme</a></li>
                                    <li class="fixed-header-visible">
                                        <a class="fixed-header-square-button open-cart-popup"><i class="fa fa-shopping-cart"></i></a>
                                        <a class="fixed-header-square-button open-search-popup"><i class="fa fa-search"></i></a>
                                    </li>
                                </ul>
                                <div class="clear"></div>

                                <a class="fixed-header-visible additional-header-logo"><img src="img/logo-9.png" alt=""/></a>
                            </nav>
                            <div class="navigation-footer responsive-menu-toggle-class">
                                <div class="socials-box">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                    <div class="clear"></div>
                                </div>
                                <div class="navigation-copyright">Created by <a href="#">8theme</a>. All rights reserved</div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="clear"></div>
            </div>

            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="#">Home</a>
                    <a href="#">Faq</a>
                </div>

                <div class="information-blocks">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="accordeon">
                                <div class="accordeon-title active">How do I use a promotional code?</div>
                                <div class="accordeon-entry" style="display: block;">
                                    <div class="article-container style-1">
                                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </div>
                                </div>
                                <div class="accordeon-title">Is there any possibility to ship my order?</div>
                                <div class="accordeon-entry">
                                    <div class="article-container style-1">
                                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </div>
                                </div>
                                <div class="accordeon-title">I run a company and I would like to receive an invoice?</div>
                                <div class="accordeon-entry">
                                    <div class="article-container style-1">
                                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </div>
                                </div>
                                <div class="accordeon-title">How do I use a promotional code?</div>
                                <div class="accordeon-entry">
                                    <div class="article-container style-1">
                                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </div>
                                </div>
                                <div class="accordeon-title">Do you accept returns?<span class="inline-label red">Popular</span></div>
                                <div class="accordeon-entry">
                                    <div class="article-container style-1">
                                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </div>
                                </div>
                                <div class="accordeon-title">I run a company and I would like to receive an invoice?</div>
                                <div class="accordeon-entry">
                                    <div class="article-container style-1">
                                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </div>
                                </div>
                                <div class="accordeon-title">How do I use a promotional code?</div>
                                <div class="accordeon-entry">
                                    <div class="article-container style-1">
                                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </div>
                                </div>
                                <div class="accordeon-title">Do you accept returns?<span class="inline-label green">New</span></div>
                                <div class="accordeon-entry">
                                    <div class="article-container style-1">
                                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="accordeon">
                                <div class="accordeon-title">How do I use a promotional code?</div>
                                <div class="accordeon-entry">
                                    <div class="article-container style-1">
                                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </div>
                                </div>
                                <div class="accordeon-title">Is there any possibility to ship my order?</div>
                                <div class="accordeon-entry">
                                    <div class="article-container style-1">
                                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </div>
                                </div>
                                <div class="accordeon-title">I run a company and I would like to receive an invoice?</div>
                                <div class="accordeon-entry">
                                    <div class="article-container style-1">
                                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </div>
                                </div>
                                <div class="accordeon-title">How do I use a promotional code?</div>
                                <div class="accordeon-entry">
                                    <div class="article-container style-1">
                                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </div>
                                </div>
                                <div class="accordeon-title">Do you accept returns?<span class="red">Popular</span></div>
                                <div class="accordeon-entry">
                                    <div class="article-container style-1">
                                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </div>
                                </div>
                                <div class="accordeon-title">I run a company and I would like to receive an invoice?</div>
                                <div class="accordeon-entry">
                                    <div class="article-container style-1">
                                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </div>
                                </div>
                                <div class="accordeon-title">How do I use a promotional code?</div>
                                <div class="accordeon-entry">
                                    <div class="article-container style-1">
                                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </div>
                                </div>
                                <div class="accordeon-title">Do you accept returns?<span class="green">New</span></div>
                                <div class="accordeon-entry">
                                    <div class="article-container style-1">
                                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="information-blocks">
                    <div class="row">
                        <div class="col-sm-4 information-entry">
                            <h3 class="block-title inline-product-column-title">Featured products</h3>
                            <div class="inline-product-entry">
                                <a href="#" class="image"><img alt="" src="img/product-image-inline-1.jpg"></a>
                                <div class="content">
                                    <div class="cell-view">
                                        <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                                        <div class="price">
                                            <div class="prev">$199,99</div>
                                            <div class="current">$119,99</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="inline-product-entry">
                                <a href="#" class="image"><img alt="" src="img/product-image-inline-2.jpg"></a>
                                <div class="content">
                                    <div class="cell-view">
                                        <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                                        <div class="price">
                                            <div class="prev">$199,99</div>
                                            <div class="current">$119,99</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="inline-product-entry">
                                <a href="#" class="image"><img alt="" src="img/product-image-inline-3.jpg"></a>
                                <div class="content">
                                    <div class="cell-view">
                                        <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                                        <div class="price">
                                            <div class="prev">$199,99</div>
                                            <div class="current">$119,99</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-sm-4 information-entry">
                            <h3 class="block-title inline-product-column-title">Featured products</h3>
                            <div class="inline-product-entry">
                                <a href="#" class="image"><img alt="" src="img/product-image-inline-1.jpg"></a>
                                <div class="content">
                                    <div class="cell-view">
                                        <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                                        <div class="price">
                                            <div class="prev">$199,99</div>
                                            <div class="current">$119,99</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="inline-product-entry">
                                <a href="#" class="image"><img alt="" src="img/product-image-inline-2.jpg"></a>
                                <div class="content">
                                    <div class="cell-view">
                                        <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                                        <div class="price">
                                            <div class="prev">$199,99</div>
                                            <div class="current">$119,99</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="inline-product-entry">
                                <a href="#" class="image"><img alt="" src="img/product-image-inline-3.jpg"></a>
                                <div class="content">
                                    <div class="cell-view">
                                        <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                                        <div class="price">
                                            <div class="prev">$199,99</div>
                                            <div class="current">$119,99</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-sm-4 information-entry">
                            <h3 class="block-title inline-product-column-title">Featured products</h3>
                            <div class="inline-product-entry">
                                <a href="#" class="image"><img alt="" src="img/product-image-inline-1.jpg"></a>
                                <div class="content">
                                    <div class="cell-view">
                                        <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                                        <div class="price">
                                            <div class="prev">$199,99</div>
                                            <div class="current">$119,99</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="inline-product-entry">
                                <a href="#" class="image"><img alt="" src="img/product-image-inline-2.jpg"></a>
                                <div class="content">
                                    <div class="cell-view">
                                        <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                                        <div class="price">
                                            <div class="prev">$199,99</div>
                                            <div class="current">$119,99</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="inline-product-entry">
                                <a href="#" class="image"><img alt="" src="img/product-image-inline-3.jpg"></a>
                                <div class="content">
                                    <div class="cell-view">
                                        <a href="#" class="title">Ladies Pullover Batwing Sleeve Zigzag</a>
                                        <div class="price">
                                            <div class="prev">$199,99</div>
                                            <div class="current">$119,99</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>                

                <!-- FOOTER -->
                <div class="footer-wrapper style-10">
                    <footer class="type-1">
                        <div class="footer-columns-entry">
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="footer-logo" src="img/logo-9.png" alt="" />
                                    <div class="footer-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</div>
                                    <div class="footer-address">30 South Avenue San Francisco<br/>
                                        Phone: +78 123 456 789<br/>
                                        Email: <a href="mailto:Support@blanco.com">Support@blanco.com</a><br/>
                                        <a href="www.inmedio.com"><b>www.inmedio.com</b></a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="col-md-2 col-sm-4">
                                    <h3 class="column-title">Our Services</h3>
                                    <ul class="column">
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">Order History</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Custom Service</a></li>
                                        <li><a href="#">Terms &amp; Condition</a></li>
                                        <li><a href="#">Order History</a></li>
                                        <li><a href="#">Returns</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="col-md-2 col-sm-4">
                                    <h3 class="column-title">Our Services</h3>
                                    <ul class="column">
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">Order History</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Custom Service</a></li>
                                        <li><a href="#">Terms &amp; Condition</a></li>
                                        <li><a href="#">Order History</a></li>
                                        <li><a href="#">Returns</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="col-md-2 col-sm-4">
                                    <h3 class="column-title">Our Services</h3>
                                    <ul class="column">
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">Order History</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Custom Service</a></li>
                                        <li><a href="#">Terms &amp; Condition</a></li>
                                        <li><a href="#">Order History</a></li>
                                        <li><a href="#">Returns</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="clearfix visible-sm-block"></div>
                                <div class="col-md-3">
                                    <h3 class="column-title">Company working hours</h3>
                                    <div class="footer-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</div>
                                    <div class="footer-description">
                                        <b>Monday-Friday:</b> 8.30 a.m. - 5.30 p.m.<br/>
                                        <b>Saturday:</b> 9.00 a.m. - 2.00 p.m.<br/>
                                        <b>Sunday:</b> Closed
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-bottom-navigation">
                            <div class="cell-view">
                                <div class="footer-links">
                                    <a href="#">Site Map</a>
                                    <a href="#">Search</a>
                                    <a href="#">Terms</a>
                                    <a href="#">Advanced Search</a>
                                    <a href="#">Orders and Returns</a>
                                    <a href="#">Contact Us</a>
                                </div>
                                <div class="copyright">Created with by <a href="#">8theme</a>. All right reserved</div>
                            </div>
                            <div class="cell-view">
                                <div class="payment-methods">
                                    <a href="#"><img src="img/payment-method-1.png" alt="" /></a>
                                    <a href="#"><img src="img/payment-method-2.png" alt="" /></a>
                                    <a href="#"><img src="img/payment-method-3.png" alt="" /></a>
                                    <a href="#"><img src="img/payment-method-4.png" alt="" /></a>
                                    <a href="#"><img src="img/payment-method-5.png" alt="" /></a>
                                    <a href="#"><img src="img/payment-method-6.png" alt="" /></a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>

        </div>
        <div class="clear"></div>

    </div>

    <div class="overlay-popup" id="image-popup">
        
        <div class="overflow">
            <div class="table-view">
                <div class="cell-view">
                    <div class="close-layer"></div>
                    <div class="popup-container">
                        <img class="gallery-image" src="img/portfolio-1.jpg" alt="" />
                        <div class="close-popup"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="search-box popup">
        <form>
            <div class="search-button">
                <i class="fa fa-search"></i>
                <input type="submit" />
            </div>
            <div class="search-drop-down">
                <div class="title"><span>All categories</span><i class="fa fa-angle-down"></i></div>
                <div class="list">
                    <div class="overflow">
                        <div class="category-entry">Category 1</div>
                        <div class="category-entry">Category 2</div>
                        <div class="category-entry">Category 2</div>
                        <div class="category-entry">Category 4</div>
                        <div class="category-entry">Category 5</div>
                        <div class="category-entry">Lorem</div>
                        <div class="category-entry">Ipsum</div>
                        <div class="category-entry">Dollor</div>
                        <div class="category-entry">Sit Amet</div>
                    </div>
                </div>
            </div>
            <div class="search-field">
                <input type="text" value="" placeholder="Search for product" />
            </div>
        </form>
    </div>

    <div class="cart-box popup">
        <div class="popup-container">
            <div class="cart-entry">
                <a class="image"><img src="img/product-menu-1.jpg" alt="" /></a>
                <div class="content">
                    <a class="title" href="#">Pullover Batwing Sleeve Zigzag</a>
                    <div class="quantity">Quantity: 4</div>
                    <div class="price">$990,00</div>
                </div>
                <div class="button-x"><i class="fa fa-close"></i></div>
            </div>
            <div class="cart-entry">
                <a class="image"><img src="img/product-menu-1_.jpg" alt="" /></a>
                <div class="content">
                    <a class="title" href="#">Pullover Batwing Sleeve Zigzag</a>
                    <div class="quantity">Quantity: 4</div>
                    <div class="price">$990,00</div>
                </div>
                <div class="button-x"><i class="fa fa-close"></i></div>
            </div>
            <div class="summary">
                <div class="subtotal">Subtotal: $990,00</div>
                <div class="grandtotal">Grand Total <span>$1029,79</span></div>
            </div>
            <div class="cart-buttons">
                <div class="column">
                    <a class="button style-3">view cart</a>
                    <div class="clear"></div>
                </div>
                <div class="column">
                    <a class="button style-4">checkout</a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/idangerous.swiper.min.js"></script>
    <script src="js/global.js"></script>

    <!-- custom scrollbar -->
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/jquery.jscrollpane.min.js"></script>
</body>
</html>
