{% load static %}
{% load i18n %}
{% include 'website/base/header.html' %}
  	<title>Moda Di Vivere - {% trans "Impressum" %}</title>
</head>
<body class="style-10">
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">{% trans "Wird geladen" %}</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>
    <div id="content-block">
{% include 'website/base/header2.html' %}
            <div class="content-push">
                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">{% trans "Home" %}</a>
                    <a href="#">{% trans "Impressum" %}</a>
                </div>
                <div class="information-blocks">
                    <div class="row">
                        <div class="col-sm-12 information-entry">
                            <div class="footer-description " style="font-family: 'Montserrat', sans-serif; line-height: 24px;"   >{{ company_info.company_address }}<br/>
                                <b>TEL: </b><a href="tel:{{ company_info.company_phone_number }}">{{ company_info.company_phone_number }}</a><br/>
                                {{ company_info.company_address_2 }} <br/>
                                <b>TEL: </b><a href="tel:{{ company_info.company_phone_number_2 }}">{{ company_info.company_phone_number_2 }}</a><br/>
                                {% if company_info.company_mobile_phone_number %}
                                <b>GSM:</b> <a href="tel:{{ company_info.company_mobile_phone_number }}">{{ company_info.company_mobile_phone_number }}</a> <br/>
                                {% endif %}
                                {% if company_info.company_mobile_phone_number_two %}
                                <b>GSM2: </b><a href="tel:{{ company_info.company_mobile_phone_number_two }}">{{ company_info.company_mobile_phone_number_two }}</a>  <br/>
                                {% endif %}
                                <b>Email: </b><a href="mailto:{{ company_info.company_email }}">{{ company_info.company_email }}</a>
                            </div>
                            
                            {{ impressum.impressum | safe }}
                        </div>
                    </div>
                </div>
            </div>    
{% include 'website/base/footer.html' %}
