{% load static %}
{% load i18n %}
{% include 'website/base/header.html' %}

  	<title>Moda Di Vivere - {% trans "Zollfrei Shopping"%} </title>
</head>
<body class="style-10">

    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">Wird geladen</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}

            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">Home</a>
                    <a href="#">{% trans "Zollfrei Shopping"%}</a>
                </div>

                <div class="information-blocks">
                    <div class="row">
                        <div class="col-sm-12 information-entry">
							<h2>{% trans "Zollfrei Shopping"%}</h2>
                           		{{ zollfrei_shopping.zollfrei_shopping | safe }}
                        </div>
                    </div>
                </div>

{% include 'website/base/footer.html' %}
