{% extends "front_end/base/main.html" %}
{% load static %}
{% block content %}
<style media="screen">
  @media (min-width: 992px){
  .typeheader-2 .container-megamenu.vertical .vertical-wrapper ul.megamenu{display: none;}
  .typeheader-2 .container-megamenu.vertical:hover .vertical-wrapper ul.megamenu{display: block !important;}
}

</style>

<!-- Main Container  -->
<div class="main-container container" style="margin:35px auto;">
  <ul class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i></a></li>
    <li><a href="{% url 'website:login' %}">Hesap</a></li>
    <li><a href="{% url 'website:register' %}">Kayıt</a></li>
  </ul>

  <div class="row">
    <div id="content" class="col-sm-12">
      <h2 class="title">Yeni Hesap Oluştur</h2>
      <p>Zaten bşir hesabınız varsa lütfen <b> <a href="{% url 'website:login' %}">Giriş Yap</a></b>.</p>
      <form action="" method="post" enctype="multipart/form-data" class="form-horizontal account-register clearfix">
        {% csrf_token %}
        <fieldset id="account">
          <legend>Kullanıcı bilgileri</legend>
          <div class="form-group required" style="display: none;">
            <label class="col-sm-2 control-label">Customer Group</label>
            <div class="col-sm-10">
              <div class="radio">
                <label>
                  <input type="radio" name="customer_group_id" value="1" checked="checked"> Default
                </label>
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-firstname">Adınız</label>
            <div class="col-sm-10">
              <input type="text" name="firstname" value="" placeholder="First Name" id="input-firstname" class="form-control">
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-lastname">Soyadınız</label>
            <div class="col-sm-10">
              <input type="text" name="lastname" value="" placeholder="Last Name" id="input-lastname" class="form-control">
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-email">E-Mail</label>
            <div class="col-sm-10">
              <input type="email" name="email" value="" placeholder="E-Mail" id="input-email" class="form-control">
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-telephone">Telefon</label>
            <div class="col-sm-10">
              <input type="tel" name="telephone" value="" placeholder="Telephone" id="input-telephone" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-fax">Fax</label>
            <div class="col-sm-10">
              <input type="text" name="fax" value="" placeholder="Fax" id="input-fax" class="form-control">
            </div>
          </div>
        </fieldset>
        <fieldset id="address">
          <legend>Adres Bilgileri</legend>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-company">Şirket</label>
            <div class="col-sm-10">
              <input type="text" name="company" value="" placeholder="Şirket" id="input-company" class="form-control">
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-address-1">Adres</label>
            <div class="col-sm-10">
             <textarea name="name" rows="3" cols="80"  name="address_1" value="" placeholder="Adres" id="input-address-1" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-city">Şehir</label>
            <div class="col-sm-10">
              <input type="text" name="city" value="" placeholder="Şehir" id="input-city" class="form-control">
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-postcode">Posta Kodu</label>
            <div class="col-sm-10">
              <input type="text" name="postcode" value="" placeholder="Posta Kodu" id="input-postcode" class="form-control">
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Şifre Bilgileri</legend>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-password">Şifre</label>
            <div class="col-sm-10">
              <input type="password" name="password" value="" placeholder="Şifre" id="input-password" class="form-control">
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-confirm">Şifre tekrar</label>
            <div class="col-sm-10">
              <input type="password" name="confirm" value="" placeholder="Şifre tekrar" id="input-confirm" class="form-control">
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>E-Bülten</legend>
          <div class="form-group">
            <label class="col-sm-2 control-label">Takip Et</label>
            <div class="col-sm-10">
              <label class="radio-inline">
                <input type="radio" name="newsletter" value="1"> Evet
              </label>
              <label class="radio-inline">
                <input type="radio" name="newsletter" value="0" checked="checked"> Hayır
              </label>
            </div>
          </div>
        </fieldset>
        <div class="buttons">
          <div class="pull-right"><input class="box-checkbox" type="checkbox" name="agree" value="1"> &nbsp; <a href="#" class="agree"><b>Fiyatlandırma Tablolarını</b> okudum ve kabul ediyorum</a>

            <input type="submit" value="Kayıt Ol" class="btn btn-primary">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- //Main Container -->
{% endblock %}
