 {% load static i18n %}

{% load i18n %}
 {% load static %}{% include 'website/base/header.html' %}

  	<title>Modadivivere - {% trans "Kunden panel" %}</title>
</head>
<body class="style-10">
    
    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">{% trans "Wird geladen"%}n</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}


            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">{% trans "Home"%}</a>
                    <a href="{% url 'musteri:musteri-ana-sayfa' %}">{%trans "Kunde"%}</a>
                    <a href="#">{%trans "Kunde-Homepage"%}</a>
                </div>

                <div class="information-blocks">
                    <div class="row">


                        <div class="col-md-3">
                            <div class="information-blocks ">
                                <div class="accordeon">
                                    <div class="list">
                                                <div class="accordeon-title">{%trans "Kundenmenü"%}</div>
                                                <div class="accordeon-entry">
                                                    <div class="article-container style-1">
                                                        <ul>    
                                                          <li class="active"><a href="{% url 'musteri:musteri-ana-sayfa' %}"> {% trans "Home"%}</a></li>
                                                          <li><a href="{% url 'musteri:musteri-siparisler' %}">{% trans "Bestellungen"%}</a></li>
                                                          <li><a href="{% url 'musteri:musteri-kullanici-bilgileri' %}">{% trans "Information für den Anwender"%}</a></li>
                                                          <li ><a href="{% url 'musteri:musteri-adres-guncelle' %}">{% trans "Adressen"%}</a></li>
                                                          <li ><a href="{% url 'musteri:musteri-iade-talepleri' %}">{% trans "Erstattungsanträge"%}</a></li> 
                                                        </ul>
                                                        <ul class="list-unstyled">

                                                        </ul>    
                                                    </div>
                                                </div>
                                    </div>

                                  
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>



                        <div class="col-md-9">
                          <div class="information-blocks ">
                              <div class="col-sm-6">
                                <h3 style="margin-bottom:10px;" >Sn. {{user.first_name}} {{user.last_name}} Modadivivere Willkommen im Account Management Panel </h3>

                                <ul >
                                  <h3 class="block-title inline-product-column-title"> Account Management Panel </h3>

                                  <li style="margin-bottom:10px;" ><i class="fa fa-check"></i> {% trans "Sie können Ihre Bestellungen anzeigen" %}</li>
                                  <li style="margin-bottom:10px;"><i class="fa fa-check"></i> {% trans "Sie können Ihre Bestellungen verfolgen" %}</li>
                                  <li style="margin-bottom:10px;"><i class="fa fa-check"></i> {% trans "Sie Können Ihre Benutzerinformationen Aktualisieren" %}</li>
                                </ul>
                              </div>

                              <div class="col-sm-6 ">
                                <img src="{{ company_image.get_image_url }}" alt="" style="    width: 100%;">
                              </div>
                          </div>
                        </div>


                    </div>
                </div>
                       

{% include 'website/base/footer.html' %}
