
 {% load static i18n %}

{% load i18n %}
 {% load static %}{% include 'website/base/header.html' %}

  	<title>Modadivivere - {% trans "Kunden panel" %}</title>
</head>
<body class="style-10">
    
    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">{% trans "Wird geladen"%}</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}


            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">{% trans "Home"%}</a>
                    <a href="{% url 'musteri:musteri-ana-sayfa' %}">{%trans "Kunde"%}</a>
                    <a href="#">{%trans "Kunde-Homepage"%}</a>
                </div>

                <div class="information-blocks">
                    <div class="row">


                        <div class="col-md-3">
                            <div class="information-blocks ">
                                <div class="accordeon">
                                    <div class="list">
                                      <div class="accordeon-title">{%trans "Kundenmenü"%}</div>
                                      <div class="accordeon-entry">
                                          <div class="article-container style-1">
                                              <ul>    
                                                <li class="active"><a href="{% url 'musteri:musteri-ana-sayfa' %}">{% trans "Home"%}</a></li>
                                                <li><a href="{% url 'musteri:musteri-siparisler' %}">{% trans "Bestellungen"%}</a></li>
                                                <li><a href="{% url 'musteri:musteri-kullanici-bilgileri' %}">{% trans "Information für den Anwender"%}</a></li>
                                                <li ><a href="{% url 'musteri:musteri-parola-degistir' %}">{% trans "Passwort ändern"%}</a></li>
                                                <li ><a href="{% url 'musteri:musteri-adres-guncelle' %}">{% trans "Adressen"%}</a></li>
                                                <li ><a href="{% url 'musteri:musteri-iade-talepleri' %}">{% trans "Erstattungsanträge"%}</a></li> 
                                                

                                              </ul>
                                              <ul class="list-unstyled">
                                              </ul>    
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>


                        <div class="col-md-9">
                          <div class="information-blocks ">
                            <div class="col-sm-12 mb-4">

                              <h5 class="card-title" style="    font-weight: bold;">Adressen </h5> 


              <div class="form-group" id="hiddenField3" >
                    {% for n in address %}

                        <div class="card-body">
                            <form action="{% url 'musteri:musteri-adres-guncelle' %}" enctype='multipart/form-data' method="post">
                                {% csrf_token %}

                                <div class="form-group " style=" text-transform: uppercase; font-size: 14px; ">

                                    <table class="" style="width:100%">
                                        <tbody style=" line-height: 44px; ">
                                            <tr>
                                            <tr> <td> <label>   </label>  </td></tr>
                                            <tr> <td> <label style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important; color:red;" > {{n.address_name}} </label>  </td></tr>

                                            <tr> <td> <label>{% trans "Anschrift:"%} </label> </td> <td> <input class="form-control"  readonly name="address_name" value="{{n.address_name}}" type="text" style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important;" /> </td></tr>
                                            <tr> <td> <label>Land:</label> </td> <td> <input class="form-control"  name="country" value="{{n.country}}" type="text" style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important;" /> </td></tr>
                                            <tr> <td> <label>{% trans "stadt:"%} </label> </td> <td> <input class="form-control"  name="city" value="{{n.city}}" type="text" style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important;" /> </td></tr>
                                            <tr> <td> <label>{% trans "Landkreis:"%} </label> </td> <td> <input class="form-control"  name="district" value="{{n.district}}" type="text" style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important;" /> </td></tr>
                                            <tr> <td> <label>{% trans "Adresse telefon:"%}</label> </td> <td> <input class="form-control"  name="address_tel" value="{{n.address_tel}}" type="text" style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important;" /> </td></tr>
                                            <tr> <td> <label>{% trans "Adresse öffnen:"%} </label> </td> <td> <input class="form-control"  name="open_address" value="{{n.open_address}}" type="text" style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important;" /> </td></tr>
                                            <tr> <td> <label>   </label>  </td></tr>

                                        </tbody>
                                    </table>

                                </div>
                                
                                <div class="text-right">
                                    <button type="submit" class="button style-5 " style="   width: 198px !important;   "> {%trans "Informationen aktualisieren"%} </button>
                                </div>

                            </form>

                        </div>



                    {% endfor %}
                    
                    </select>
              </div>




                            </div>  
                          </div>
                        </div>


                    </div>
                </div>
                       

{% include 'website/base/footer.html' %}
