
 {% load static i18n %}

{% load i18n %}
 {% load static %}
 {% include 'website/base/header.html' %}

  	<title>Modadivivere - {% trans "Kunden panel" %}</title>
</head>
<body class="style-10">

    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">{% trans "Wird geladen"%}</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}


            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">{% trans "Home"%}</a>
                    <a href="{% url 'musteri:musteri-ana-sayfa' %}">{%trans "Kunde"%}</a>
                    <a href="#">{%trans "Kunde-Homepage"%}</a>
                </div>

                <div class="information-blocks">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="information-blocks ">
                                <div class="accordeon">
                                    <div class="list">
                                      <div class="accordeon-title">{%trans "Kundenmenü"%}</div>
                                      <div class="accordeon-entry">
                                          <div class="article-container style-1">
                                              <ul>    
                                                <li class="active"><a href="{% url 'musteri:musteri-ana-sayfa' %}"> {% trans "Home"%}</a></li>
                                                <li><a href="{% url 'musteri:musteri-siparisler' %}">{% trans "Bestellungen"%}</a></li>
                                                <li><a href="{% url 'musteri:musteri-kullanici-bilgileri' %}">{% trans "Information für den Anwender"%}</a></li>
                                                <li ><a href="{% url 'musteri:musteri-parola-degistir' %}">{% trans "Passwort ändern"%}</a></li>
                                                <li ><a href="{% url 'musteri:musteri-iade-talepleri' %}">{% trans "Erstattungsanträge"%}</a></li> 
                                                <li ><a href="{% url 'musteri:musteri-adres-guncelle' %}">{% trans "Adressen"%}n</a></li>

                                              </ul>
                                              <ul class="list-unstyled">
                                              </ul>    
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>


                        <div class="col-md-9">
                          <div class="information-blocks ">
                            <div class="col-sm-12 mb-4">

                              <h5 class="card-title" style="    font-weight: bold;">{% trans "Information für den Anwender" %}</h5>

                              <div class="card-body">
                                <form action="{% url 'musteri:musteri-kullanici-bilgileri' %}" enctype='multipart/form-data' method="post">
                                  {% csrf_token %}

                                  <div class="form-group " style=" text-transform: uppercase; font-size: 14px; ">

                                  <table class="" style="width:100%">
                                    <tbody style=" line-height: 44px; ">
                                      <tr>
                                        <tr> <td> <label style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important; color:red;" > Bİreysel </label>  </td></tr>

                                        <tr> <td> <label>Name : </label> </td> <td> <input class="form-control" name="first_name" value="{{  client.user.first_name }}" type="text" style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important; " /> </td></tr>

                                        <tr> <td> <label>{%trans "Nachname"%}: </label> </td> <td> <input class="form-control"  name="last_name" value="{{  client.user.last_name }}" type="text" style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important;" /> </td></tr>

                                        <tr> <td> <label>{%trans "Benutzername"%}: </label> </td> <td> <input class="form-control"  name="username" value="{{  client.user.username }}" type="text" style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important;" /> </td></tr>

                                        <tr> <td> <label>E mail: </label> </td> <td> <input class="form-control"  name="email" value="{{  client.user.email }}" type="text" style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important;" /> </td></tr>

                                        <tr> <td> <label>Telefon : </label> </td> <td> <input class="form-control"  name="tel" value="{{  client.tel }}" type="text" style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important;" /></td></tr>

                                        <tr> <td> <label> {%trans "Kennnummer"%}: : </label> </td> <td> <input class="form-control"  name="tckn" value="{{  client.tckn }}" type="text" style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important;" /></td></tr>
                                        
                                        

                                        <tr> <td> <label>   </label>  </td></tr>
                                        <tr> <td> <label style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important; color:red;" > UNTERNEHMENS </label>  </td></tr>

                                        <tr> <td> <label>Name des Unternehmens : </label> </td> <td> <input class="form-control"  name="firma_unvani" value="{{company_default.firma_unvani}}" type="text" style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important;" /> </td></tr>

                                        <tr> <td> <label>Finanzamt: </label> </td> <td> <input class="form-control"  name="vergi_dairesi" value="{{company_default.vergi_dairesi}}" type="text" style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important;" /> </td></tr>

                                        <tr> <td> <label>Steuernummer : </label> </td> <td> <input class="form-control"  name="vergi_no" value="{{company_default.vergi_no}}" type="text" style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important;" /></td></tr>
                                    
                                        <tr> <td> <label>Anschrift Des Unternehmens: </label> </td> <td> <input class="form-control"  name="company_address" value="{{company_default.company_address}}" type="text" style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important;" /> </td></tr>

                                        <tr> <td> <label>Telefonnummer Des Unternehmens: </label> </td> <td> <input class="form-control"  name="company_telephone" value="{{company_default.company_telephone}}" type="text" style="ont-weight: bold;width: -webkit-fill-available; margin-bottom: 8px !important;" /> </td></tr>

                                    </tbody>
                                  </table>



                                    </div>
                                  <div class="text-right">
                                  
                                    <button type="submit" class="button style-5 " style="   width: 198px !important;   ">Bilgileri Güncelle </button>
                                  </div>

                                </form>

                              </div>
                            </div>  
                          </div>
                        </div>


                    </div>
                </div>
                       


{% include 'website/base/footer.html' %}

