 {% load static i18n %}

{% load i18n %}
 {% load static %}
{% include 'website/base/header.html' %}
	<link href="{% static 'admin/css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/layout.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	{% block header %}
	{% endblock %}
	<!-- Core JS files -->
	<script src="{% static 'admin/js/main/jquery.min.js' %}"></script>
	<script src="{% static 'admin/js/main/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{% static 'admin/js/plugins/visualization/d3/d3.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins/visualization/d3/d3_tooltip.js' %}"></script>
	<script src="{% static 'admin/js/plugins/forms/styling/switchery.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
	<script src="{% static 'admin/js/plugins/ui/moment/moment.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins/pickers/daterangepicker.js' %}"></script>

	<script src="{% static 'admin/assets/js/app.js' %}"></script>

	<script src="{% static 'admin/js/demo_pages/special/dashboard_deneme.js' %}"></script>

  	<title>Modadivivere - Kunden Panel</title>
</head>
<body class="style-10">

    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">Wird geladen</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}


            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">Home</a>
                    <a href="{% url 'musteri:musteri-ana-sayfa' %}">Kunde</a>
                    <a href="#">Kundenauftrag Anzeigen</a>
                </div>

                <div class="information-blocks">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="information-blocks ">
                                <div class="accordeon">
                                    <div class="list">
                                      <div class="accordeon-title">Kundenmenü</div>
                                      <div class="accordeon-entry">
                                          <div class="article-container style-1">

                                              <ul>    
                                                <li class="active"><a href="{% url 'musteri:musteri-ana-sayfa' %}"> Home</a></li>
                                                <li><a href="{% url 'musteri:musteri-siparisler' %}"> Bestellungen/a></li>
                                                <li><a href="{% url 'musteri:musteri-kullanici-bilgileri' %}">Information Für Den Anwender</a></li>
                                                <li ><a href="{% url 'musteri:musteri-adres-guncelle' %}">Adressen</a></li>
                                                <li ><a href="{% url 'musteri:musteri-iade-talepleri' %}">Erstattungsanträge</a></li> 
                                              </ul>
                                              <ul class="list-unstyled">

                                              </ul>    
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>



                        <div class="col-md-9">
                          <div class="information-blocks ">
                             

                            <div class="form-group" style=" text-transform: uppercase; font-size: 14px; ">

                            <table style="width:100%">
                                <tr>




                                <tr> <td> <label>Am: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.creation_date }}</label> </td></tr>

                                <tr> <td> <label>Größe:</label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.quantity }}</label> </td></tr>

                                <tr> <td> <label>Höhe:</label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.amount }}</label> </td></tr>

                                <tr> <td> <label>Gewicht:</label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.kilo }}</label> </td></tr>

                                <tr> <td> <label>Adressen : </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.adres }}</label> </td></tr>

                                <tr> <td> <label>Produktart: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.urun_tipi }}</label> </td></tr>

                                <tr> <td> <label>Von: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.nereden }}</label> </td></tr>

                                <tr> <td> <label>Wo: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.nereye }}</label> </td></tr>

                                <tr> <td> <label>Provinzpreis: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.il_fiyati }}</label> </td></tr>

                                <tr> <td> <label>Nachricht: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.mesaj }}</label> </td></tr>

                                <tr> <td> <label>Desi: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.desi }}</label> </td></tr>

                                <tr> <td> <label>Gesamtpreis: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.toplam_fiyat }}</label> </td></tr>

                                <tr> <td> <label>Unternehmensnachricht: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ form.firma_mesaji }}</label> </td></tr>
                            
                                <tr> <td> <label>Anzahl : </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.adet_sayisi }}</label> </td></tr>

                            </table>




                            </div>











                          </div>
                        </div>
                    </div>
                </div>
                       
{% include 'website/product/featured-popular-new.html' %}


{% include 'website/base/footer.html' %}
