 {% load static i18n %}

{% load i18n %}
 {% load static %}
{% include 'website/base/header.html' %}

	<link href="{% static 'admin/css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/layout.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	{% block header %}
	{% endblock %}
	<!-- Core JS files -->
	<script src="{% static 'admin/js/main/jquery.min.js' %}"></script>
	<script src="{% static 'admin/js/main/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{% static 'admin/js/plugins/visualization/d3/d3.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins/visualization/d3/d3_tooltip.js' %}"></script>
	<script src="{% static 'admin/js/plugins/forms/styling/switchery.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
	<script src="{% static 'admin/js/plugins/ui/moment/moment.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins/pickers/daterangepicker.js' %}"></script>

	<script src="{% static 'admin/assets/js/app.js' %}"></script>

	<script src="{% static 'admin/js/demo_pages/special/dashboard_deneme.js' %}"></script>

    <script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

    <script src="{% static 'admin/js/plugins/media/fancybox.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins/tables/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'admin/js/demo_pages/gallery_library.js' %}"></script>



  	<title>Modadivivere - Kunden panel</title>
</head>
<body class="style-10">

    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">Yükleniyor</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}

            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">Home</a>
                    <a href="{% url 'musteri:musteri-ana-sayfa' %}">Kunden</a>
                    <a href="#">Meine Kundenaufträge</a>
                </div>

                <div class="information-blocks">
                    <div class="row">
                      <div class="col-md-3">
                          <div class="information-blocks ">
                              <div class="accordeon">
                                  <div class="list">
                                    <div class="accordeon-title">Kundenmenü</div>
                                    <div class="accordeon-entry">
                                        <div class="article-container style-1">

                                            <ul>    
                                              <li class="active"><a href="{% url 'musteri:musteri-ana-sayfa' %}"> Home</a></li>
                                              <li><a href="{% url 'musteri:musteri-siparisler' %}">Bestellungen</a></li>
                                              <li><a href="{% url 'musteri:musteri-kullanici-bilgileri' %}">Information Für Den Anwender</a></li>
                                              <li ><a href="{% url 'musteri:musteri-adres-guncelle' %}">Adressen</a></li>
                                              <li ><a href="{% url 'musteri:musteri-iade-talepleri' %}">Erstattungsanträge</a></li> 
                                            </ul>
                                            <ul class="list-unstyled">

                                            </ul>    
                                        </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <div class="clear"></div>
                        </div>



                        <div class="col-md-9">
                          <div class="information-blocks ">
                             
                            <h3 class="h3-md fw-7 mb-4 txt-blue">Bestellungen</h3> 
                                        
                            <table class="table table-striped media-library " style="    overflow: auto">
                              <thead>
                                <tr>
                                  <th>Datum Der Bestellung</th>
                                  <th>Bezeichnung Des Erzeugnisses</th>
                                  <th>Anzahl</th>
                                  <th>Gesamtpreis</th>
                                  <th>Bestellstatus</th>

                                  <th class="text-center">Transaktionen</th>
                                </tr>
                              </thead>
                              
                              <tbody>

                                {% for siparis in siparisler %}

                                <tr>
                                  <td> <label> {{ siparis.creation_date }} </label> </td>
                                  <td> <label> {{ siparis.product.product_name }} </label> </td>
                                  <td> <label> {{ siparis.quantity }} </label> </td>
                                  <td> <label> {{ siparis.amount }} </label> </td>
                                  <td> <label> {{ siparis.firma_mesaji }} </label> </td>

                                  <td class="text-center">
                                    <div class="list-icons">
                                      <div class="list-icons-item dropdown">
                                        <a href="gallery_library.html#" class="list-icons-item caret-0 dropdown-toggle" data-toggle="dropdown">
                                          <i class="icon-menu9"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                          <a href="{% url 'musteri:musteri-siparis-goruntule' siparis.pk %}" class="dropdown-item"><i class="icon-pencil7"></i> Anzeigen / Bearbeiten</a>
                                          <div class="dropdown-divider"></div>
                                          <a href="{% url 'musteri:musteri-siparis-iade-talebi' siparis.pk %}" class="dropdown-item"><i class="icon-bin"></i> Erstattungsantrag </a>
                                        </div>

                                      </div>
                                    </div>
                                  </td>
                                </tr>

                                {% endfor %}
                              </tbody>
                            </table>     
                        
                          </div>
                        </div>
                    </div>
                </div>
                       
{% include 'website/product/featured-popular-new.html' %}


{% include 'website/base/footer.html' %}
