{% load static %}
{% include 'website/base/header.html' %}


	<link href="{% static 'admin/css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/layout.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	{% block header %}
	{% endblock %}
	<!-- Core JS files -->
	<script src="{% static 'admin/js/main/jquery.min.js' %}"></script>
	<script src="{% static 'admin/js/main/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{% static 'admin/js/plugins/visualization/d3/d3.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins/visualization/d3/d3_tooltip.js' %}"></script>
	<script src="{% static 'admin/js/plugins/forms/styling/switchery.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
	<script src="{% static 'admin/js/plugins/ui/moment/moment.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins/pickers/daterangepicker.js' %}"></script>

	<script src="{% static 'admin/assets/js/app.js' %}"></script>

	<script src="{% static 'admin/js/demo_pages/special/dashboard_deneme.js' %}"></script>

    <script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

    <script src="{% static 'admin/js/plugins/media/fancybox.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins/tables/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'admin/js/demo_pages/gallery_library.js' %}"></script>




  	<title>Modadivivere - {% trans "Kunden panel" %}</title>
</head>
<body class="style-10">
    
    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">{% trans "Wird geladen"%}</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}


            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">{% trans "Home"%}</a>
                    <a href="{% url 'musteri:musteri-ana-sayfa' %}">{%trans "Kunde"%}</a>
                    <a href="#">{%trans "Meine Kundenaufträge"%}</a>
                </div>

                <div class="information-blocks">
                    
                    <div class="row">
                      
                        <div class="col-md-3">
                          <div class="information-blocks ">
                              <div class="accordeon">
                                  <div class="list">
                                        <div class="accordeon-title">
                                            {%trans "Kundenmenü"%}
                                        </div>
                                        
                                        <div class="accordeon-entry">
                                            <div class="article-container style-1">

                                                <ul>    
                                                <li class="active"><a href="{% url 'musteri:musteri-ana-sayfa' %}">{% trans "Home"%}</a></li>
                                                <li><a href="{% url 'musteri:musteri-siparisler' %}">{% trans "Bestellungen"%}</a></li>
                                                <li><a href="{% url 'musteri:musteri-kullanici-bilgileri' %}">{% trans "Information für den Anwender"%}</a></li>
                                                <li ><a href="{% url 'musteri:musteri-adres-guncelle' %}">{% trans "Adressen"%}</a></li>
                                                <li ><a href="{% url 'musteri:musteri-iade-talepleri' %}">{% trans "Erstattungsanträge"%}</a></li> 
                                                </ul>
                                                <ul class="list-unstyled">

                                                </ul>    
                                            </div>
                                        </div>
                                  </div>
                              </div>
                          </div>
                          <div class="clear"></div>
                        </div>



                        <div class="col-md-9">
                          <div class="information-blocks ">
                             
                            <h3 class="h3-md fw-7 mb-4 txt-blue">{% trans "Bestellungen"%}</h3> 
                                        
                            <table class="table table-striped media-library ">
                              <thead>
                                <tr>
                                  <th>{% trans "Datum der Bestellung"%}</th>
                                  <th>{% trans "Bezeichnung Des Erzeugnisses"%}</th>
                                  <th>{% trans "Anzahl"%}</th>
                                  <th>{% trans "Gesamtpreis"%}</th>
                                  <th>{% trans "Status der Nachfrage"%}</th>

                                  <th class="text-center">{% trans "Transaktionen"%}</th>
                                </tr>
                              </thead>
                              
                              <tbody>

                                {% for talepler in iade_talepleri %}

                                <tr>
                                  <td> <label> {{ talepler.siparis.creation_date }} </label> </td>
                                  <td> <label> {{ talepler.siparis.product.product_name }} </label> </td>
                                  <td> <label> {{ talepler.siparis.quantity }} </label> </td>
                                  <td> <label> {{ talepler.siparis.amount }} </label> </td>
                                  <td> <label> {{ talepler.firma_mesaji }} </label> </td>

                                  <td class="text-center">
                                    <div class="list-icons">
                                      <div class="list-icons-item dropdown">
                                        <a href="gallery_library.html#" class="list-icons-item caret-0 dropdown-toggle" data-toggle="dropdown">
                                          <i class="icon-menu9"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                          <a href="{% url 'musteri:musteri-siparis-goruntule' talepler.siparis.pk %}" class="dropdown-item"><i class="icon-pencil7"></i> anzeigen / Bearbeiten</a>
                                          <div class="dropdown-divider"></div>
                                        </div>

                                      </div>
                                    </div>
                                  </td>
                                  
                                </tr>

                                {% endfor %}
                              </tbody>
                            </table>     
                        
                          </div>

                        </div>


                    </div>
                </div>



{% include 'website/base/footer.html' %}
