 {% load static i18n %}

{% load i18n %}
 {% load static %}
{% include 'website/base/header.html' %}

  	<title>Modadivivere - Kunden panel</title>
</head>
<body class="style-10">

    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">Wird geladen</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}


            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">Home</a>
                    <a href="{% url 'musteri:musteri-ana-sayfa' %}">Kunde</a>
                    <a href="#">Meine Kundenaufträge</a>
                </div>

                <div class="information-blocks">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="information-blocks ">
                                <div class="accordeon">
                                    <div class="list">
                                      <div class="accordeon-title">Kundenmenü</div>
                                      <div class="accordeon-entry">
                                          <div class="article-container style-1">

                                              <ul>    
                                                <li class="active"><a href="{% url 'musteri:musteri-ana-sayfa' %}"> Home</a></li>
                                                <li><a href="{% url 'musteri:musteri-siparisler' %}">Bestellungen</a></li>
                                                <li><a href="{% url 'musteri:musteri-kullanici-bilgileri' %}">Information Für Den Anwender</a></li>
                                                <li ><a href="{% url 'musteri:musteri-adres-guncelle' %}">Adressen</a></li>
                                                <li ><a href="{% url 'musteri:musteri-iade-talepleri' %}">Erstattungsanträge</a></li> 
                                              </ul>
                                              <ul class="list-unstyled">

                                              </ul>    
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>



                        <div class="col-md-9">
                          <div class="information-blocks ">
                             
                                                      
                              <div class="card-body">
                                  <h5 class="card-title">Passwort Ändern</h5> </br>


                                  <div class="card-body">
                                  <form action="{% url 'musteri:musteri-parola-degistir' %}" method="post">
                                      {% csrf_token %}
                                      <div class="form-group">
                                      <label>Altes Passwort:</label>
                                      {{ form.old_password }}
                                      </div>

                                      <label>Neues Passwort:</label>
                                      <div class="form-group">
                                      {{ form.new_password }}
                                      </div>

                                      <div class="form-group">
                                      <label>Neues Passwort Erneut:</label>
                                      {{ form.new_password_again }}
                                      </div>

                                      <div class="text-right">
                                      <button type="submit" class="button style-5 open-product">Passwort Aktualisieren <i class="icon-paperplane ml-2"></i></button>
                                      </div>

                                  </form>
                                  </div>
                              </div>
                            

                          </div>
                        </div>
                    </div>
                </div>
                       


{% include 'website/base/footer.html' %}
