{% load static %}
{% load i18n %}
 {% load static %}
{% include 'website/base/header.html' %}
  	<title> Yağ Dükkanım </title>
</head>
<body class="style-10">

    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">Wird geladen</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}

            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">Home</a>
                    <a href="#">Blog </a>
                </div>

                <div class="information-blocks">
                    <div class="row">
                        
                        <div class="col-md-12 information-entry page-selector ">
                            <div class="blog-landing-box type-4 columns-3">
                                {% for p in blogs %}
                                <div class="blog-entry">
                                    <a class="image hover-class-1" href="#"><img src="{{ p.get_blog_image.0.get_image_url }}" alt="" /><span class="hover-label">Read More</span></a>
                                    <div class="date">{{ p.creationDate.day }}-<span>{{ p.creationDate.month }}-{{ p.creationDate.year }}</span></div>
                                    <div class="content">
                                        <a class="title" href="{% url 'website:blog-detay' p.slug %}">{{ p.title }}</a>
                                        <div class="description">{{ p.description }}</div><br><br>
                                        <a class="readmore" href="{% url 'website:blog-detay' p.slug %}">read more</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                        </div>

                    </div>
                </div>



{% include 'website/base/footer.html' %}
