{% load static %}
{% include 'website/base/header.html' %}
  	<title> Yağ Dükkanım  </title>
</head>
<body class="style-10">

    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">Wird geladen</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}

            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">Home</a>
                    <a href="{% url 'website:blog' %}">Blog</a>
                    <a href="#">Blog Detail </a>
                </div>

                <div class="information-blocks">
                    <div class="row">
                        
                        <div class="col-md-9 col-md-push-3 information-entry">
                            <div class="blog-landing-box type-1 detail-post">

                                <div class="blog-entry">
                                    <a class="image hover-class-1" href="#"><img src="{{ blog.get_blog_image.0.get_image_url }}" alt="" /><span class="hover-label">Read More</span></a>
                                    <div class="content">
                                        <h1 class="title">{{ blog.title }}</h1>
                                        <div class="subtitle">Posted {{ blog.creationDate.day }}-{{ blog.creationDate.month }}-{{ blog.creationDate.year }}</div>
                                        <div class="article-container style-1">
                                            {{ blog.context | safe}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-3 col-md-pull-9 information-entry blog-sidebar">
                            
                            <div class="information-blocks">
                                <h3 class="block-title inline-product-column-title">Recent Posts</h3>
                                {% for p in blogs_5 %}
                                <div class="inline-product-entry">
                                    <a class="image" href="#"><img src="{% static 'website/img/product-image-inline-4.jpg' %}" alt=""></a>
                                    <div class="content">
                                        <div class="cell-view">
                                            <a class="title" href="#">{{ p.title }}</a>
                                            <div class="description">{{ p.creationDate.day }}-{{ p.creationDate.month }}-{{ p.creationDate.year }}</div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                {% endfor %}

                            </div>

                        </div>

                    </div>
                </div>

                

{% include 'website/product/special_products.html' %}

{% include 'website/base/footer.html' %}
