{% load static %}
{% load i18n %}
{% include 'website/base/header.html' %}
<title> Modadivivere - {% trans "Warenkorb" %}</title>
</head>
<body class="style-10">
   <!-- LOADER -->
   <div id="loader-wrapper">
      <div class="bubbles">
         <div class="title">{% trans "Wird geladen" %}</div>
         <span></span>
         <span id="bubble2"></span>
         <span id="bubble3"></span>
      </div>
   </div>
   <div id="content-block">


   
   {% include 'website/base/header2.html' %}



   <div class="content-push">
   <div class="breadcrumb-box">
      <a href="{% url 'website:index' %}"> {% trans "Home" %}</a>
      <a href="{% url 'product:tumurunler' %}">{% trans "Produkte" %}</a>
      <a href="#">{% trans "Warenkorb" %} </a>
   </div>
   <div class="information-blocks">
      <div class="row">
         <div class="col-sm-9 col-md-9 information-entry">
            <h3 class="cart-column-title size-1"> {% trans "Warenkorb" %}</h3>
            {% for cp in shop_cart %}
            <div class="traditional-cart-entry style-1">
               {% if cp.product.product_pictures  %}
               <a class="image" href="{% url 'product:product-detail' cp.product.slug %}"><img alt="" src="/static/website/images/{{cp.product.product_coverpic}}" ></a>
               {% else %}
               <a class="image" href="{% url 'product:product-detail' cp.product.slug %}"><img alt="" src="{{cp.product.get_product_image.0.get_image_url}}" ></a>
               {% endif %}
               <div class="content">
                  <div class="cell-view">
                     <a class="tag" href="#">{{ cp.product.category }}</a>
                     <a class="title" href="{% url 'product:product-detail' cp.product.slug %}">{{ cp.product.product_name }} - {{ cp.size }}</a>
                     {% if cp.product.product_title %}
                     <div class="inline-description">{{ cp.product.product_title | safe }} </div>
                     {% endif %}
                     <div class="inline-description">{{ cp.product.product_detail | safe }}</div>
                     <div class="price">
                        {% if cp.product.product_sale == "Indirimli Urun" %}
                            <div class="prev"> {{cp.product.product_price }}</div>
                            <div class="current">CHF.  {{cp.product.product_price_sale }}</div>
                            <br>
                            <div class="prev"> {{cp.product.product_price2 }}</div>
                            <div class="current"> EUR. {{cp.product.product_price2_sale }}</div>
                        {% else %}
                        <div class="current"> CHF.  {{cp.product.product_price }}</div>
                        <div class="current"> EUR. {{cp.product.product_price2 }}</div>
                        {% endif %}
                     </div>
                     <div class="quantity-selector detail-info-entry">
                        <div class="detail-info-entry-title"> {% trans "Menge" %} : <span style="color:red; font-size:20px;"> {{ cp.quantity }} </span> </div>
                     </div>
                     <form action="{% url 'order:addtocart' cp.product.pk %}" method='POST'>
                        {% csrf_token %}
                        <div class="quantity buttons_added" >
                           <input name="quantity" style="height: 35px;" id="quantity" class="input" type="number" min="0" max="10"  value="1" /> &nbsp; <button type="submit" class="button style-15 add-to-cart"> {% trans "Hinzufügen" %}  </button>
                           <a href="{% url 'order:delete-cartproduct' cp.pk %}" class="button style-17" onclick="return confirm('Sind Sie sicher, dass Sie das Produkt löschen möchten?')" > {% trans "Löschen" %} </a>
                           <input name="size" id="size"  value="{{ cp.size }}" type="hidden" />
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            {% endfor %}
            <div class="information-blocks">
               <div class="row">
                  <div class="information-entry col-md-6">
                     <div class="sale-entry sale-entry-border" style="background: #333;">
                        <div class="sale-price"><img src="{% static 'website/img/shipping-icon.png' %}" alt="" /></div>
                        <div class="sale-title">
                           <h3 style="font-family: none;">{% trans "100€ + Kostenloser Versand" %}  </h3>
                        </div>
                        <div class="sale-description"style="font-family: none;">
                           {% trans "Kostenloser Versand für Einkäufe von 100 € oder mehr über Moda Di Vivere." %}
                        </div>
                     </div>
                  </div>
                  <div class="information-entry col-md-6">
                     <div class="sale-entry sale-entry-border" style="background: #901794;">
                        <div class="sale-price"><img src="{% static 'website/img/shipping-icon.png' %}" alt="" /></div>
                        <div class="sale-title">
                           <h3 style="font-family: none;">{% trans "SCHNELL UND ZUVERLÄSSIG" %} </h3>
                        </div>
                        <div class="sale-description">{% trans "Mit der Zusicherung von Moda Di Vivere werden Ihre Produkte in kurzer Zeit vorbereitet und versendet." %} </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm-3 col-md-3 information-entry">
            <div class="sidebar-subtotal">
               <div class="price-data ;" >
                  <h3 class="cart-column-title size-1" style="text-align: center; border:none; margin-bottom:0px;">  {% trans "Warenkorb" %} ( {% if request.session.cart_items %}{{request.session.cart_items}} {% else %} 0 {% endif %}  {% trans "Artikel" %})  </h3>
                  <h3 class="cart-column-title size-1" style="text-align: center; border-bottom:none;">
                    {% trans "Gesamtbetrag" %}
                    <div class="main">CHF. {{total}}</div>
                  </h3>
                  <h3 class="cart-column-title size-1" style="text-align: center; border-bottom:none;">
                    {% trans "Gesamtbetrag" %}
                    <div class="main">EUR. {{total2}}</div>
                  </h3>
               </div>
               <div class="additional-data">
                  <form action="{% url 'order:checkout' %}" method='POST'>
                     {% csrf_token %}
                     <button type="submit" class="button style-10"> {% trans "Zahlungen" %} </button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% include 'website/base/footer.html' %}