{% load static %}
{% load i18n %}
{% include 'website/base/header.html' %}

  	<title>Modadivivere - {% trans "Zahlungen" %}</title>
</head>
<body class="style-10">

    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">{% trans "Wird geladen" %}</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}



            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">{% trans "Home" %}</a>
                    <a href="#">{% trans "Zahlungen" %}</a>
                </div>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>



<script type="text/javascript">
  function showHide(checked) {
    if (checked == true)
      $("#hiddenField").fadeIn();

    else
      $("#hiddenField").fadeOut();

  }
    function showHide2(checked) {
    if (checked == true){
      $("#hiddenField2").fadeIn();
      $("#hiddenField3").fadeOut();
      document.getElementById('farkliadres').innerHTML = "Ich möchte die vorhandene Adresse verwenden";
      //$("#farkliadres").innerHTML = "Ich möchte die vorhandene Adresse verwenden";
    }

    else{
      $("#hiddenField2").fadeOut();
      $("#hiddenField3").fadeIn();
      document.getElementById('farkliadres').innerHTML = "Ich möchte eine andere Adresse eingeben";
      //$("#farkliadres").innerHTML = "Ich möchte eine andere Adresse eingeben";
    }

  }
</script>

<br>


<style media="screen">
  .stepwizard-step p {
    margin-top: 10px;
  }

  .stepwizard-row {
    display: table-row;
  }

  .stepwizard {
    display: table;
    width: 100%;
    position: relative;
  }

  .stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
  }

  .stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

  }

  .stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
</style>

<script type="text/javascript">
  $(document).ready(function() {

    var navListItems = $('div.setup-panel div a'),
      allWells = $('.setup-content'),
      allNextBtn = $('.nextBtn');

    allWells.hide();

    navListItems.click(function(e) {
      e.preventDefault();
      var $target = $($(this).attr('href')),
        $item = $(this);

      if (!$item.hasClass('disabled')) {
        navListItems.removeClass('btn-primary').addClass('btn-default');
        $item.addClass('btn-primary');
        allWells.hide();
        $target.show();
        $target.find('input:eq(0)').focus();
      }
    });

    allNextBtn.click(function() {
      var curStep = $(this).closest(".setup-content"),
        curStepBtn = curStep.attr("id"),
        nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
        curInputs = curStep.find("input[type='text'],input[type='url']"),
        isValid = true;

      $(".form-group").removeClass("has-error");
      for (var i = 0; i < curInputs.length; i++) {
        if (!curInputs[i].validity.valid) {
          isValid = false;
          $(curInputs[i]).closest(".form-group").addClass("has-error");
        }
      }

      if (isValid)
        nextStepWizard.removeAttr('disabled').trigger('click');
    });

    $('div.setup-panel div a.btn-primary').trigger('click');
  });
</script>


<div class="container">
  <div class="stepwizard">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
        <p>1.  {% trans "Lieferinformationen" %}</p>
      </div>

      <div class="stepwizard-step">
        <a href="#step-last" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
        <p>2.  {% trans "Zusammenfassung" %} </p>
      </div>
    </div>
  </div>
    <br><br><br>
  <form role="form" method="POST" action="{% url 'website:simple-checkout' %}">
    {% csrf_token %}

    <div class="row setup-content" id="step-1">
      <div class="col-xs-12">
        <div class="col-md-12">
          <br>
          <div class="form-group">
            <style>
              .grids {
                display : grid;
                grid-template-columns: 12fr 1fr 12fr;
              }
              .gridss {
                display : grid;
                grid-template-columns: 12fr;
              }
            </style>
            {% ifequal is_it_user "True" %}
            <div class="grids">
              <div class="form-group">
                <label class="control-label"> {% trans "Vorname" %} {{ is_it_user }} </label>
                <input maxlength="100" value="{{user.first_name}}" readonly required="required" type="text" id="fname" name="fname" class="form-control" placeholder="Vorname" />
              </div>
              <div class="form-group">
              </div>
              <div class="form-group">
                <label class="control-label"> {% trans "Nachname" %}</label>
                <input maxlength="100" value="{{user.last_name}}" readonly required="required" type="text" id="lname" name="lname" class="form-control" placeholder="Nachname" />
              </div>
            </div>

            <div class="gridss">
              <div class="form-group">
            <label class="control-label">E mail</label>
                <input maxlength="100" value="{{user.email}}" readonly required="required" type="email" id="email" name="email" class="form-control" placeholder="" />
              </div>


            </div>
            {% endifequal %}
            {% ifequal is_it_user "False" %}

            <div class="grids">
              <div class="form-group">
                <label class="control-label">{% trans "Vorname" %}</label>
                <input maxlength="100"  required="required" type="text" id="fname" name="fname" class="form-control" placeholder="Vorname" />
              </div>
              <div class="form-group">
              </div>
              <div class="form-group">
                <label class="control-label">{% trans "Nachname" %}</label>
                <input maxlength="100" required="required" type="text" id="lname" name="lname" class="form-control" placeholder="Nachname" />
              </div>
            </div>

            <div class="gridss">
              <div class="form-group">
                <label class="control-label">E mail</label>
                <input maxlength="100" required="required" type="email" id="email" name="email" class="form-control" placeholder="E-Mail" />
              </div>

            </div>
            {% endifequal %}

          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-md-6">
          <div class="form-group">
            <style>
              .grid {
                display : grid;
                grid-template-columns: 2fr 5fr 2fr;
              }
            </style>
            <div class="grid">
              <div>
                <br><h3 style= "color: red; font-weight: bold; "> {% trans "Adressen" %} </h3> 
              </div>
              <div>
                <label style="padding-top: 0px;" class="checkbox-inline">
                  <br><input type="checkbox" onchange="showHide2(this.checked)" name="kurumsal"><h3 id="farkliadres" style= "color: #8c8c8c; font-weight: bold; "> {% trans "Ich möchte eine andere Adresse eingeben" %} </h3><br>
                </label>
              </div>
              <div>
                <label style="padding-top: 0px;" class="checkbox-inline">
                  <br><input type="checkbox" onchange="showHide(this.checked)" name="kurumsal"><h3 style= "color: #8c8c8c; font-weight: bold; "> {% trans "Firma" %} >> </h3><br>
                </label>
              </div>
            </div>
              <div class="form-group" id="hiddenField3" >
              <label class="control-label">{% trans "Adressen" %} </label>
                <select class="form-control" name="address_name">
                  {% for n in address %}
                    <optgroup label="">
                      <option value="{{ n.address_name }}">{{ n.address_name }}</option>
                      <option value="{{ n.country }}" disabled>{{ n.country }}</option>
                      <option value="{{ n.city }}" disabled>{{ n.city }}</option>
                      <option value="{{ n.district }}" disabled>{{ n.district }}</option>
                      <option value="{{ n.open_address }}" disabled>{{ n.open_address }}</option>
                      <option value="{{ n.tel }}" disabled>{{ n.tel }}</option>
                    </optgroup>
                  {% endfor %}
                </select>
              </div>
              <div class=" form-group" id="hiddenField2" style="display:none;">
              <div class="form-group">
                <label class="control-label"> {% trans "Adressentitel" %} </label>
                <input maxlength="150" value="{{address_default.address_name}}" required="required" name="address_name" type="text" id="addressname" class="form-control" placeholder="" />
              </div>
              <div class="form-group">
                <label class="control-label">{% trans "Anschrift" %}</label>
                <input maxlength="350" value="{{address_default.open_address}}" required="required" name="open_address" type="text" id="route" class="form-control" placeholder="Anschrift" />
              </div>
              <div class="grids">
                <div class="form-group">
                  <label class="control-label"> {% trans "Land" %} </label>
                  {% comment %} <input maxlength="150" value="{{address_default.country}}" required="required" name="country" type="text" id="country"  class="form-control" placeholder="Land" /> {% endcomment %}
                  <select required="required" name="country" type="text" id="country"  class="form-control" placeholder="Land">
                    {% if address_default %}
                      <option value="{{address_default.country}}">{{address_default.country}}</option>
                    {% endif %}
                    <option value="Afganistan">Afghanistan</option>
                    <option value="Albania">Albania</option>
                    <option value="Algeria">Algeria</option>
                    <option value="American Samoa">American Samoa</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Anguilla">Anguilla</option>
                    <option value="Antigua & Barbuda">Antigua & Barbuda</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armenia">Armenia</option>
                    <option value="Aruba">Aruba</option>
                    <option value="Australia">Australia</option>
                    <option value="Austria">Austria</option>
                    <option value="Azerbaijan">Azerbaijan</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Bahrain">Bahrain</option>
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="Barbados">Barbados</option>
                    <option value="Belarus">Belarus</option>
                    <option value="Belgium">Belgium</option>
                    <option value="Belize">Belize</option>
                    <option value="Benin">Benin</option>
                    <option value="Bermuda">Bermuda</option>
                    <option value="Bhutan">Bhutan</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Bonaire">Bonaire</option>
                    <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                    <option value="Botswana">Botswana</option>
                    <option value="Brazil">Brazil</option>
                    <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                    <option value="Brunei">Brunei</option>
                    <option value="Bulgaria">Bulgaria</option>
                    <option value="Burkina Faso">Burkina Faso</option>
                    <option value="Burundi">Burundi</option>
                    <option value="Cambodia">Cambodia</option>
                    <option value="Cameroon">Cameroon</option>
                    <option value="Canada">Canada</option>
                    <option value="Canary Islands">Canary Islands</option>
                    <option value="Cape Verde">Cape Verde</option>
                    <option value="Cayman Islands">Cayman Islands</option>
                    <option value="Central African Republic">Central African Republic</option>
                    <option value="Chad">Chad</option>
                    <option value="Channel Islands">Channel Islands</option>
                    <option value="Chile">Chile</option>
                    <option value="China">China</option>
                    <option value="Christmas Island">Christmas Island</option>
                    <option value="Cocos Island">Cocos Island</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Comoros">Comoros</option>
                    <option value="Congo">Congo</option>
                    <option value="Cook Islands">Cook Islands</option>
                    <option value="Costa Rica">Costa Rica</option>
                    <option value="Cote DIvoire">Cote DIvoire</option>
                    <option value="Croatia">Croatia</option>
                    <option value="Cuba">Cuba</option>
                    <option value="Curaco">Curacao</option>
                    <option value="Cyprus">Cyprus</option>
                    <option value="Czech Republic">Czech Republic</option>
                    <option value="Denmark">Denmark</option>
                    <option value="Djibouti">Djibouti</option>
                    <option value="Dominica">Dominica</option>
                    <option value="Dominican Republic">Dominican Republic</option>
                    <option value="East Timor">East Timor</option>
                    <option value="Ecuador">Ecuador</option>
                    <option value="Egypt">Egypt</option>
                    <option value="El Salvador">El Salvador</option>
                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                    <option value="Eritrea">Eritrea</option>
                    <option value="Estonia">Estonia</option>
                    <option value="Ethiopia">Ethiopia</option>
                    <option value="Falkland Islands">Falkland Islands</option>
                    <option value="Faroe Islands">Faroe Islands</option>
                    <option value="Fiji">Fiji</option>
                    <option value="Finland">Finland</option>
                    <option value="France">France</option>
                    <option value="French Guiana">French Guiana</option>
                    <option value="French Polynesia">French Polynesia</option>
                    <option value="French Southern Ter">French Southern Ter</option>
                    <option value="Gabon">Gabon</option>
                    <option value="Gambia">Gambia</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Germany">Germany</option>
                    <option value="Ghana">Ghana</option>
                    <option value="Gibraltar">Gibraltar</option>
                    <option value="Great Britain">Great Britain</option>
                    <option value="Greece">Greece</option>
                    <option value="Greenland">Greenland</option>
                    <option value="Grenada">Grenada</option>
                    <option value="Guadeloupe">Guadeloupe</option>
                    <option value="Guam">Guam</option>
                    <option value="Guatemala">Guatemala</option>
                    <option value="Guinea">Guinea</option>
                    <option value="Guyana">Guyana</option>
                    <option value="Haiti">Haiti</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Honduras">Honduras</option>
                    <option value="Hong Kong">Hong Kong</option>
                    <option value="Hungary">Hungary</option>
                    <option value="Iceland">Iceland</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="India">India</option>
                    <option value="Iran">Iran</option>
                    <option value="Iraq">Iraq</option>
                    <option value="Ireland">Ireland</option>
                    <option value="Isle of Man">Isle of Man</option>
                    <option value="Israel">Israel</option>
                    <option value="Italy">Italy</option>
                    <option value="Jamaica">Jamaica</option>
                    <option value="Japan">Japan</option>
                    <option value="Jordan">Jordan</option>
                    <option value="Kazakhstan">Kazakhstan</option>
                    <option value="Kenya">Kenya</option>
                    <option value="Kiribati">Kiribati</option>
                    <option value="Korea North">Korea North</option>
                    <option value="Korea Sout">Korea South</option>
                    <option value="Kuwait">Kuwait</option>
                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                    <option value="Laos">Laos</option>
                    <option value="Latvia">Latvia</option>
                    <option value="Lebanon">Lebanon</option>
                    <option value="Lesotho">Lesotho</option>
                    <option value="Liberia">Liberia</option>
                    <option value="Libya">Libya</option>
                    <option value="Liechtenstein">Liechtenstein</option>
                    <option value="Lithuania">Lithuania</option>
                    <option value="Luxembourg">Luxembourg</option>
                    <option value="Macau">Macau</option>
                    <option value="Macedonia">Macedonia</option>
                    <option value="Madagascar">Madagascar</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Malawi">Malawi</option>
                    <option value="Maldives">Maldives</option>
                    <option value="Mali">Mali</option>
                    <option value="Malta">Malta</option>
                    <option value="Marshall Islands">Marshall Islands</option>
                    <option value="Martinique">Martinique</option>
                    <option value="Mauritania">Mauritania</option>
                    <option value="Mauritius">Mauritius</option>
                    <option value="Mayotte">Mayotte</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Midway Islands">Midway Islands</option>
                    <option value="Moldova">Moldova</option>
                    <option value="Monaco">Monaco</option>
                    <option value="Mongolia">Mongolia</option>
                    <option value="Montserrat">Montserrat</option>
                    <option value="Morocco">Morocco</option>
                    <option value="Mozambique">Mozambique</option>
                    <option value="Myanmar">Myanmar</option>
                    <option value="Nambia">Nambia</option>
                    <option value="Nauru">Nauru</option>
                    <option value="Nepal">Nepal</option>
                    <option value="Netherland Antilles">Netherland Antilles</option>
                    <option value="Netherlands">Netherlands (Holland, Europe)</option>
                    <option value="Nevis">Nevis</option>
                    <option value="New Caledonia">New Caledonia</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Nicaragua">Nicaragua</option>
                    <option value="Niger">Niger</option>
                    <option value="Nigeria">Nigeria</option>
                    <option value="Niue">Niue</option>
                    <option value="Norfolk Island">Norfolk Island</option>
                    <option value="Norway">Norway</option>
                    <option value="Oman">Oman</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="Palau Island">Palau Island</option>
                    <option value="Palestine">Palestine</option>
                    <option value="Panama">Panama</option>
                    <option value="Papua New Guinea">Papua New Guinea</option>
                    <option value="Paraguay">Paraguay</option>
                    <option value="Peru">Peru</option>
                    <option value="Phillipines">Philippines</option>
                    <option value="Pitcairn Island">Pitcairn Island</option>
                    <option value="Poland">Poland</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Puerto Rico">Puerto Rico</option>
                    <option value="Qatar">Qatar</option>
                    <option value="Republic of Montenegro">Republic of Montenegro</option>
                    <option value="Republic of Serbia">Republic of Serbia</option>
                    <option value="Reunion">Reunion</option>
                    <option value="Romania">Romania</option>
                    <option value="Russia">Russia</option>
                    <option value="Rwanda">Rwanda</option>
                    <option value="St Barthelemy">St Barthelemy</option>
                    <option value="St Eustatius">St Eustatius</option>
                    <option value="St Helena">St Helena</option>
                    <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                    <option value="St Lucia">St Lucia</option>
                    <option value="St Maarten">St Maarten</option>
                    <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
                    <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
                    <option value="Saipan">Saipan</option>
                    <option value="Samoa">Samoa</option>
                    <option value="Samoa American">Samoa American</option>
                    <option value="San Marino">San Marino</option>
                    <option value="Sao Tome & Principe">Sao Tome & Principe</option>
                    <option value="Saudi Arabia">Saudi Arabia</option>
                    <option value="Senegal">Senegal</option>
                    <option value="Seychelles">Seychelles</option>
                    <option value="Sierra Leone">Sierra Leone</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Slovakia">Slovakia</option>
                    <option value="Slovenia">Slovenia</option>
                    <option value="Solomon Islands">Solomon Islands</option>
                    <option value="Somalia">Somalia</option>
                    <option value="South Africa">South Africa</option>
                    <option value="Spain">Spain</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="Sudan">Sudan</option>
                    <option value="Suriname">Suriname</option>
                    <option value="Swaziland">Swaziland</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="Syria">Syria</option>
                    <option value="Tahiti">Tahiti</option>
                    <option value="Taiwan">Taiwan</option>
                    <option value="Tajikistan">Tajikistan</option>
                    <option value="Tanzania">Tanzania</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Togo">Togo</option>
                    <option value="Tokelau">Tokelau</option>
                    <option value="Tonga">Tonga</option>
                    <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                    <option value="Tunisia">Tunisia</option>
                    <option value="Turkey">Turkey</option>
                    <option value="Turkmenistan">Turkmenistan</option>
                    <option value="Turks & Caicos Is">Turks & Caicos Is</option>
                    <option value="Tuvalu">Tuvalu</option>
                    <option value="Uganda">Uganda</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="Ukraine">Ukraine</option>
                    <option value="United Arab Erimates">United Arab Emirates</option>
                    <option value="United States of America">United States of America</option>
                    <option value="Uraguay">Uruguay</option>
                    <option value="Uzbekistan">Uzbekistan</option>
                    <option value="Vanuatu">Vanuatu</option>
                    <option value="Vatican City State">Vatican City State</option>
                    <option value="Venezuela">Venezuela</option>
                    <option value="Vietnam">Vietnam</option>
                    <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                    <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                    <option value="Wake Island">Wake Island</option>
                    <option value="Wallis & Futana Is">Wallis & Futana Is</option>
                    <option value="Yemen">Yemen</option>
                    <option value="Zaire">Zaire</option>
                    <option value="Zambia">Zambia</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                  </select>
                </div>
                <div class="form-group">
                </div>
                <div class="form-group">
                  <label class="control-label"> {% trans "Stadt" %} </label>
                  <input maxlength="150" value="{{address_default.city}}" required="required" name="city" type="text" id="city"  class="form-control" placeholder="Stadt" />
                </div>
              </div>
              <div class="grids">
                <div class="form-group">
                  <label class="control-label">{% trans "PLZ" %} </label>
                  <input maxlength="25" value="{{address_default.district}}" required="required" name="district" type="text" id="zip" class="form-control" placeholder="PLZ" />
                </div>
                <div class="form-group">
                </div>
                <div class="form-group">
                  <label class="control-label"> {% trans "Telefon" %}</label>
                  <input maxlength="15" value="{{address_default.address_tel}}"  required="required" name="tel" type="text" id="tel" class="form-control" placeholder="Telefon" />
                </div>
              </div>

              </div>
          </div>
        </div>
        <div class="col-md-6 form-group" id="hiddenField" style="display:none;">
            <br><h3  style= "color: red; font-weight: bold; " > {% trans "Firma" %} </h3><br>
            <div class="form-group">
              <label class="control-label">{% trans "Name Des Unternehmens" %} </label>
              <input maxlength="50" value="{{company_default.firma_unvani}}"  name="company_name" type="text" id="company_name"  class="form-control" placeholder="" />
            </div>
            <div class="form-group">
              <label class="control-label"> {% trans "Finanzamt" %} </label>
              <input maxlength="100" value="{{company_default.vergi_dairesi}}"  name="tax_administration" type="text" id="tax_administration"  class="form-control" placeholder="" />
            </div>
            <div class="row ">
              <div class="col-md-6">
                <label class="control-label"> {% trans "Steuernummer" %}</label>
                <input maxlength="11" value="{{company_default.vergi_no}}"  name="tax_number" type="text" id="tax_number"  class="form-control" placeholder="" />
              </div>
              <div class="col-md-6">
                <label class="control-label">{% trans "Firmentelefon" %}</label>
                <input maxlength="11" value="{{company_default.company_telephone}}"  name="company_telephone" type="text" id="companytel"  class="form-control" placeholder="" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">{% trans " Anschrift Des Unternehmens" %}</label>
              <input maxlength="350" value="{{company_default.company_address}}"  name="company_address" type="text" id="company_address"  class="form-control" placeholder="" />
            </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-md-12" style="margin-top:10px;">
        <p> {% trans "ACHTUNG: Bei Lieferungen in die Schweiz und nach Liechtenstein werden 7,7% MWST der Kaufsumme verrechnet. Bei Lieferungen ins Ausland entfällt die MWST zur Gänze." %}</p>
        <p> {% trans "Die Versandkosten in die Schweiz/Liechtenstein betragen generell Sfr. 10,-. Die Versandkosten ins Ausland betragen generell Sfr. 20,-." %} </p>
        <br>
         <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">{% trans "Nach vorne" %}</button>
        </div>
      </div>
    </div>
    <div class="row setup-content" id="step-last">
      <div class="col-xs-12">
        <div class="col-md-12">
          <div class="information-blocks">
              <div class="row">
                  <div class="col-sm-9 information-entry">
                      <h3 class="cart-column-title size-1">{% trans "Warenkorb" %}</h3>
                      {% for cp in shop_cart %}
                      <div class="traditional-cart-entry style-1">
                          {% comment %} <a class="image" href="{% url 'product:product-detail' cp.product.slug %}"><img alt="" src="/static/website/images/{{cp.product.product_pictures}}" ></a> {% endcomment %}
                            {% if cp.product.product_pictures  %}
                                <a class="image" href="{% url 'product:product-detail' cp.product.slug %}"><img alt="" src="/static/website/images/{{cp.product.product_coverpic}}" ></a>
                            {% else %}
                                <a class="image" href="{% url 'product:product-detail' cp.product.slug %}"><img alt="" src="{{cp.product.get_product_image.0.get_image_url}}" ></a>
                            {% endif %}
                          <div class="content">
                              <div class="cell-view">
                                  {% for pc in cp.product.get_product_category %}
                                      <a class="tag" href="#">{{ pc.product_category }}</a>
                                  {% endfor %}
                                  <a class="title" href="{% url 'product:product-detail' cp.product.slug %}">{{ cp.product.product_name }}</a>
                                  <div class="inline-description">  {{ cp.size }}</div>
                                  <div class="inline-description">{{ cp.product.product_detail| safe }}</div>
                                  <div class="price">
                                    {% if cp.product.product_sale == "Indirimli Urun" %}
                                    <div class="prev"> {{cp.product.product_price }}</div> 
                                    <div class="current">CHF.  {{cp.product.product_price_sale }}</div> <br>
                                    <div class="prev"> {{cp.product.product_price2 }}</div>
                                    <div class="current"> EUR. {{cp.product.product_price2_sale }}</div>
                                    {% else %}
                                    <div class="current"> CHF.  {{cp.product.product_price }}</div> 
                                    <div class="current"> EUR. {{cp.product.product_price2 }}</div>
                                    {% endif %}
                                  </div>
                                  <div class="quantity-selector detail-info-entry">
                                            <div class="detail-info-entry-title">{% trans "Stück" %}: <span style="color:red; font-size:20px;"> {{ cp.quantity }} </span> </div> 
                                  </div>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
                  <div class="col-sm-3 information-entry">
                      <h3 class="cart-column-title size-1" style="text-align: center;">{% trans "Gesamtbetrag" %}</h3>
                      <div class="sidebar-subtotal">
                          <div class="price-data">
                              <div class="main">CHF. {{total}}</div>
                              <div class="main">EUR. {{total2}}</div>
                              <label style="color:red;"> <input style=" -webkit-appearance: listbox; " type="radio"  name="payment_type" value="ZAHLEN SIE IN CHF." required> {% trans "ZAHLEN SIE IN" %} CHF. </label>
                              <label style="color:red;"> <input style=" -webkit-appearance: listbox; " type="radio"  name="payment_type" value="ZAHLEN SIE IN EUR." required > {% trans "ZAHLEN SIE IN" %} EUR. </label>
                              {% comment %} <label style="color:red;"> <input style=" -webkit-appearance: listbox; " type="radio"  name="payment_method" value="Bank & Postüberweisung" required> Bank & Postüberweisung  </label>
                              <label style="color:red;"> <input style=" -webkit-appearance: listbox; " type="radio"  name="payment_method" value="Kredit und Debitkarten / PayPal" required > Kredit und Debitkarten / PayPal </label>
                               {% endcomment %}
                            <!--
                              <div class="title">Steuer nicht inbegriffen &amp; Versand</div>
                              <div class="subtitle">BESTELLUNGEN WERDEN IN EUR VERARBEITET</div>
                            -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <button class="btn btn-primary nextBtn btn-lg pull-right" type="submit">{% trans "Bezahlen" %}</button>
        </div>
      </div>
    </div>
  </form>
</div>
<br><br><br><br>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!--
<script src="https://cdn.bootcss.com/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="{% static 'transfer360/js/datetimepicker.js' %}">
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

</script>
<!-- Page Scripts Starts -->
<script src="{% static 'website/js/jquery-2.1.3.min.js' %}"></script>
<!-- Page Scripts Ends -->

<script>
  function tckimlikkontorolu(tcno) {
          var tckontrol,toplam; tckontrol = tcno; tcno = tcno.value; toplam = Number(tcno.substring(0,1)) + Number(tcno.substring(1,2)) +
          Number(tcno.substring(2,3)) + Number(tcno.substring(3,4)) +
          Number(tcno.substring(4,5)) + Number(tcno.substring(5,6)) +
          Number(tcno.substring(6,7)) + Number(tcno.substring(7,8)) +
          Number(tcno.substring(8,9)) + Number(tcno.substring(9,10));
          strtoplam = String(toplam); onunbirlerbas = strtoplam.substring(strtoplam.length,strtoplam.length-1);

}
</script>
<!-- 
       if(onunbirlerbas == tcno.substring(10,11)) { 
            alert("doğru");
          } else{
            alert("yanlış");
          }
-->
</div>
{% include 'website/base/footer.html' %}