{% load static %}
{% include 'website/base/header.html' %}

  	<title>Modadivivere - Kundenregister</title>
</head>
<body class="style-10">

    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">Wird geladen</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}

        <div class="content-center fixed-header-margin">


            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">Home</a>
                    <a href="#">Login Form</a>
                </div>

                <div class="information-blocks">
                    <div class="row">
                        <div class="col-sm-6 information-entry">
                            <div class="login-box">
                                <div class="article-container style-1">
                                    <h3>Anmelden</h3>
                                    <p>Modadivivere füllen Sie die folgenden Informationen aus, um Mitglied unserer Website zu werden.</p>
                                </div>
                                <form action="{% url 'accounts:client-register' %}" method="post">
                                    {% csrf_token %}
                                    <label>Name</label>
                                    {{ form.first_name }}
                                    <label>Nachname</label>
                                    {{ form.last_name }}
                                    <label>E Posta</label>
                                    {{ form.email }}
                                    <label>Benutzername</label>
                                    {{ form.username }}
                                    <label>TC Kennnummer</label>
                                    {{ client_form.tckn }}
                                    <label>Parola</label>
                                    {{ form.password1 }}
                                    <label>Passwort Erneut</label>
                                    {{ form.password2 }}
                                    <label></label>
                                    <div class="button style-10">Login Page<input type="submit" value="" /></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-6 information-entry">
                            <div class="login-box">
                                <div class="article-container style-1">
                                    <h3>Wenn Sie Mitglied Sind Anmelden</h3>
                                    <p>Modadivivere wenn Sie bereits Mitglied unserer Website sind,Anmelden.</p>
                                </div>
                                <a href="{% url 'accounts:login' %}" class="button style-12">Anmelden</a>
                            </div>
                        </div>
                    </div>
                </div>

{% include 'website/base/footer.html' %}
