{% load static %}
{% load i18n %}

{% include 'website/base/header.html' %}
  	<title> Modadivivere </title>

<link rel="stylesheet" href="{% static 'website/css/purecookie.css' %}"/>
<script src="{% static 'website/js/purecookie.js' %}"></script>

</head>
<body class="style-10">

    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">{% trans "Wird geladen" %}</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">

{% include 'website/base/header2.html' %}

            <div class="content-push">
               
{% include 'website/base/anasayfa_slider_full_width.html' %} 
{% include 'website/base/anasayfa_3lu_kategoriler.html' %} 
{% include 'website/product/featured-popular-new.html' %} 
{% include 'website/base/man_woman.html' %} 
{% include 'website/base/top_categories.html' %} 
{% include 'website/base/galery.html' %} 

{% include 'website/base/footer.html' %}


