{% load static %}
{% include 'website/base/header.html' %}

  	<title>Modadivivere - Anmeldung</title>
</head>
<body class="style-10">

    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">Wird geladen</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}

        <div class="content-center fixed-header-margin">


            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">Home</a>
                    <a href="#">Anmelden</a>
                </div>

                <div class="information-blocks">
                    <div class="row">
                        <div class="col-sm-6 information-entry">
                            <div class="login-box">
                                <div class="article-container style-1">
                                    <h3> wenn Sie Mitglied sind Anmelden</h3>
                                    <p>Modadiviverewenn Sie bereits Mitglied unserer Website sind, sofort Anmelden .</p>
                                </div>
                                <form action="{% url 'accounts:login' %}" method="post">
                                {% csrf_token %}
                                    <label>Kullanıcı Adı</label>
                                    {{ login_form.username }}
                                    <label>Parola</label>
                                    {{ login_form.password }}

                                    <div class="button style-10">Anmelden<input type="submit" value="" /></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-6 information-entry">
                            <div class="login-box">
                                <div class="article-container style-1">
                                    <h3>Anmelden</h3>
                                    <p>Modadivivere erstellen Sie den folgenden sofortigen Benutzer, um Mitglied unserer Website zu werden.</p>
                                </div>
                                <a href="{% url 'accounts:client-register' %}" class="button style-12">Benutzer Erstellen</a>
                            </div>
                        </div>
                    </div>
                </div>

                

{% include 'website/product/special_products_2.html' %}

{% include 'website/base/footer.html' %}
