{% load static %}
{% include 'website/base/header.html' %}

  	<title> Yağ Dükkanım  </title>
</head>
<body class="style-10">

    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">Wird geladen</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}

<style>

    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }

    .container{
    position: relative;
    width: 400px;
    background: #111;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    .container .post{
    display: none;
    }
    .container .text{
    font-size: 25px;
    color: #666;
    font-weight: 500;
    }
    .container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
    }
    .container .edit:hover{
    text-decoration: underline;
    }
    .container .star-widget input{
    display: none;
    }
    .star-widget label{
    font-size: 25px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
    }
    input:not(:checked) ~ label:hover,
    input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
    }
    input:checked ~ label{
    color: #fd4;
    }
    input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
    }
    #rate-1:checked ~ form header:before{
    content: "I just hate it 😠";
    }
    #rate-2:checked ~ form header:before{
    content: "I don't like it 😒";
    }
    #rate-3:checked ~ form header:before{
    content: "It is awesome 😄";
    }
    #rate-4:checked ~ form header:before{
    content: "I just like it 😎";
    }
    #rate-5:checked ~ form header:before{
    content: "I just love it 😍";
    }
    .container form{
    display: none;
    }
    input:checked ~ form{
    display: block;
    }
    form header{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
    }
    form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
    }
    form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
    }
    .textarea textarea:focus{
    border-color: #444;
    }
    form .btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
    }
    form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    }
    form .btn button:hover{
    background: #1b1b1b;
    }

</style>
        

            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">Home</a>
                    <a href="{% url 'product:tumurunler' %}">Produkte</a>
                    <a href="#">{{product.category }}</a>
                    <a href="#">{{product.product_name }}</a>
                      
                </div>

                <div class="information-blocks">
                    <div class="row">
                        <div class="col-sm-5 col-md-4 col-lg-5 information-entry">
                            <div class="product-preview-box">
                                <div class="swiper-container product-preview-swiper" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                                    <div class="swiper-wrapper">

                                        {% if product.get_product_image.0.get_image_url %}
                                            <div class="swiper-slide">
                                                <div class="product-zoom-image">

                                                    <img src="{{product.get_product_image.0.get_image_url}}" data-zoom="{{product.get_product_image.0.get_image_url}}" alt="" />
                                                </div>
                                            </div>

                                        {% elif product.product_coverpic %}
                                            <div class="swiper-slide">
                                                <div class="product-zoom-image">

                                                    <img src="/static/website/images/{{product.product_coverpic}}" data-zoom="/static/website/images/{{product.product_coverpic}}" alt="" />
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if product.get_product_image.1.get_image_url %}
                                            <div class="swiper-slide">
                                                <div class="product-zoom-image">

                                                    <img src="{{product.get_product_image.1.get_image_url}}" data-zoom="{{product.get_product_image.1.get_image_url}}" alt="" />
                                                </div>
                                            </div>

                                        {% elif product.product_second_picture %}
                                            <div class="swiper-slide">
                                                <div class="product-zoom-image">

                                                    <img src="/static/website/images/{{product.product_second_picture}}" data-zoom="/static/website/images/{{product.product_second_picture}}" alt="" />
                                                </div>
                                            </div>

                                        {% elif product.product_pictures %}
                                            <div class="swiper-slide">
                                                <div class="product-zoom-image">

                                                    <img src="/static/website/images/{{product.product_pictures}}" data-zoom="/static/website/images/{{product.product_pictures}}" alt="" />
                                                </div>
                                            </div>

                                        {% endif %}



                                        {% if product.get_product_image.2.get_image_url %}
                                            <div class="swiper-slide">
                                                <div class="product-zoom-image">

                                                    <img src="{{product.get_product_image.2.get_image_url}}" data-zoom="{{product.get_product_image.2.get_image_url}}" alt="" />
                                                </div>
                                            </div>
                                        {% endif %}
                                        
                                    </div>

                                    <div class="pagination"></div>
                                    <div class="product-zoom-container">
                                        <div class="move-box">

                                            {% if product.product_coverpic %}

                                            <img class="default-image" src="/static/website/images/{{product.product_coverpic}}" alt="" />
                                            <img class="zoomed-image" src="/static/website/images/{{product.product_coverpic}}" alt="" />

                                            {% else %}

                                            <img class="default-image" src="{{product.get_product_image.0.get_image_url}}" alt="" />
                                            <img class="zoomed-image" src="{{product.get_product_image.0.get_image_url}}" alt="" />

                                            {% endif %}
<!--
                                            <img class="default-image" src="img/product-main-1.jpg" alt="" />
                                            <img class="zoomed-image" src="img/product-main-1-zoom.jpg" alt="" />
-->
                                        </div>
                                        <div class="zoom-area"></div>
                                    </div>
                                </div>
                                <div class="swiper-hidden-edges">
                                    <div class="swiper-container product-thumbnails-swiper" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="3" data-int-slides="3" data-sm-slides="3" data-md-slides="4" data-lg-slides="4" data-add-slides="4">
                                        <div class="swiper-wrapper">
                                        <!--
                                            <div class="swiper-slide selected">
                                                <div class="paddings-container">
                                                    <img src="img/product-main-1.jpg" alt="" />
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="paddings-container">
                                                    <img src="img/product-main-2.jpg" alt="" />
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="paddings-container">
                                                    <img src="img/product-main-3.jpg" alt="" />
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="paddings-container">
                                                    <img src="img/product-main-4.jpg" alt="" />
                                                </div>
                                            </div>
                                        -->
                                            {% if product.get_product_image.0.get_image_url %}

                                            <div class="swiper-slide ">
                                                <div class="paddings-container">
                                                    <img src="{{product.get_product_image.0.get_image_url}}" alt="" />
                                                </div>
                                            </div>

                                            {% elif product.product_coverpic %}
                                            <div class="swiper-slide ">
                                                <div class="paddings-container">
                                                    <img src="/static/website/images/{{product.product_coverpic}}" alt="" />
                                                </div>
                                            </div>
                                            {% endif %}

                                            {% if product.get_product_image.1.get_image_url %}
                                                <div class="swiper-slide ">
                                                    <div class="paddings-container">
                                                        <img src="{{product.get_product_image.1.get_image_url}}" alt="" />
                                                    </div>
                                                </div>
                                            {% elif product.product_second_picture %}
                                                <div class="swiper-slide ">
                                                    <div class="paddings-container">
                                                        <img src="/static/website/images/{{product.product_second_picture}}" alt="" />
                                                    </div>
                                                </div>
                                            {% elif product.product_pictures %}
                                                <div class="swiper-slide ">
                                                    <div class="paddings-container">
                                                        <img src="/static/website/images/{{product.product_pictures}}" alt="" />
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if product.get_product_image.2.get_image_url %}
                                                <div class="swiper-slide ">
                                                    <div class="paddings-container">
                                                        <img src="{{product.get_product_image.2.get_image_url}}" alt="" />
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--
                        <div class="col-sm-5 col-md-4 col-lg-5 information-entry">
                            <div class="product-preview-box">
                                <div class="swiper-container product-preview-swiper" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                                    <div class="swiper-wrapper">
                                    

                                            {% if product.product_pictures %}
                                        <div class="swiper-slide">
                                            <div class="product-zoom-image">

                                                <img src="/static/website/images/{{product.product_coverpic}}" alt="" data-zoom="/static/website/images/{{product.product_coverpic}}" />
                                            </div>
                                        </div>
                                            {% else %}
                                        <div class="swiper-slide">
                                            <div class="product-zoom-image">

                                                <img src="{{product.get_product_image.0.get_image_url}}" alt="" data-zoom="{{product.get_product_image.0.get_image_url}}" />
                                            </div>
                                        </div>
                                            {% endif %}


                                            {% if product.get_product_image.0.get_image_url %}
                                        <div class="swiper-slide">
                                            <div class="product-zoom-image">

                                                <img src="{{product.get_product_image.0.get_image_url}}" data-zoom="{{product.get_product_image.0.get_image_url}}" alt="" />
                                            </div>
                                        </div>
                                            {% endif %}

                                            {% if product.product_coverpic %}
                                        <div class="swiper-slide">
                                            <div class="product-zoom-image">

                                                <img src="/static/website/images/{{product.product_coverpic}}" data-zoom="/static/website/images/{{product.product_coverpic}}" alt="" />
                                            </div>
                                        </div>
                                            {% endif %}

                                            {% if product.product_pictures %}
                                        <div class="swiper-slide">
                                            <div class="product-zoom-image">

                                                <img src="/static/website/images/{{product.product_pictures}}" data-zoom="/static/website/images/{{product.product_pictures}}" alt="" />
                                            </div>
                                        </div>
                                            {% endif %}

                                            {% if product.product_second_picture == "NULL"  %}
                                        <div class="swiper-slide">
                                            <div class="product-zoom-image">

                                                <img src="/static/website/images/{{product.product_coverpic}}" data-zoom="/static/website/images/{{product.product_coverpic}}" alt="" />
                                            </div>
                                        </div>
                                            {% endif %}

                                            {% if product.product_second_picture %}
                                        <div class="swiper-slide">
                                            <div class="product-zoom-image">

                                                <img src="/static/website/images/{{product.product_second_picture}}" data-zoom="/static/website/images/{{product.product_second_picture}}" alt="" />
                                            </div>
                                        </div>
                                            {% endif %}

                                            {% if product.get_product_image.1.get_image_url %}
                                        <div class="swiper-slide">
                                            <div class="product-zoom-image">

                                                <img src="{{product.get_product_image.1.get_image_url}}" data-zoom="{{product.get_product_image.1.get_image_url}}" alt="" />
                                            </div>
                                        </div>
                                            {% endif %}

                                            {% if product.product_pictures == "NULL"  %}
                                        <div class="swiper-slide">
                                            <div class="product-zoom-image">

                                                <img src="/static/website/images/{{product.product_coverpic}}" data-zoom="/static/website/images/{{product.product_coverpic}}" alt="" />
                                            



                                            </div>
                                        </div>
                                    
                                            {% endif %}




                                    </div>
                                    <div class="pagination"></div>
                                    <div class="product-zoom-container">
                                        <div class="move-box">
                                        
                                            {% if product.product_pictures %}
                                                <img class="default-image" src="/static/website/images/{{product.product_pictures}}"  alt="" />
                                                <img class="zoomed-image" src="/static/website/images/{{product.product_coverpic}}" alt="" />
                                            {% endif %}

                                            {% if product.product_coverpic %}
                                                <img class="default-image" src="/static/website/images/{{product.product_coverpic}}" alt="" />
                                                <img class="zoomed-image" src="/static/website/images/{{product.product_pictures}}" alt="" />
                                            {% endif %}

                                            {% if product.get_product_image.0.get_image_url %}
                                                <img class="default-image" src="{{product.get_product_image.0.get_image_url}}" alt="" />
                                                <img class="zoomed-image" src="{{product.get_product_image.1.get_image_url}}" alt="" />
                                            {% endif %}




                                            {% if product.get_product_image.0.get_image_url %}
                                                <img src="{{product.get_product_image.0.get_image_url}}" style=" height: -webkit-fill-available; " alt="" />
                                            {% endif %}

                                            {% if product.product_coverpic %}
                                                <img src="/static/website/images/{{product.product_coverpic}}" style=" height: -webkit-fill-available; " alt="" />
                                            {% endif %}

                                            {% if product.product_pictures %}
                                                <img src="/static/website/images/{{product.product_pictures}}" style=" height: -webkit-fill-available; " alt="" />
                                            {% endif %}

                                            {% if product.product_second_picture == "NULL"  %}
                                                <img src="/static/website/images/{{product.product_coverpic}}" style=" height: -webkit-fill-available; " alt="" />
                                            {% endif %}

                                            {% if product.product_second_picture %}
                                                <img src="/static/website/images/{{product.product_second_picture}}" style=" height: -webkit-fill-available; " alt="" />
                                            {% endif %}

                                            {% if product.get_product_image.1.get_image_url %}
                                                <img src="{{product.get_product_image.1.get_image_url}}" style=" height: -webkit-fill-available; " alt="" />
                                            {% endif %}

                                            {% if product.product_pictures == "NULL"  %}
                                                <img src="/static/website/images/{{product.product_coverpic}}" style=" height: -webkit-fill-available; " alt="" />
                                            {% endif %}






                                        </div>
                                        <div class="zoom-area"></div>
                                    </div>
                                </div>
                                <div class="swiper-hidden-edges">
                                    <div class="swiper-container product-thumbnails-swiper" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="3" data-int-slides="3" data-sm-slides="3" data-md-slides="4" data-lg-slides="4" data-add-slides="4">
                                        <div class="swiper-wrapper">
                                

                                            {% if product.get_product_image.0.get_image_url %}


                                                <div class="swiper-slide">
                                                    <div class="paddings-container">
                                                        <img src="{{product.get_product_image.0.get_image_url}}" alt="" />
                                                    </div>
                                                </div>
                                        
                                            {% endif %}

                                            {% if product.product_coverpic %}


                                                <div class="swiper-slide">
                                                    <div class="paddings-container">
                                                        <img src="/static/website/images/{{product.product_coverpic}}" alt="" />
                                                    </div>
                                                </div>
                                            
                                            {% endif %}

                                            {% if product.product_pictures %}


                                                <div class="swiper-slide">
                                                    <div class="paddings-container">
                                                        <img src="/static/website/images/{{product.product_pictures}}" alt="" />
                                                    </div>
                                                </div>
                                            
                                            {% endif %}

                                            {% if product.product_second_picture == "NULL"  %}


                                                <div class="swiper-slide">
                                                    <div class="paddings-container">
                                                        <img src="/static/website/images/{{product.product_coverpic}}" alt="" />
                                                    </div>
                                                </div>
                                        
                                            {% endif %}

                                            {% if product.product_second_picture %}


                                                <div class="swiper-slide">
                                                    <div class="paddings-container">
                                                        <img src="/static/website/images/{{product.product_second_picture}}" alt="" />
                                                    </div>
                                                </div>
                                            
                                            {% endif %}

                                            {% if product.get_product_image.1.get_image_url %}


                                                <div class="swiper-slide">
                                                    <div class="paddings-container">
                                                        <img src="{{product.get_product_image.1.get_image_url}}" alt="" />
                                                    </div>
                                                </div>
                                            
                                            {% endif %}

                                            {% if product.product_pictures == "NULL"  %}


                                                <div class="swiper-slide">
                                                    <div class="paddings-container">
                                                        <img src="/static/website/images/{{product.product_coverpic}}" alt="" />
                                                    </div>
                                                </div>
                                            
                                            {% endif %}
                                        </div>
                                        <div class="pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
-->
                        <div class="col-sm-7 col-md-4 information-entry">
                            <div class="product-detail-box">
                                <h1 class="product-title">{{product.product_name }}</h1>
                                <h3 class="product-subtitle">   <a href="{% url 'product:shop' product.category.slug %}">{{product.category }}</a> </h3>
                                <div class="rating-box">
                                                                    
                                    {{ort_comments |floatformat:2 }}

                                    
                                    {% if  ort_comments >= 5 %}
                                        <div class="star"><i style="color: #f5c10c;" class="fa fa-star"></i></div>
                                        <div class="star"><i style="color: #f5c10c;" class="fa fa-star"></i></div>
                                        <div class="star"><i style="color: #f5c10c;" class="fa fa-star"></i></div>
                                        <div class="star"><i style="color: #f5c10c;" class="fa fa-star"></i></div>
                                        <div class="star"><i style="color: #f5c10c;" class="fa fa-star"></i></div>
                                    
                                    {% elif ort_comments >= 4 %}
                                        <div class="star"><i style="color: #f5c10c;" class="fa fa-star"></i></div>
                                        <div class="star"><i style="color: #f5c10c;" class="fa fa-star"></i></div>
                                        <div class="star"><i style="color: #f5c10c;" class="fa fa-star"></i></div>
                                        <div class="star"><i style="color: #f5c10c;" class="fa fa-star"></i></div>
                                        <div class="star"><i  class="fa fa-star"></i></div>
                                    
                                    {% elif ort_comments >= 3 %}
                                        <div class="star"><i style="color: #f5c10c;" class="fa fa-star"></i></div>
                                        <div class="star"><i style="color: #f5c10c;" class="fa fa-star"></i></div>
                                        <div class="star"><i style="color: #f5c10c;" class="fa fa-star"></i></div>
                                        <div class="star"><i  class="fa fa-star"></i></div>
                                        <div class="star"><i  class="fa fa-star"></i></div>
                                    
                                    {% elif ort_comments >= 2 %}
                                        <div class="star"><i style="color: #f5c10c;" class="fa fa-star"></i></div>
                                        <div class="star"><i  class="fa fa-star"></i></div>
                                        <div class="star"><i  class="fa fa-star"></i></div>
                                        <div class="star"><i  class="fa fa-star"></i></div>
                                        <div class="star"><i  class="fa fa-star"></i></div>
                                    
                                    {% elif  ort_comments >= 1 %}
                                        <div class="star"><i style="color: #f5c10c;" class="fa fa-star"></i></div>
                                        <div class="star"><i  class="fa fa-star"></i></div>
                                        <div class="star"><i  class="fa fa-star"></i></div>
                                        <div class="star"><i  class="fa fa-star"></i></div>
                                        <div class="star"><i  class="fa fa-star"></i></div>
                                    
                                    {% else %}
                                        <div class="star"><i  class="fa fa-star"></i></div>
                                        <div class="star"><i  class="fa fa-star"></i></div>
                                        <div class="star"><i  class="fa fa-star"></i></div>
                                        <div class="star"><i  class="fa fa-star"></i></div>
                                        <div class="star"><i  class="fa fa-star"></i></div>

                                    {% endif %}

                                    {% if comments %}  
                                    <div class="rating-number">{{comments_total}} Kommentar</div>
                                    {% endif %}

                                </div>

                                <div class="product-description detail-info-entry">{{product.title | safe }}</div>
                                <div class="price detail-info-entry">
                                    {% if product.product_sale == "Indirimli Urun" %}
                                    <div class="prev"> {{product.product_price |floatformat:2 }}</div> 
                                    <div class="current">Einzelpreis: CHF. {{product.product_price_sale |floatformat:2 }}</div> <br>

                                    <div class="prev"> {{product.product_price2 |floatformat:2 }}</div>
                                    <div class="current">Einzelpreis: EUR. {{product.product_price2_sale |floatformat:2 }}</div>

                                    {% else %}
                                    <div class="current">Einzelpreis: CHF. {{product.product_price |floatformat:2 }}</div> 
                                    <div class="current">Einzelpreis: EUR. {{product.product_price2 |floatformat:2 }}</div>
                                    {% endif %}
                                </div>

                                <form action="{% url 'order:addtocart' product.pk %}" method='POST'>
                                {% csrf_token %}
                                    <div class="qty-input form-group">
                                        <div class="form-group  ">
                                            <label>MENGE:</label>
                                            <input name="quantity" id="quantity" class="input form-control" type="number" min="0" max="10"  value="1" />
                                        </div>
                                    </div>
                                    <div class="form-group  ">
                                        <label>GRÖSSE:</label>
                                        <select name="size" id="size" data-placeholder="Size " class="form-control" >
                                            {% if stock %}
                                                {% for c in stock %}
                                                <option value="{{c}}">{{ c }}</option>
                                                {% endfor %}
                                            {% else %}
                                                <option value="">------</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="form-group ">
                                        <label>FARBEN:</label>
                                        <select name="color" id="color" data-placeholder="Size " class="form-control" >
                                            {% if product.product_color %}
                                                <option value="{{c.pk}}">{{ c.product_size }}{{product.product_color}} </option>
                                            {% else %}
                                            <option value="">------</option>
                                            {% endif %}

                                            
                                        </select>
                                    </div>
                                    <div class="detail-info-entry">
                                    <br>
                                        <button type="submit" class="button style-10 add-to-cart"> In den Warenkorb </button>
                                        <div class="clear"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="clear visible-xs visible-sm"></div>
                        <div class="col-md-4 col-lg-3 information-entry product-sidebar">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="information-blocks">
                                        <div class="information-entry products-list">
                                            <h3 class="block-title inline-product-column-title">Sonder Produkt</h3>
                                            {% for p in sonder_produkte %}
                                            <div class="inline-product-entry">

                                                {% if p.get_product_image.0.get_image_url %}
                                                    <a href="{% url 'product:product-detail' p.slug %}" class="image"> <img src="{{p.get_product_image.0.get_image_url}}" alt="" /> </a>
                                                
                                                {% elif p.product_coverpic %}
                                                    <a href="{% url 'product:product-detail' p.slug %}" class="image"> <img src="/static/website/images/{{p.product_coverpic}}" alt="" /> </a>
                                                
                                                {% elif p.product_pictures %}
                                                    <a href="{% url 'product:product-detail' p.slug %}" class="image"> <img src="/static/website/images/{{p.product_pictures}}" alt="" /> </a>
                                                
                                                {% else %}
                                                    <a href="{% url 'product:product-detail' p.slug %}" class="image"> <img src="{{p.get_product_image.0.get_image_url}}" alt="" /> </a>
                                                {% endif %}


                                               <div class="content">
                                                    <div class="cell-view">
                                                        <a href="{% url 'product:product-detail' p.slug %}" class="title">{{ p.product_name }}</a>
                                                        <div class="price">
                                                            {% if p.product_sale == "Indirimli Urun" %}
                                                                <div class="prev" >{{p.product_price  |floatformat:2}}</div> 
                                                                <div class="current"  >CHF. {{ p.product_price_sale |floatformat:2 }}</div> <br>
                                                                
                                                                <div class="prev" >{{p.product_price2 |floatformat:2 }}</div> 
                                                                <div class="current"  > EUR.  {{ p.product_price2_sale |floatformat:2 }}</div>   


                                                            {% else %}
                                                                <div class="current"  >CHF. {{ p.product_price |floatformat:2 }}</div> <br>
                                                                <div class="current" > EUR.  {{ p.product_price2 |floatformat:2 }}</div>                                                
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>

                                            {% endfor %}



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="information-blocks">
                    <div class="tabs-container style-1">
                        <div class="swiper-tabs tabs-switch">
                            <div class="title">Produktinformation</div>
                            <div class="list">
                                <a class="tab-switcher active">Produktbeschreibung</a>
                                <a class="tab-switcher">Produktrezensionen</a>

                                <div class="clear"></div>
                            </div>
                        </div>
                        <div>
                            <div class="tabs-entry">
                                <div class="article-container style-1">
                                    <div class="row">
                                        <div class="col-md-12 information-entry">
                                            <h4>PRODUKTBESCHREIBUNG</h4>
                                            <p>{{product.product_name }} </p>
                                            <ul>
                                                <li>{{product.product_detail | safe }}</li>
                                                

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="tabs-entry">
                                <div class="article-container style-1">
                                    <div class="row">
                                        <div class="col-md-6 information-entry eyt-scroll-2">
                                            <h4>Kommentar</h4>
                                            {% if comments %}
                                                {% for comment in comments %}
                                                    <p><b>{{comment.senders_name}}</b></p>
                                                    <ul>
                                                        <li>{{comment.text}}</li>
                                                        
                                                    </ul>
                                                {% endfor %}
                                            
                                            {% else %}
                                            Kommentar : 0 
                                            {% endif %}

                                        </div>
                                        <div class="col-md-6 information-entry">
                                            

                        <form action="{% url 'product:comments' product.slug %}" method="post" novalidate="novalidate" class="col rounded-field">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12" style="padding-left:0px;">
                                    <div class="form-group">
                                        <label>Name - Nachname</label>
                                        <input type="text" name="name" id="name" class="form-control" required data-error="Name - Nachname">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-12" style="padding-left:0px;">
                                    <div class="form-group">
                               
                                        <div class="star-widget">
                                            <input type="radio" name="age" value="5" id="rate-5">
                                            <label for="rate-5" class="fas fa-star"></label>
                                            <input type="radio" name="age" value="4" id="rate-4">
                                            <label for="rate-4" class="fas fa-star"></label>
                                            <input type="radio" name="age" value="3"  id="rate-3">
                                            <label for="rate-3" class="fas fa-star"></label>
                                            <input type="radio" name="age" value="2"  id="rate-2">
                                            <label for="rate-2" class="fas fa-star"></label>
                                            <input type="radio" name="age" value="1"  id="rate-1">
                                            <label for="rate-1" class="fas fa-star"></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Kommentar</label>
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" required data-error="Kommentar"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="default-btn btn-two">
												Einreichen
											</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                                </div>
                            </div>
                        </form>







                                            
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!--
                            <div class="tabs-entry">
                                <div class="article-container style-1">
                                    <div class="row">
                                        <div class="col-md-6 information-entry">
                                            <h4>LADUNG</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                                            <ul>
                                                <li>Any Product types that You want - Simple, Configurable</li>
                                                <li>Downloadable/Digital Products, Virtual Products</li>
                                                <li>Inventory Management with Backordered items</li>
                                                <li>Customer Personal Products - upload text for embroidery, monogramming</li>
                                                <li>Create Store-specific attributes on the fly</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 information-entry">
                                            <h4>RÜCKNAHMEGARANTIE</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                            <ul>
                                                <li>Any Product types that You want - Simple, Configurable</li>
                                                <li>Downloadable/Digital Products, Virtual Products</li>
                                                <li>Inventory Management with Backordered items</li>
                                                <li>Customer Personal Products - upload text for embroidery, monogramming</li>
                                                <li>Create Store-specific attributes on the fly</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                </div>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


{% include 'website/product/featured-popular-new.html' %}

{% include 'website/base/footer.html' %}
