{% load static %}

<!-- HEADER BAŞLANGICI -->
{% include 'website/base/header.html' %}
<!-- HEADER SONU -->


		<!-- Start Navbar Area -->
        {% include 'website/base/navbar.html' %}

		<!-- End Navbar Area -->

		<!-- Start Page Title Area -->
		<div class="page-title-area bg-1">
			<div class="container">
				<div class="page-title-content">
					<h2>Unsere Referenzen</h2>
					<ul>
						<li>
							<a href="{% url 'website:index' %}">
								Home
							</a>
						</li>
						
						<li class="active">Unsere Referenzen</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->



		<!-- Start Gallery Area -->
		<div class="gallery-area gallery-popup ptb-100">
			<div class="container">
				<div class="row">


                    {% for referance in referances %}

					<div class="col-lg-4 col-sm-6">
						<div class="single-gallery">
							<a href="{{ referance.get_referance_image.0.get_image_url }}">
								<img src="{{ referance.get_referance_image.0.get_image_url }}" alt="Image">
								<i class='bx bx-show-alt'></i>
							</a>
						</div>
					</div>

                    {% endfor %}



				</div>
			</div>
		</div>
		<!-- End Gallery Area -->






		<!-- Start Footer Top Area -->
{% include 'website/base/footer.html' %}