{% load static %}
{% load i18n %}
{% include 'website/base/header.html' %}
  	<title>Modadivivere - {% trans "Produkte" %}</title>
</head>
<body class="style-10">
    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">{% trans "Wird geladen" %}</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>
    <div id="content-block">
{% include 'website/base/header2.html' %}
<div class="content-push">
    <div class="breadcrumb-box">
        <a href="{% url 'website:index' %}">{% trans "Home" %}</a>
        <a href="{% url 'product:tumurunler' %}">{% trans "Produkte" %}</a>
        <a href="#">{{category.category_name}}</a>
    </div>
    <div class="information-blocks">
        <div class="row">
            <div class="col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">
                <div class="page-selector">
                    <!--
                    <div class="pages-box hidden-xs">
                        <a href="#" class="square-button active">1</a>
                        <a href="#" class="square-button">2</a>
                        <a href="#" class="square-button">3</a>
                        <div class="divider">...</div>
                        <a href="#" class="square-button"><i class="fa fa-angle-right"></i></a>
                    </div>
                    -->
                    <div class="shop-grid-controls">
                        <div class="entry">
                            <form action="{% url 'product:tumurunler'  %}" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                                <div class="simple-drop-down" style="width: 175px;">
                                    <select style=" height: 45px; "class="selectpicker" name="sort" data-live-search="true">
                                        <option value="product_name">{% trans "Alphabetisch" %} A-Z</option>
                                        <option value="-product_name">{% trans "Alphabetisch" %} Z-A</option>
                                        <option value="product_price">{% trans "Preis aufsteigend" %}</option>
                                        <option value="-product_price">{% trans "Preis absteigend" %}</option>
                                    </select>
                                </div>
                                <div class="inline-text"><button class="form-control">{% trans "Sortieren" %} </button></div>
                            </form>
                        </div>
                        <div class="entry" style=" margin-top: 7px; ">
                            <div class="inline-text">{% trans "Zeigt" %} {{product_total}} {% trans "Elemente" %}.</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                    <div class="row shop-grid grid-view">
                        {% for p in product_list %}
                            <div class="col-md-3 col-sm-4 shop-grid-item">
                                <div class="product-slide-entry shift-image">
                                    <div class="product-image" style=" height: 200px; ">
                                        <a href="{% url 'product:product-detail' p.slug %} "> 
                                            {% if p.get_product_image.0.get_image_url %}
                                                <img src="{{p.get_product_image.0.get_image_url}}" style="width: 100%; height: 100%;" alt="" />
                                            {% elif p.product_coverpic %}
                                                <img src="/static/website/images/{{p.product_coverpic}}" style="width: 100%; height: 100%;" alt="" />
                                            {% elif p.product_pictures %}
                                                <img src="/static/website/images/{{p.product_pictures}}" style="width: 100%; height: 100%;" alt="" />
                                            {% else %}
                                                <img src="{{p.get_product_image.0.get_image_url}}" style="width: 100%; height: 100%;" alt="" />
                                            {% endif %}

                                            {% if p.product_second_picture == "NULL"  %}
                                                <img src="/static/website/images/{{p.product_coverpic}}" style="width: 100%; height: 100%;" alt="" />
                                            {% elif p.product_second_picture %}
                                                <img src="/static/website/images/{{p.product_second_picture}}" style="width: 100%; height: 100%;" alt="" />
                                            {% elif p.get_product_image.1.get_image_url %}
                                                <img src="{{p.get_product_image.1.get_image_url}}" style="width: 100%; height: 100%;" alt="" />
                                            {% elif p.product_pictures == "NULL"  %}
                                                <img src="/static/website/images/{{p.product_coverpic}}" style="width: 100%; height: 100%;" alt="" />
                                            {% else %}
                                                <img src="/static/website/images/{{p.product_coverpic}}" style="width: 100%; height: 100%;" alt="" />
                                            {% endif %}
                                        </a>
                                        <div class="bottom-line">

                                            {% comment %} <form action="{% url 'order:addtocart' p.pk %}" id="myform{{p.pk}}" method='get'>
                                            {% csrf_token %}
                                                <div class="bottom-line detail-info-entry">
                                                        <a href='#' class="bottom-line-a " onclick='document.forms["myform{{p.pk}}"].submit(); return false;'><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                                </div>
                                            </form> {% endcomment %}
                                        </div>
                                    </div>
                                    <a class="tag" href="#">{{ p.sub_category }}</a>
                                    <a class="title"  style="height:55px;" href="{% url 'product:product-detail' p.slug %}">{{ p.product_name }}</a>
                                    <div class="rating-box">
                                    </div>
                                    <div class="article-container style-1">
                                        <p>{{ p.product_detail }}</p>
                                    </div>
                                    <div class="price">

                                    {% if p.product_sale == "Indirimli Urun" %}
                                        <div class="prev" style=" background: #c5d743; padding: 5px 40px 5px 40px; margin-bottom: 5px; min-width: 179px; font-family:'Lato';" >{{p.product_price |floatformat:2 }}</div> 
                                        <div class="current" style=" background: #c5d743; padding: 5px 40px 5px 40px; margin-bottom: 5px; min-width: 179px; font-family:'Lato';" >CHF. {{ p.product_price_sale |floatformat:2 }}</div> <br>
                                        
                                        <div class="prev" style=" background: #c5d743; padding: 5px 40px 5px 40px; margin-bottom: 5px; min-width: 179px; font-family:'Lato';" >{{p.product_price2 }}</div> 
                                        <div class="current"style=" background: #c5d743; padding: 5px 40px 5px 40px; margin-bottom: 5px; min-width: 179px; font-family: 'Lato';" > EUR.  {{ p.product_price2_sale |floatformat:2 }}</div>                                                
                                    {% else %}
                                        <div class="current" style=" background: #c5d743; padding: 5px 40px 5px 40px; margin-bottom: 5px; min-width: 179px; font-family: 'Lato';" >CHF. {{ p.product_price |floatformat:2 }}</div> <br>
                                        <div class="current"style=" background: #c5d743; padding: 5px 40px 5px 40px; margin-bottom: 5px;  min-width: 179px; font-family: 'Lato';" > EUR.  {{ p.product_price2 |floatformat:2 }}</div>                                                
                                    {% endif %}
                                    </div>
                                    <div class="list-buttons">
                                        <a class="button style-10">{% trans "warenkorb hinzufügen" %}</a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        {% endfor %}
                    </div>
                <div class="page-selector">
                    
                        <div class="pagination" style=" width: 100%; ">
                            <span class="step-links">
                                <div class="description">        
                                    <span class="current">
                                        {% trans "Seite" %} {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>
                                </div>
                                <div class="pages-box">
                                    {% if page_obj.has_previous %}
                                        <a class="button" style=" margin-right: 10px; " href="?page=1">&laquo; {% trans "zuerst" %}</a>   
                                        <a class="button" style=" margin-right: 10px; " href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i> {% trans "Bisherige" %} </a>
                                    {% else %}
                                        <a class="button" style=" margin-right: 10px; " href="#"> 1 </a>
                                    {% endif %}

                                    {% if page_obj.has_next %}
                                    <div class="divider" style=" margin-right: 10px; " >...</div>

                                        <a class="button" style=" margin-right: 10px; " href="?page={{ page_obj.next_page_number }}">{% trans "Nächster" %} <i class="fa fa-angle-right"></i> </a>
                                        <a class="button" style=" margin-right: 10px; " href="?page={{ page_obj.paginator.num_pages }}">{% trans "letzte" %} &raquo;</a> 
                                    {% endif %}
                                </div>
                            </span>
                        </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="col-md-3 col-md-pull-9 col-sm-4 col-sm-pull-8 blog-sidebar">
                <div class="information-blocks categories-border-wrapper">
                    <div class="block-title size-3">{% trans "Kategorien" %}</div>
                    <div class="accordeon">
                        <div class="list">
                            <div class="eyt-scroll ">
                                {% for c in kategoriler %}
                                    <div class="accordeon-title">{{  c.category_name }}</div>
                                    <div class="accordeon-entry">
                                        <div class="article-container style-1">
                                            <ul>    
                                                {% for p in c.get_sub_category %}
                                                    <li><a href="{% url 'product:shop' p.slug %}">{{  p.sub_category_name }} </a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="information-blocks">
                    <div class="block-title size-2">{% trans "Kategorien" %}</div>
                    <div class="range-wrapper">
                        <div id="prices-range"></div>
                        {% if brand %}
                        <form id="my_form" name="my_form" action="{% url 'product:filter' products.0.product_brand.slug %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {% else %}
                        <form id="my_form" name="my_form" action="{% url 'product:filter' products.0.sub_category.slug  %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {% endif %}
                            <div class="range-price">
                                {% trans "Preis" %}: 
                                <div class="min-price"><b>CHF. <span >0</span></b></div>
                                <b>-</b>
                                <div class="max-price"><b>CHF. <span> {{ max_price }}</span></b></div>
                            </div>
                            <input type="hidden" name="min_price" id="min_price"/>
                            <input type="hidden" name="max_price" id="max_price"/>
                            <a href="javascript:{}" onclick="submit_by_name();" class="button style-14">filter</a>
                        </form>
                    </div>
                </div>
                <script type="text/javascript">
                    function submit_by_name() {
                        var c = document.getElementById("prices-range").children;

                        var min_price = document.getElementById("min_price");
                        var max_price = document.getElementById("max_price");
                        min_price.value = c[1].style.left
                        max_price.value = c[2].style.left
                        var x = document.getElementsByName('my_form');
                        x[0].submit();
                    }
                </script>
            </div>
        </div>
    </div>
{% include 'website/base/footer.html' %}
