{% load static %}
{% include 'website/base/header.html' %}
<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

<script src="{% static 'admin/js/plugins/media/fancybox.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/gallery_library.js' %}"></script>

  	<title>Modadivivere - Produkte</title>
</head>
<body class="style-10">

    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="bubbles">
            <div class="title">Wird geladen</div>
            <span></span>
            <span id="bubble2"></span>
            <span id="bubble3"></span>
        </div>
    </div>

    <div id="content-block">
{% include 'website/base/header2.html' %}


            <div class="content-push">

                <div class="breadcrumb-box">
                    <a href="{% url 'website:index' %}">Home</a>
                    <a href="{% url 'product:tumurunler' %}">Produkte</a>
                    <a href="#">{{category.category_name}}</a>
                </div>



<div class="content">

  <!-- Media library -->
  <div class="card">
    <div class="card-header bg-white header-elements-inline">
      <h4 class="card-title">Waren </h4>
    </div>









                                    {% for p in products %}
                                        <div class="col-md-3 col-sm-4 shop-grid-item">
                                            <div class="product-slide-entry shift-image">
                                                <div class="product-image" style=" height: 200px; ">
                                                    <a href="{% url 'product:product-detail' p.slug %} "> 


                                                        {% if p.get_product_image.0.get_image_url %}
                                                            <img src="{{p.get_product_image.0.get_image_url}}"  alt="" />
                                                        
                                                        {% elif p.product_coverpic %}
                                                            <img src="/static/website/images/{{p.product_coverpic}}"  alt="" />
                                                        
                                                        {% elif p.product_pictures %}
                                                            <img src="/static/website/images/{{p.product_pictures}}"  alt="" />
                                                        
                                                        {% else %}
                                                            <img src="{{p.get_product_image.0.get_image_url}}"  alt="" />
                                                        {% endif %}
                                                        
                                                        {% if p.product_second_picture == "NULL"  %}
                                                            <img src="/static/website/images/{{p.product_coverpic}}"  alt="" />

                                                        {% elif p.product_second_picture %}
                                                            <img src="/static/website/images/{{p.product_second_picture}}"  alt="" />
                                                        

                                                        {% elif p.get_product_image.1.get_image_url %}
                                                            <img src="{{p.get_product_image.1.get_image_url}}"  alt="" />
                                                        
                                                        {% elif p.product_pictures == "NULL"  %}
                                                            <img src="/static/website/images/{{p.product_coverpic}}"  alt="" />
                                                        

                                                        {% else %}
                                                            <img src="/static/website/images/{{p.product_coverpic}}"  alt="" />

                                                        {% endif %}


                                                    </a>

                                                    <div class="bottom-line">

                                                        

                                                        {% comment %} <form action="{% url 'order:addtocart' p.pk %}" id="myform{{p.pk}}" method='get'>
                                                        {% csrf_token %}
                                                            <div class="bottom-line detail-info-entry">
                                                                    <a href='#' class="bottom-line-a " onclick='document.forms["myform{{p.pk}}"].submit(); return false;'><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                                            </div>
                                                        </form> {% endcomment %}
                                                    </div>
                                                </div>
                                                
                                                <a class="tag" href="#">{{ p.sub_category }}</a>
                                                
                                                <a class="title" href="{% url 'product:product-detail' p.slug %}">{{ p.product_name }}</a>
                                                <div class="rating-box">

                                                </div>
                                                <div class="article-container style-1">
                                                    <p>{{ p.product_detail }}</p>
                                                </div>
                                                <div class="price">

                                                {% if p.product_sale == "Indirimli Urun" %}
                                                    <div class="prev">{{p.product_price }}</div> 
                                                    <div class="current" style=" background: #c5d743; padding: 5px 40px 5px 40px; margin-bottom: 5px;      min-width: 179px;   font-family: 'Lato';" >CHF. {{ p.product_price_sale |floatformat:2 }}</div> <br>
                                                    
                                                    <div class="prev">{{p.product_price2 }}</div> 
                                                    <div class="current"style=" background: #c5d743; padding: 5px 40px 5px 40px; margin-bottom: 5px;  min-width: 179px;   font-family: 'Lato';" > EUR.  {{ p.product_price2_sale |floatformat:2 }}</div>                                                
                                                {% else %}
                                                    <div class="current" style=" background: #c5d743; padding: 5px 40px 5px 40px; margin-bottom: 5px;      min-width: 179px;   font-family: 'Lato';" >CHF. {{ p.product_price |floatformat:2 }}</div> <br>
                                                    <div class="current"style=" background: #c5d743; padding: 5px 40px 5px 40px; margin-bottom: 5px;  min-width: 179px;   font-family: 'Lato';" > EUR.  {{ p.product_price2 |floatformat:2 }}</div>                                                
                                                {% endif %}
                                                </div>
                                                <div class="list-buttons">
                                                    <a class="button style-10">warenkorb hinzufügen</a>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    {% endfor %}
                        




</div>
</div>


</div>
</div>
                               

                    </div>
                </div>
                       
{% include 'website/base/footer.html' %}
