{% load static %}
{% include 'adminpanel/index/header.html' %}

<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

<script src="{% static 'admin/js/plugins/media/fancybox.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/gallery_library.js' %}"></script>

{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}

<!-- Content area -->
<div class="content">
  {% if messages %}
  {% for message in messages %}
    {% ifequal message.tags 'error' %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% else %}
    <div class="alert alert-{{ message.tags }}" role="alert">
      {{ message }}
    </div>
    {% endifequal %}

  {% endfor %}
  {% endif %}
  <!-- Media library -->
  <div class="card">
    <div class="card-header bg-white header-elements-inline">
      <h4 class="card-title">Markalar</h4>
      <a href="{% url 'product:add-brand' %}"> <button class="btn btn-success float-right"> Ekle </button> </a>

    </div>

    <table class="table table-striped media-library">
      <thead>
        <tr>
          <th>Marka Logo</th>
          <th >Marka</th> <!-- class="text-center" -->
          <th class="text-center" >İşlem</th>
        </tr>
      </thead>
      <tbody>

        {% for b in brands %}
        <tr>
          <td> <img src="{{b.get_brand_image.0.get_image_url}}" alt="" width='90' height='100' class="img-preview rounded"> </td>
          <td><a href="{% url 'product:update-brand' b.pk %}">{{ b.brand_name }}</a></td>
          <td class="text-center">
            <div class="list-icons">
              <div class="list-icons-item dropdown">
                <a href="gallery_library.html#" class="list-icons-item caret-0 dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-menu9"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="{% url 'product:update-brand' b.pk %}" class="dropdown-item"><i class="icon-pencil7"></i>Düzenle</a>
                  <a href="{% url 'product:update-brand-image' b.pk %}" class="dropdown-item"><i class="icon-eye-blocked"></i>Logo Düzenle</a>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'product:detail-brand' b.pk %}" class="dropdown-item"><i class="icon-pencil7"></i>Detay</a>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'product:delete-brand' b.pk %}" class="dropdown-item"><i class="icon-bin"></i>Sil</a>
                </div>
              </div>
            </div>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'adminpanel/index/footer.html' %}
