

{% extends "front_end/base/main.html" %}
{% load static %}
{% block content %}
<style media="screen">
  @media (min-width: 992px){
  .typeheader-2 .container-megamenu.vertical .vertical-wrapper ul.megamenu{display: none;}
  .typeheader-2 .container-megamenu.vertical:hover .vertical-wrapper ul.megamenu{display: block !important;}
}

</style>

<!-- Main Container  -->
<div class="main-container container" style="margin: 40px auto;">
  <ul class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i></a></li
    <li><a href="#">İletişim</a></li>
  </ul>

  <div class="row">
    <div id="content" class="col-sm-12">
      <div class="page-title">
        <h2>Bizimle iletişime geç</h2>
      </div>


      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.8442639328655!2d-71.10008329902021!3d42.34584359264178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e379f63dc43ccb%3A0xa15d5aa87d0f0c12!2s4+Yawkey+Way%2C+Boston%2C+MA+02215!5e0!3m2!1sen!2s!4v1475081210943" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
      <div class="info-contact clearfix">
        <div class="col-lg-4 col-sm-4 col-xs-12 info-store">
          <div class="row">
            <div class="name-store">
              <h3>Şirket</h3>
            </div>
            <address>
              <div class="address clearfix form-group">
                <div class="icon">
                  <i class="fa fa-home"></i>
                </div>
                {% for b in adress %}
                    {{b.adress_name}}
                {% endfor %}
                <div class="text">Adresiniz
                  <p>{{company_info.company_address | safe}}</p>

              </div>
              </div>
              <div class="phone form-group">
                <div class="icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="text">Telefon : {{company_info.company_phone_number | safe}}</div>
              </div>
              <div class="comment">

              </div>
            </address>
          </div>
        </div>
        <div class="col-lg-8 col-sm-8 col-xs-12 contact-form">
          <form method="post" enctype="multipart/form-data" class="form-horizontal">
             {% csrf_token %}
            <fieldset>
              <legend>İletişim Formu</legend>
              <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">Adınız</label>
            <div class="col-sm-10">
              <input type="text" name="senders_name" value="" id="input-name" class="form-control">
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-email">E-Mail Adresiniz</label>
              <div class="col-sm-10">
                <input type="text" name="senders_mail" value="" id="input-email" class="form-control">
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-enquiry">Konu</label>
                <div class="col-sm-10">
                  <textarea name="subject" rows="10" id="input-enquiry" class="form-control"></textarea>
                </div>
              </div>
            </fieldset>
            <div class="buttons">
              <div class="pull-right">
                <button class="btn btn-default buttonGray" type="submit">
                  <span>Gönder</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //Main Container -->


{% endblock %}
