{% load static %}
{% include 'website/base/header.html' %}
{% include 'website/base/header2.html' %}




<!-- Start Log In Area -->
<section class="user-area-style ptb-100" style="margin-top:100px; margin-bottom:100px;">
    <div class="container">
        <div class="registration-area">
            <div class="section-title">
                <h2>Admin Kayıt</h2>
            </div>

            <div class="contact-form-action">
                <form action="{% url 'accounts:kullanici-register' %}" method="post">

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Ad</label>
                                {{ form.first_name }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Soyad</label>
                                {{ form.last_name }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Kullanıcı Adı</label>
                                {{ form.username }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Email</label>
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Görevi</label>
                                {{ kullanici_form.duty }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Şifre</label>
                                {{ form.password1 }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Şifre Tekrar</label>
                                {{ form.password2 }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <button class="default-btn register" type="submit">
                                        Kayıt Ol
                                    </button>
                                </div>

                                <div class="col-lg-6 text-right">
                                    <input id="remember" type="checkbox">
                                    <label for="remember">Parolayı Göster ?</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <p>Zaten Bir Hesabın Var mı? <a href="{% url 'accounts:login' %}">Login!</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Log In Area -->





{% include 'website/base/footer.html' %}
