{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic page needs
    ============================================ -->
    <title>Yağdükkanım</title>
    <meta charset="utf-8">
    <meta name="keywords" content="Yagdukkanım" />
    <meta name="description" content="Yagdukkanım" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->

    <link rel="shortcut icon" type="image/png" href="{% static 'front_end/ico/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static 'front_end/css/bootstrap/css/bootstrap.min.css' %}">
    <!--link href="{% static 'front_end/css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"-->
    <link href="{% static 'front_end/js/datetimepicker/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'front_end/js/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'front_end/css/themecss/lib.css' %}" rel="stylesheet">
    <link href="{% static 'front_end/css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'front_end/js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'front_end/js/minicolors/miniColors.css' %}" rel="stylesheet">

    <!--link href="{% static 'front_end/js/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet">
    <link href="{% static 'front_end/js/pe-icon-7-stroke/css/helper.css' %}" rel="stylesheet"-->



    <!-- Theme CSS ============================================ -->

    <link href="{% static 'front_end/css/themecss/so_searchpro.css' %}" rel="stylesheet">
    <link href="{% static 'front_end/css/themecss/so_megamenu.css' %}" rel="stylesheet">
    <link href="{% static 'front_end/css/themecss/so-categories.css' %}" rel="stylesheet">
    <link href="{% static 'front_end/css/themecss/so-listing-tabs.css' %}" rel="stylesheet">
    <link href="{% static 'front_end/css/themecss/so-category-slider.css' %}" rel="stylesheet">
    <link href="{% static 'front_end/css/themecss/so-newletter-popup.css' %}" rel="stylesheet">


    <link href="{% static 'front_end/css/footer/footer2.css' %}" rel="stylesheet">
    <link href="{% static 'front_end/css/header/header2.css' %}" rel="stylesheet">
    <link href="{% static 'front_end/css/home2.css' %}" rel="stylesheet">
    <link href="{% static 'front_end/css/responsive.css' %}" rel="stylesheet">
  <!-- Theme CSS
  ============================================ -->



     <!-- Google web fonts
    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,600,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
         body{font-family:'Rubik', sans-serif}



    </style>

</head>

<body class="common-home res layout-2">
    <div id="wrapper" class="wrapper-fluid banners-effect-8">
    <!-- Header Container  -->
    <header id="header" class=" typeheader-2">
        <!-- Header Top -->
        <div class="header-top hidden-compact">
            <div class="container">
                <div class="row">
                    <div class="header-top-left col-lg-3 col-md-4 col-sm-5 hidden-xs">
                        <div class="telephone " >
                            <ul class="socials">
                                <li class="facebook"><a href="{% url 'website:category' %}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li class="google_plus"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                                <li class="instagram"><a  href="{% url 'website:category' %}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li class="linkedin"><a  href="{% url 'website:category' %}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>


                    </div>
                    <div class="header-top-right col-lg-9 col-md-8 col-sm-7 col-xs-12">
                        <ul class="top-log list-inline">
                            <li><i class="fa fa-lock"></i><a  href="{% url 'website:login' %}">Giriş Yap </a> / </li><li><a  href="{% url 'website:register' %}"><i class="fa fa-user"></i>Kayıt Ol</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle hidden-compact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <div class="logo">
                            <a href="/"><img src="{{company_image.company_image.url}}" title="Your Store" alt="Yağ Dükkanım" /></a>
                        </div>

                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 middle-right">
                        <div class="search-header-w">
                            <div class="icon-search hidden-lg hidden-md"><i class="fa fa-search"></i></div>

                            <div id="sosearchpro" class="sosearchpro-wrapper so-search ">
                                <form method="GET" action="index.html">
                                    <div id="search0" class="search input-group form-group">
                                        <div class="select_category filter_type  icon-select hidden-sm hidden-xs">
                                            <select class="no-border" name="category_pk">
                                                <option value="0">TÜM KATEGORİLER</option>
                                                {% for c in categories %}
                                                    <option value="{{c.pk}}">{{c.category_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Arama Yap" name="search">

                                        <button type="submit" class="button-search btn btn-primary" name="submit_search"><i class="fa fa-search"></i></button>

                                    </div>
                                    <input type="hidden" name="route" value="product/search" />
                                </form>
                            </div>
                        </div>

                        <div class="shopping_cart">
                            <div id="cart" class="btn-shopping-cart">

                                <a href="javascript:void(0)" data-loading-text="Loading... " class="btn-group top_cart dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <div class="shopcart">
                                        <span class="icon-c">
                                            <i class="fa fa-shopping-basket"></i>
                                        </span>
                                        <div class="shopcart-inner">
                                            <p class="text-shopping-cart">
                                                Sepet
                                            </p>

                                            <span class="total-shopping-cart cart-total-full">
                                            <span class="items_cart">{{shop_cart.count}} </span><span class="items_cart2"> item(s)</span><span class="items_carts">{{total}} ₺ </span>
                                            </span>
                                        </div>
                                    </div>
                                </a>

                                <ul class="dropdown-menu pull-right shoppingcart-box" role="menu">
                                    <li>
                                        <table class="table table-striped">
                                            <tbody>
                                            {% for sc in shop_cart %}
                                                <tr>
                                                    <td class="text-center" style="width:70px">
                                                        <a  href="{% url 'website:category' %}" >
                                                            <img src="{{sc.product.get_product_image.0.product_image.url}}" style="width:70px" alt="Yutculpa ullamcon" title="Yutculpa ullamco" class="preview">
                                                        </a>
                                                    </td>
                                                    <td class="text-left"> <a class="cart_product_name"  href="{% url 'website:category' %}" >{{sc.product.product_name}} <br> <span style="color: #f89c1c;"> {{sc.product.product_price_end}} x {{sc.quantity}}  </span> </a>
                                                    </td>
                                                    {% comment %} <td class="text-center">x{{sc.quantity}} {{sc.product.product_price_end}}  </td> {% endcomment %}
                                                    <td class="text-center">{{sc.amount}}</td>
{% comment %}
                                                    <td class="text-right">
                                                        <a  href="{% url 'website:category' %}"  class="fa fa-edit"></a>
                                                    </td> {% endcomment %}

                                                    <td class="text-right">
                                                        <a href="{% url 'order:delete-cartproduct' sc.pk %}" onclick="cart.remove('2');" class="fa fa-times fa-delete"></a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                {% comment %} <tr>
                                                    <td class="text-center" style="width:70px">
                                                        <a  href="{% url 'website:category' %}" >
                                                            <img src="{% static 'front_end/image/catalog/demo/product/80/2.jpg' %}" style="width:70px" alt="Xancetta bresao" title="Xancetta bresao" class="preview">
                                                        </a>
                                                    </td>
                                                    <td class="text-left"> <a class="cart_product_name"  href="{% url 'website:category' %}" >Xancetta bresao</a>
                                                    </td>
                                                    <td class="text-center">x1</td>
                                                    <td class="text-center">$60.00</td>
                                                    <td class="text-right">
                                                        <a  href="{% url 'website:category' %}"  class="fa fa-edit"></a>
                                                    </td>
                                                    <td class="text-right">
                                                        <a onclick="cart.remove('1');" class="fa fa-times fa-delete"></a>
                                                    </td>
                                                </tr> {% endcomment %}



                                            </tbody>
                                        </table>
                                    </li>
                                    <li>
                                        <div>
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-left"><strong>Toplam:</strong>
                                                        </td>
                                                        <td class="text-right">{{total2}} ₺</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"><strong>Toplam KDV:</strong>
                                                        </td>
                                                        <td class="text-right">{{total_kdv}} ₺</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"><strong>Toplam İndirim:</strong>
                                                        </td>
                                                        <td class="text-right">{{total_discount}} ₺ </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"><strong>Ödenecek Tutar</strong>
                                                        </td>
                                                        <td class="text-right">{{total}} ₺</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p class="text-right"> <a class="btn view-cart" href="{% url 'website:cart' %}"><i class="fa fa-shopping-cart"></i>Sepete Git</a>&nbsp;&nbsp;&nbsp; <a class="btn btn-mega checkout-cart" href="{% url 'website:checkout' %}"><i class="fa fa-share"></i>Ödeme</a>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="wishlist hidden-md hidden-sm hidden-xs"><a  href="{% url 'website:wishlist' %}" id="wishlist-total" class="top-link-wishlist" title="Wish List (0) "><i class="fa fa-heart"></i></a></div>

                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom hidden-compact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="menu-vertical-w">
                            <div class="responsive so-megamenu megamenu-style-dev ">
                                <div class="so-vertical-menu ">
                                    <nav class="navbar-default">

                                        <div class="container-megamenu vertical">
                                            <div id="menuHeading">
                                                <div class="megamenuToogle-wrapper">
                                                    <div class="megamenuToogle-pattern">
                                                        <div class="container">
                                                            <div>
                                                                <span></span>
                                                                <span></span>
                                                                <span></span>
                                                            </div>
                                                          TÜM KATEGORİLER
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="navbar-header">
                                                <button type="button" id="show-verticalmenu" data-toggle="collapse" class="navbar-toggle">
                                                    <i class="fa fa-bars"></i>
                                                    <span>  All Categories     </span>
                                                </button>
                                            </div>

{% comment %}             ----------------------    SCROOL GİZLEME
<style>
/* width */
::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #fff;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
</style>
{% endcomment %}

                                            <div class="vertical-wrapper" >
                                                <span id="remove-verticalmenu" class="fa fa-times"></span>
                                                <div class="megamenu-pattern">
                                                    <div class="container-mega">
                                                        <ul class="megamenu " > <!--   style="overflow: auto; height: 510px;"   -->
                                                            {% comment %}
                                                            <li class="item-vertical  style1 with-sub-menu hover">
                                                                <p class="close-menu"></p>
                                                                <a  href="{% url 'website:category' %}" class="clearfix">
                                                                    <span class="label"></span>
                                                                    <span>Smart Devices</span>
                                                                    <b class="fa-angle-right"></b>
                                                                </a>
                                                                <div class="sub-menu" data-subwidth="40" >
                                                                    <div class="content">
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <div class="row">
                                                                                    <div class="col-md-12 static-menu">
                                                                                        <div class="menu">
                                                                                            <ul>
                                                                                                <li><a  href="{% url 'website:category' %}" class="main-menu">Smartphone</a>
                                                                                                    <ul>
                                                                                                        <li><a href="#">Esdipiscing</a>
                                                                                                        </li>
                                                                                                        <li><a href="#">Scanners</a>
                                                                                                        </li>
                                                                                                        <li><a href="#">Apple</a>
                                                                                                        </li>
                                                                                                        <li><a href="#">Dell</a>
                                                                                                        </li>
                                                                                                        <li><a href="#">Scanners</a>
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </li>
                                                                                                <li><a  href="{% url 'website:category' %}" class="main-menu">Electronics</a>
                                                                                                    <ul>
                                                                                                        <li><a href="#">Asdipiscing</a>
                                                                                                        </li>
                                                                                                        <li><a href="#">Diam sit</a>
                                                                                                        </li>
                                                                                                        <li><a href="#">Labore et</a>
                                                                                                        </li>
                                                                                                        <li><a href="#">Monitors</a>
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="row banner">
                                                                                    <a href="#">
                                                                                        <img src="{% static 'front_end/image/catalog/menu/megabanner/vbanner1.png' %}" alt="banner1">
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            <li class="item-vertical with-sub-menu hover">
                                                                <p class="close-menu"></p>
                                                                <a  href="{% url 'website:category' %}" class="clearfix">
                                                                    <span>Paintworks</span>
                                                                    <b class="fa-angle-right"></b>
                                                                </a>
                                                                <div class="sub-menu" data-subwidth="60" >
                                                                    <div class="content" >
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-md-4 static-menu">
                                                                                        <div class="menu">
                                                                                            <ul>
                                                                                                <li>
                                                                                                    <a  href="{% url 'website:category' %}" class="main-menu">Car Alarms and Security</a>
                                                                                                    <ul>
                                                                                                        <li><a  href="{% url 'website:category' %}" >Car Audio &amp; Speakers</a></li>
                                                                                                        <li><a  href="{% url 'website:category' %}" >Gadgets &amp; Auto Parts</a></li>
                                                                                                        <li><a  href="{% url 'website:category' %}" >Gadgets &amp; Auto Parts</a></li>
                                                                                                        <li><a  href="{% url 'website:category' %}" >Headphones, Headsets</a></li>
                                                                                                    </ul>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="24" onclick="window.location = '24';" class="main-menu">Health &amp; Beauty</a>
                                                                                                    <ul>
                                                                                                        <li>
                                                                                                            <a  href="{% url 'website:category' %}" >Home Audio</a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a  href="{% url 'website:category' %}" >Helicopters &amp; Parts</a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a  href="{% url 'website:category' %}" >Outdoor &amp; Traveling</a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a href="#">Toys &amp; Hobbies</a>
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-4 static-menu">
                                                                                        <div class="menu">
                                                                                            <ul>
                                                                                                <li>
                                                                                                    <a  href="{% url 'website:category' %}"  class="main-menu">Electronics</a>
                                                                                                    <ul>
                                                                                                        <li>
                                                                                                            <a href="#">Earings</a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a  href="{% url 'website:category' %}" >Salon &amp; Spa Equipment</a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a  href="{% url 'website:category' %}" >Shaving &amp; Hair Removal</a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a href="#">Smartphone &amp; Tablets</a>
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a  href="{% url 'website:category' %}"  class="main-menu">Sports &amp; Outdoors</a>
                                                                                                    <ul>
                                                                                                        <li>
                                                                                                            <a  href="{% url 'website:category' %}" >Flashlights &amp; Lamps</a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a  href="{% url 'website:category' %}" >Fragrances</a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a  href="{% url 'website:category' %}" >Fishing</a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a  href="{% url 'website:category' %}" >FPV System &amp; Parts</a>
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-4 static-menu">
                                                                                        <div class="menu">
                                                                                            <ul>
                                                                                                <li>
                                                                                                    <a  href="{% url 'website:category' %}" class="main-menu">More Car Accessories</a>
                                                                                                    <ul>
                                                                                                        <li>
                                                                                                            <a  href="{% url 'website:category' %}" >Lighter &amp; Cigar Supplies</a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a  href="{% url 'website:category' %}" >Mp3 Players &amp; Accessories</a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a  href="{% url 'website:category' %}" >Men Watches</a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a  href="{% url 'website:category' %}" >Mobile Accessories</a>
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a  href="{% url 'website:category' %}" class="main-menu">Gadgets &amp; Auto Parts</a>
                                                                                                    <ul>
                                                                                                        <li>
                                                                                                            <a  href="{% url 'website:category' %}" >Gift &amp; Lifestyle Gadgets</a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a  href="{% url 'website:category' %}" >Gift for Man</a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a  href="{% url 'website:category' %}" >Gift for Woman</a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a  href="{% url 'website:category' %}" >Gift for Woman</a>
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            {% endcomment %}

                                                            {% for c in categories %}
                                                                <li class="item-vertical css-menu with-sub-menu hover">
                                                                    <p class="close-menu"></p>
                                                                    <a  href="{% url 'product:category-filter' c.slug %}" class="clearfix">
                                                                        <span>{{c.category_name}} </span>
                                                                        <b class="fa-angle-right"></b>
                                                                    </a>
                                                                    {% if c.get_sub_category %}
                                                                        <div class="sub-menu" data-subwidth="20">
                                                                            <div class="content" >
                                                                                <div class="row">
                                                                                    <div class="col-sm-12">
                                                                                        <div class="row">
                                                                                            <div class="col-sm-12 hover-menu">
                                                                                                <div class="menu">
                                                                                                    <ul>
                                                                                                    {% for sc in c.get_sub_category%}
                                                                                                        <li>
                                                                                                            <a  href="{% url 'product:category-filter' sc.slug %}" class="main-menu">{{sc.sub_category_name}}</a>
                                                                                                        </li>
                                                                                                    {% endfor %}
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                </li>
                                                            {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
                        <div class="main-menu-w">
                            <div class="responsive so-megamenu megamenu-style-dev">
                                <nav class="navbar-default">
                                    <div class=" container-megamenu  horizontal open ">
                                        <div class="navbar-header">
                                            <button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>

                                        <div class="megamenu-wrapper">
                                            <span id="remove-megamenu" class="fa fa-times"></span>
                                            <div class="megamenu-pattern">
                                                <div class="container-mega">
                                                    <ul class="megamenu" data-transition="slide" data-animationtime="250">
                                                        {% comment %} <li class="with-sub-menu hover">
                                                            <p class="close-menu"></p>
                                                            <a  href="{% url 'website:category' %}" class="clearfix">
                                                                <strong>KATEGORİLER</strong>
                                                                <b class="caret"></b>
                                                            </a>
                                                            <div class="sub-menu" style="width: 100%; right: auto;">
                                                                <div class="content" >
                                                                    <div class="row">
                                                                        {% for c in categories %}
                                                                        <div class="col-md-2">
                                                                            <div class="column">
                                                                                <a  href="{% url 'product:category-filter' c.slug %}" class="title-submenu" style="min-height:75px;" >{{c.category_name}}</a>
                                                                                {% if c.get_sub_category %}
                                                                                <div>
                                                                                    <ul class="row-list">
                                                                                    {% for sc in c.get_sub_category %}
                                                                                        <li><a href="{% url 'product:category-filter' sc.slug %}">{{sc.sub_category_name}}</a></li>
                                                                                    {% endfor %}
                                                                                    </ul>
                                                                                </div>
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li> {% endcomment %}

                                                        <li class="with-sub-menu hover">
                                                            <p class="close-menu"></p>
                                                            <a  href="#" class="clearfix">
                                                                <strong>MARKALAR </strong>
                                                                <b class="caret"></b>
                                                            </a>
                                                            <div class="sub-menu" style="width: 100%; display: none;">
                                                                <div class="content">
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="row">
                                                                                {% for b in brands %}
                                                                                    <div class="col-md-3 img img{{ forloop.counter }}" style=" margin-bottom: 10px; ">
                                                                                        <a href="#"><img src="{{ b.get_brand_image.0.get_image_url }}" alt="{{b.brand_name}}"></a>
                                                                                        <a  href="{% url 'website:category' %}" class="title-submenu" style=" text-align: center;" >{{b.brand_name}}</a>
                                                                                    </div>
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="">
                                                            <p class="close-menu"></p>
                                                            <a  href="{% url 'website:about' %}" class="clearfix">
                                                                <strong>Hakkımızda</strong>
                                                            </a>
                                                        </li>
                                                        <li class="">
                                                            <p class="close-menu"></p>
                                                            <a  href="{% url 'website:contact' %}" class="clearfix">
                                                                <strong>İLETİŞİM</strong>
                                                            </a>
                                                        </li>

                                                        <!--li class="with-sub-menu hover">
                                                            <p class="close-menu"></p>
                                                            <a  href="{% url 'website:category' %}" class="clearfix">
                                                                <strong>Sayfalar</strong>
                                                                <b class="caret"></b>
                                                            </a>
                                                            <div class="sub-menu" style="width: 40%; ">
                                                                <div class="content" >
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <ul class="row-list">
                                                                                <li><a class="subcategory_item" href="faq.html">FAQ</a></li>

                                                                                <li><a class="subcategory_item" href="sitemap.html">Site Map</a></li>
                                                                                <li><a class="subcategory_item" href="contact.html">Contact us</a></li>
                                                                                <li><a class="subcategory_item" href="banner-effect.html">Banner Effect</a></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <ul class="row-list">
                                                                                <li><a class="subcategory_item" href="about-us.html">About Us 1</a></li>
                                                                                <li><a class="subcategory_item" href="about-us-2.html">About Us 2</a></li>
                                                                                <li><a class="subcategory_item" href="about-us-3.html">About Us 3</a></li>
                                                                                <li><a class="subcategory_item" href="about-us-4.html">About Us 4</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li-->

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </header>
    <!-- //Header Container  -->

    <div class="main-container">
      {% block content %}

      {% endblock %}
    </div>
        <!-- Footer Container -->
        <footer class="footer-container typefooter-2">
            <div class="row-dark">
                <div class="row container container-top">
                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 col-socials">
                        <ul class="socials">
                            <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li class="google_plus"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                            <li class="instagram"><a  href="{% url 'website:category' %}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li class="Youtube"><a  href="{% url 'website:category' %}" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                        <div class="module newsletter-footer1">
                            <div class="newsletter">
                                <h3 class="modtitle">BÜLTEN İÇİN KAYDOLUN</h3>
                                <div class="block_content">
                                    <form method="post" id="signup" name="signup" class="form-group form-inline signup send-mail">
                                        <div class="form-group">
                                            <div class="input-box">
                                                <input type="email" placeholder="E-Mail Adresiniz..." value="" class="form-control" id="txtemail" name="txtemail" size="55">
                                            </div>
                                            <div class="subcribe">
                                                <button class="btn btn-primary btn-default font-title" type="submit" onclick="return subscribe_newsletter();" name="submit">
                                                    <span>Takip</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row footer-middle">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-style">
                        <div class="box-footer box-infos">
                            <div class="module">
                                <h3 class="modtitle">BİZE ULAŞIN</h3>
                                <div class="modcontent">
                                   <p>
                                   {{company_info.company_address | safe}}
                                 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-style">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-style">
                                <div class="box-information box-footer">
                                    <div class="module clearfix">
                                        <h3 class="modtitle">BİLGİ</h3>
                                        <div class="modcontent">
                                            <ul class="menu">
                                                 <li><a href="/hakkimizda">Hakkımızda</a></li>
                                                 <li><a href="/iletisim">İletişim</a></li>
                                                 <li><a href="#">Gizlilik Sözleşmesi</a></li>
                                                <li><a href="#">Çerez Politikası</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-style">
                                <div class="box-account box-footer">
                                    <div class="module clearfix">
                                        <h3 class="modtitle">HESABIM</h3>
                                        <div class="modcontent">
                                            <ul class="menu">
                                                 <li><a href="/giris">Giriş</a></li>
                                                <li><a href="/kayit-ol">Kayıt Ol</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-clear">
                                <div class="box-service box-footer">
                                  <div class="module clearfix">
                                    <h3 class="modtitle">KATEGORİLER</h3>
                                    <div class="modcontent">
                                      <ul class="menu">
                                        {% for c in categories %}
                                               <li><a href="{% url 'product:category-filter' c.slug %}">{{c.category_name}}</a></li>
                                        {% endfor %}
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="payment-w col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <img src="{% static 'front_end/image//catalog/demo/payment/payment.png' %}" alt="imgpayment">
                        </div>
                        <div class="copyright col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <p>Autoparts © 2019 Demo Store. All Rights Reserved. Designed by  </p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Back To Top-->
            <div class="back-to-top"><i class="fa fa-angle-up"></i></div>
        </footer>
        <!-- //end Footer Container -->

        </div>





    <!-- Include Libs & Plugins
    ============================================ -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static 'front_end/js/jquery-2.2.4.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'front_end/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'front_end/js/owl-carousel/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'front_end/js/slick-slider/slick.js' %}"></script>
    <script type="text/javascript" src="{% static 'front_end/js/themejs/libs.js' %}"></script>
    <script type="text/javascript" src="{% static 'front_end/js/unveil/jquery.unveil.js' %}"></script>
    <script type="text/javascript" src="{% static 'front_end/js/countdown/jquery.countdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'front_end/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'front_end/js/datetimepicker/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'front_end/js/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'front_end/js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'front_end/js/modernizr/modernizr-2.6.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'front_end/js/minicolors/jquery.miniColors.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'front_end/js/lightslider/lightslider.js' %}"></script>

    <!-- Theme files
    ============================================ -->

    <script type="text/javascript" src="{% static 'front_end/js/themejs/application.js' %}"></script>

    <script type="text/javascript" src="{% static 'front_end/js/themejs/homepage.js' %}"></script>

    <script type="text/javascript" src="{% static 'front_end/js/themejs/toppanel.js' %}"></script>
    <script type="text/javascript" src="{% static 'front_end/js/themejs/so_megamenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'front_end/js/themejs/addtocart.js' %}"></script>




    </body>
    </html>
