{% load static %} {% include 'adminpanel/index/header.html' %}

<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

<script src="{% static 'admin/js/plugins/media/fancybox.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/tables/datatables/datatables.min.js' %}"></script>

<script src="{% static 'admin/js/demo_pages/special/gallery_deneme.js' %}"></script>

{% include 'adminpanel/index/lefttopbar-ust.html' %} {% include 'adminpanel/index/page-header.html' %}

<!-- Content area -->
<div class="content">
    {% if messages %} {% for message in messages %} {% ifequal message.tags 'error' %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% else %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endifequal %} {% endfor %} {% endif %}
    <!-- Media library -->
    <div class="card">
        <div class="card-header bg-white header-elements-inline">
            <h4 class="card-title">Nachrichten</h4>
            <a style="background-color:yellow;" href="{% url 'adminpanel:add-sss' %}" class="nav-link">SSS Ekle </a>

        </div>

        <table class="table table-striped media-library">
            <thead>
                <tr>
                    <th><input type="checkbox" class="form-input-styled"></th>
                    <th>Başlık</th>

                    <th class="text-center">Transaktionen</th>
                </tr>
            </thead>
            <tbody>

                {% for p in sss %}
                <tr>
                    <td><input type="checkbox" class="form-input-styled"></td>

                    <td>{{ p.sss_title }}</td>



                    <td class="text-center">
                        <div class="list-icons">
                            <div class="list-icons-item dropdown">
                                <a href="gallery_library.html#" class="list-icons-item caret-0 dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="{% url 'adminpanel:detail-sss' p.pk %}" class="dropdown-item"><i class="icon-pencil7"></i> SSS Bearbeiten </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'adminpanel:delete-sss' p.pk %}" class="dropdown-item"><i class="icon-bin"></i>Löschen</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>


                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /media library -->

</div>
<!-- /content area -->


{% include 'adminpanel/index/footer.html' %}