{% load static %}
{% include 'adminpanel/index/header.html' %}

<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="{% static 'admin/js/plugins/uploaders/fileinput/plugins/purify.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/uploaders/fileinput/plugins/sortable.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/uploaders/fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/uploader_bootstrap.js' %}"></script>

{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}

<!-- Content area -->
<div class="content">

  <!-- Vertical form options -->
  <div class="row">
    <div class="col-md-12">

      <!-- Basic layout-->
      <div class="card">
        <div class="card-header header-elements-inline">
          <h3 class="card-title"><u>SSS Detail</u></h3>

        </div>
        <div class="card-body">
          <form action="{% url 'adminpanel:detail-sss' form.instance.pk %}"  method="POST">
            {% csrf_token %}
          <div class="form-group">

            <div class="form-group">
              {{ form.media }} 
                {% for field in form %}
                  <div class="form-group">
                    <label>{{field.label}}</label><br>
                    {{field}}
                  </div>
                {% endfor %}
            </div>

            <div class="text-right">
              <button type="submit" class="btn btn-primary">SSS Aktualisieren<i class="icon-paperplane ml-2"></i></button>
            </div>
          </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>




{% include 'adminpanel/index/footer.html' %}
