{% extends "front_end/base/main.html" %}
{% load static %}
{% block content %}
<style media="screen">
  @media (min-width: 992px){
  .typeheader-2 .container-megamenu.vertical .vertical-wrapper ul.megamenu{display: none;}
  .typeheader-2 .container-megamenu.vertical:hover .vertical-wrapper ul.megamenu{display: block !important;}
}

</style>

<!-- Main Container  -->
<div class="main-container container" style="margin: 40px auto;">
  <ul class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i></a></li>
    <li><a href="{% url 'website:login' %}">Hesap</a></li>
    <li><a href="{% url 'website:login' %}">Giriş</a></li>
  </ul>

  <div class="row">
    <div id="content" class="col-sm-12">
      <div class="page-login">

        <div class="account-border">
          <div class="row">
            <div class="col-sm-6 new-customer">
              <div class="well">
                <h2><i class="fa fa-file-o" aria-hidden="true"></i> YENİ MÜŞTERİ</h2>
                <p>Hesap oluşturarak daha hızlı alışveriş yapabilecek, siparişin durumu hakkında güncel bilgi sahibi olabilecek ve daha önce vermiş olduğunuz siparişleri takip edebileceksiniz.</p>
              </div>
              <div class="bottom-form">
                <a href="{% url 'website:register' %}" class="btn btn-default pull-right">Yeni</a>
              </div>
            </div>

            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="col-sm-6 customer-login">
                <div class="well">
                  <h2><i class="fa fa-file-text-o" aria-hidden="true"></i> Hesabıma Giriş Yap</h2>
                  <p><strong>Zaten Hesabım var </strong></p>
                  <div class="form-group">
                    {{ login_form.username }}
                  </div>
                  <div class="form-group">
                    {{ login_form.password }}
                  </div>
                </div>

                <div class="bottom-form">
                  <a href="#" class="forgot">Şifremi Unuttum</a>
                  <input type="submit" value="Giriş" class="btn btn-default pull-right" />
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- //Main Container -->

{% endblock %}
