{% load static %}
{% include 'adminpanel/index/header.html' %}

<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

<script src="{% static 'admin/js/plugins/media/fancybox.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/gallery_library.js' %}"></script>

{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}

<!-- Content area -->
<div class="content">

  <!-- Media library -->
  <div class="card eyt-scroll ">
    <div class="card-header bg-white header-elements-inline">
      <h4 class="card-title"> Gibt Anfragen zurück </h4>
    </div>

    <table class="table table-striped media-library ">
      <thead>
        <tr>
          <th>Vorname Nachname</th>
          <th>Telefon </th>
          <th>Produkte</th>
          <th>Adresse</th>
          <th>Preis</th>
          <th>Menge</th>
          <th>Firmennachricht</th>
          <th class="text-center">Firmennachricht</th>
        </tr>
      </thead>
      
      <tbody>

        {% for it in iade_talepleri %}

        <tr>
          <td><label style="inline-size: max-content;"> <a href="{% url 'order:siparis-duzenle' it.pk %}">{{ it.siparis.client.user.username }} {{ it.siparis.client.user.last_name }}</a> </label> </td>
          <td><label> {{it.siparis.client.tel }}</label> </td>
          <td> <label> {{ it.siparis.product.product_name }} </label> </td>
          <td> <label> {{ it.siparis.siparis_adresi }} </label> </td>
          <td> <label> {{ it.siparis.price }} </label> </td>
          <td> <label> {{ it.siparis.quantity }} </label> </td>

          <td> <label> {{ it.firma_mesaji }} </label> </td>

          <td class="text-center">
            <div class="list-icons">
              <div class="list-icons-item dropdown">
                <a href="gallery_library.html#" class="list-icons-item caret-0 dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-menu9"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                  <a href="{% url 'musteri:musteri-iade-talebi-duzenle' it.pk %}" class="dropdown-item"><i class="icon-pencil7"></i> BEARBEITEN</a>
                  <div class="dropdown-divider"></div>
                </div>

              </div>
            </div>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- /media library -->

</div>
<!-- /content area -->


{% include 'adminpanel/index/footer.html' %}
