{% load static %}
{% include 'adminpanel/index/header.html' %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

<script src="{% static 'admin/js/plugins/uploaders/fileinput/plugins/purify.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/uploaders/fileinput/plugins/sortable.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/uploaders/fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/uploader_bootstrap.js' %}"></script>




{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}




<!-- Content area -->
<div class="content">

  <!-- Vertical form options -->
  <div class="row">
    <div class="col-md-12">

      <!-- Basic layout-->
      <div class="card">
        <div class="card-header header-elements-inline">
          <h5 class="card-title">Reihenfolge aktualisieren</h5>

        </div>

        <div class="card-body">
          <form action="{% url 'order:siparis-duzenle' form.instance.pk %}" enctype='multipart/form-data' method="post">
            {% csrf_token %}

            <div class="form-group" style=" text-transform: uppercase; font-size: 14px; ">

              <table style="width:100%">
                <tr>
                  <tr> <td> <label>Geschichte : </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.creation_date }}</label> </td></tr>

                  <tr> <td> <label>Vorname Nachname :</label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.client.user.first_name }} {{ siparis.client.user.last_name }} {{ siparis.fname }} {{ siparis.lname }}  </label> </td></tr>

                  <tr> <td> <label>E mail: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.client.user.email }} {{ siparis.email }}</label> </td></tr>

                  <tr> <td> <label>Telefon: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.client.tel }} {{ siparis.tel }}</label> </td></tr>
                 
                  <tr> <td> <label>Adresse : </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;"> {{ siparis.siparis_adresi_2 }}       <br>     <br> {{ siparis.siparis_adresi.address_name }}  <br> {{ siparis.siparis_adresi.country }} <br> {{ siparis.siparis_adresi.city }}  <br> {{ siparis.siparis_adresi.district }}  <br> {{ siparis.siparis_adresi.open_address }}  <br> {{ siparis.siparis_adresi.address_tel }}   </label> </td></tr>

                  <tr> <td> <label>Produktename : </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.product.product_name }} - {{ siparis.product_recieved_size}}</label> </td></tr>

                  <tr> <td> <label>Menge : </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.quantity }}</label> </td></tr>
                 
                  <tr> <td> <label>Gesamtpreis: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ siparis.mesaj }}</label> </td></tr>

                  <tr> <td> <label>Firmennachricht: </label> </td> <td> <label  style="font-weight: bold;width: -webkit-fill-available;">{{ form.firma_mesaji }}</label> </td></tr>
              

              </table>




            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-primary">Reihenfolge aktualisieren <i class="icon-paperplane ml-2"></i></button>
            </div>

          </form>

        </div>
      </div>
      <!-- /basic layout -->

    </div>
  </div>
</div>




{% include 'adminpanel/index/footer.html' %}
