{% extends "front_end/base/main.html" %}
{% load static %}
{% block content %}
<style media="screen">
  @media (min-width: 992px){
  .typeheader-2 .container-megamenu.vertical .vertical-wrapper ul.megamenu{display: none;}
  .typeheader-2 .container-megamenu.vertical:hover .vertical-wrapper ul.megamenu{display: block !important;}
}
</style>

<!-- Main Container  -->
<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="{% url 'product:category-filter' product.category.slug %}">{{product.category}}</a></li>
        <li><a href="{% url 'product:category-filter' product.sub_category.slug %}">{{product.sub_category}}</a></li>
    </ul>

    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-md-9 col-sm-8">

            <div class="product-view row">
                <div class="left-content-product">

                    <div class="content-product-left class-honizol col-md-5 col-sm-12 col-xs-12">
                        <div class="large-image  ">
                            <img itemprop="image" class="product-image-zoom" src="{{product.get_product_image.0.product_image.url}}"  title="{{product.product_name}}" alt="{{product.product_name}}">
                        </div>
                        {% comment %} <a class="thumb-video pull-left" href="https://www.youtube.com/watch?v=HhabgvIIXik"><i class="fa fa-youtube-play"></i></a> {% endcomment %}

                        <div id="thumb-slider" class="yt-content-slider full_slider owl-drag" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="10" data-items_column00="4" data-items_column0="4" data-items_column1="3" data-items_column2="4"  data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                            {% for image in product.get_product_image %}
                                <a data-index="{{forloop.counter}}" class="img thumbnail " data-image="{{image.product_image.url}}" title="{{product.product_name}}">
                                    <img src="{{image.product_image.url}}" title="{{product.product_name}}" alt="{{product.product_name}}">
                                </a>
                            {% endfor %}

                        </div>

                    </div>

                    <div class="content-product-right col-md-7 col-sm-12 col-xs-12">
                        <div class="title-product">
                            <h1>{{product.product_name}}</h1>
                        </div>
                        <!-- Review ---->
                        <div class="box-review form-group">
                            <div class="ratings">
                                <div class="rating-box">
                                    {% if  ort_comments >= 5 %}
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                    {% elif ort_comments >= 4 %}
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    {% elif ort_comments >= 3 %}
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    {% elif ort_comments >= 2 %}
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    {% elif ort_comments >= 1 %}
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    {% else %}
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    {% endif %}
                                </div>
                            </div>

                            <a class="reviews_button" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{comments.count}} Yorum</a>  |
                            <a class="write_review_button" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Yorum yap</a>
                        </div>

                        <div class="product-label form-group">
                            <div class="product_page_price price" itemprop="offerDetails" itemscope="" itemtype="http://data-vocabulary.org/Offer">
                                <span class="price-new" itemprop="price">{{product.product_price_end}} ₺ </span>
                                {% if product.product %}{% endif %}
                                <span class="price-old">{{product.product_price}}</span>
                            </div>
                            <div class="stock"><span>Stok Durumu:</span> {% if product.product_total_quantity > 0 %}  <span class="status-stock">Stokta var</span> {% else %} <style> .left-content-product .content-product-right .product-label .stock .status-stock:before { color: red !important ; } </style> <span class="status-stock" style="color:red;">Stokta yok</span> {% endif %}</div>
                         </div>

                        <div class="product-box-desc">
                            <div class="inner-box-desc">
                                <div class="price-tax"><span>KDV: </span>% {{product.product_KDV_rate}} </div>
                                <div class="brand"><span>Marka: </span><a href="#">{{product.product_brand.brand_name}}</a>     </div>
                                <div class="model"><span>Ürün Kodu: </span>{{product.product_code}}</div>
                                <div class="reward"><span>Ürün Puanı: </span>{{ort_comments | floatformat:1}} </div>
                            </div>
                        </div>

                        <div id="product">
                            {% comment %} 
                            <h4>Available Options</h4>
                            <div class="image_option_type form-group required">
                                <label class="control-label">Colors</label>
                                <ul class="product-options clearfix"id="input-option231">
                                    <li class="radio">
                                        <label>
                                            <input class="image_radio" type="radio" name="option[231]" value="33">
                                            <img src="{% static 'front_end/image/demo/colors/blue.jpg' %}" data-original-title="blue +$12.00" class="img-thumbnail icon icon-color">             <i class="fa fa-check"></i>
                                            <label> </label>
                                        </label>
                                    </li>
                                    <li class="radio">
                                        <label>
                                            <input class="image_radio" type="radio" name="option[231]" value="34">
                                            <img src="{% static 'front_end/image/demo/colors/brown.jpg' %}" data-original-title="brown -$12.00" class="img-thumbnail icon icon-color">               <i class="fa fa-check"></i>
                                            <label> </label>
                                        </label>
                                    </li>
                                    <li class="radio">
                                        <label>
                                            <input class="image_radio" type="radio" name="option[231]" value="35"> <img src="{% static 'front_end/image/demo/colors/green.jpg' %}"
                                            data-original-title="green +$12.00" class="img-thumbnail icon icon-color">              <i class="fa fa-check"></i>
                                            <label> </label>
                                        </label>
                                    </li>
                                    <li class="selected-option">
                                    </li>
                                </ul>
                            </div>
                             {% endcomment %}

                            <!--div class="box-checkbox form-group required">
                                <label class="control-label">Checkbox</label>
                                <div id="input-option232">
                                    <div class="checkbox">
                                        <label for="checkbox_1"><input type="checkbox" name="option[232][]" value="36" id="checkbox_1"> Checkbox 1 (+$12.00)</label>
                                    </div>
                                    <div class="checkbox">
                                        <label for="checkbox_2"><input type="checkbox" name="option[232][]" value="36" id="checkbox_2"> Checkbox 2 (+$36.00)</label>
                                    </div>
                                    <div class="checkbox">
                                        <label for="checkbox_3"><input type="checkbox" name="option[232][]" value="36" id="checkbox_3"> Checkbox 3 (+$24.00)</label>
                                    </div>
                                    <div class="checkbox">
                                        <label for="checkbox_4"><input type="checkbox" name="option[232][]" value="36" id="checkbox_4"> Checkbox 4 (+$48.00)</label>
                                    </div>
                                </div>
                            </div-->

                            <div class="form-group box-info-product">
                            <form action="{% url 'order:addtocart' product.pk %}" method="post" >
                                {% csrf_token %}
                                <div class="option quantity">
                                    <div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;">
                                        <label>Adet</label>
                                        <input class="form-control" type="text" name="quantity"
                                        value="1">
                                        <input type="hidden" name="product_id" value="50">
                                        <span class="input-group-addon product_quantity_down">−</span>
                                        <span class="input-group-addon product_quantity_up">+</span>
                                    </div>
                                </div>
                                <div class="cart">
                                     <button type="submit" style=" border: none; padding: 0; margin: 0; background: none; " > <input type="button" data-toggle="tooltip" title="" value="Sepete Ekle" data-loading-text="Loading..." id="button-cart" class="btn btn-mega btn-lg" onclick="cart.add('{{product.get_product_image.0.product_image.url}}', '{{product.product_name}}', '1');" data-original-title="Sepete Ekle">  </button>
                                </div>

                                <div class="add-to-links wish_comp">
                                    <ul class="blank list-inline">
                                        <li class="wishlist">
                                            <a class="icon" data-toggle="tooltip" title=""
                                            onclick="wishlist.add('50');" data-original-title="Favorilere Ekle"><i class="fa fa-heart"></i>
                                            </a>
                                        </li>
                                        {% comment %}   
                                        <li class="compare">
                                            <a class="icon" data-toggle="tooltip" title=""
                                            onclick="compare.add('50');" data-original-title="Karşılaştırma"><i class="fa fa-exchange"></i>
                                            </a>
                                        </li>
                                         {% endcomment %}
                                    </ul>
                                </div>
                            </form>

                            </div>

                        </div>
                        <!-- end box info product -->
                    </div>
                </div>
            </div>
            <!-- Product Tabs -->
            <div class="producttab ">
                <div class="tabsslider horizontal-tabs  col-xs-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1">Açıklama</a></li>
                        <li class="item_nonactive"><a data-toggle="tab" href="#tab-review">Yorumlar ({{comments.count}})</a></li>
                        <li class="item_nonactive"><a data-toggle="tab" href="#tab-4">Etiketler</a></li>
                        {% comment %} <li class="item_nonactive"><a data-toggle="tab" href="#tab-5">Custom Tab</a></li> {% endcomment %}
                    </ul>
                    <div class="tab-content col-xs-12">
                        <div id="tab-1" class="tab-pane fade active in">
                            {{product.product_detail | safe }}
                        </div>
                        <div id="tab-review" class="tab-pane fade">

                                <h2 id="review-title">Yorum Yap</h2>
                                <div class="contacts-form" style="margin-bottom:15px;">
                                    <form action = "{% url 'product:add-comment' product.slug %}"  method="post">
                                    {% csrf_token %}
                                        <div class="form-group"> <span class="icon icon-user"></span>
                                            <input type="text" name="name" class="form-control" value="Ad Soyad" onblur="if (this.value == '') {this.value = 'Ad Soyad';}" onfocus="if(this.value == 'Ad Soyad') {this.value = '';}">
                                        </div>
                                        <div class="form-group"> <span class="icon icon-bubbles-2"></span>
                                            <textarea class="form-control" name="comment" onblur="if (this.value == '') {this.value = 'Yorum';}" onfocus="if(this.value == 'Yorum') {this.value = '';}">Yorum</textarea>
                                        </div>
                                        {% comment %} <span style="font-size: 11px;"><span class="text-danger">Note:</span> HTML is not translated!</span> {% endcomment %}

                                        <div class="form-group">
                                        <b>Puan : </b> <span>Kötü</span>&nbsp;
                                        <input type="radio" name="rating" value="1"> &nbsp;
                                        <input type="radio" name="rating" value="2"> &nbsp;
                                        <input type="radio" name="rating" value="3"> &nbsp;
                                        <input type="radio" name="rating" value="4"> &nbsp;
                                        <input type="radio" name="rating" value="5"> &nbsp;
                                        <span>İyi</span>

                                        </div>
                                        <div class="buttons clearfix"><button type="submit" id="button-review" class="btn buttonGray">Gönder</button></div>
                                    </form>
                                </div>

                                <div id="review">
                                {% for comment in comments %}
                                    <table class="table table-striped table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="width: 50%;"><strong>{{comment.senders_name}}</strong></td>
                                                <td class="text-right">{{comment.creationDate.day}}/{{comment.creationDate.month}}/{{comment.creationDate.year}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <p>{{comment.text}}</p>
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                {% endfor %}
                                    <div class="text-right"></div>
                                </div>

                        </div>
                        <div id="tab-4" class="tab-pane fade">
                        {{product.product_tags}}
                            {% comment %} 
                            <a href="#">Monitor</a>,
                            <a href="#">Apple</a> 
                            {% endcomment %}
                        </div>
                        {% comment %} 
                        <div id="tab-5" class="tab-pane fade">
                            {{product.product_detail | safe }}
                        </div> 
                        {% endcomment %}
                    </div>
                </div>
            </div>
            <!-- //Product Tabs -->

            <!-- Related Products -->
            <div class="related titleLine products-list grid module ">
                <h3 class="modtitle"> Benzer Ürünler </h3>

                <div class="releate-products yt-content-slider products-list" data-rtl="no" data-loop="yes" data-autoplay="no" data-autoheight="no" data-autowidth="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="4" data-items_column0="4" data-items_column1="3" data-items_column2="2" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-hoverpause="yes">
                    {% for p in category_products %}
                        <div class="product-layout product-grid">
                            <div class="product-item-container item--static">
                                <div class="left-block">
                                    <div class="product-image-container second_img">
                                        <a href="{% url 'product:product-detail' p.slug %}" target="_self" title="Volup tatem accu">
                                            <img src="{{p.get_product_image.0.product_image.url}}" class="img-1 img-responsive" alt="{{p.product_name}}_image">
                                            {% if p.get_product_image.1.product_image.url %}
                                                <img src="{{p.get_product_image.1.product_image.url}}" class="img-2 img-responsive" alt="{{p.product_name}}_image">
                                            {% else %}
                                                <img src="{{p.get_product_image.0.product_image.url}}" class="img-2 img-responsive" alt="{{p.product_name}}_image">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <span class="label-product label-new">Yeni </span>
                                    {% comment %} 
                                    <!--quickview-->
                                    <div class="so-quickview">
                                    <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-search"></i><span>Quick view</span></a>
                                    </div>
                                    <!--end quickview-->
                                        {% endcomment %}
                                </div>
                                <div class="right-block">
                                    <div class="button-group cartinfo--static">

                                        <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i></button>
                                        <button type="button" class="addToCart" title="Add to cart" onclick="cart.add('60 ');">
                                            <span>Sepete Ekle </span>
                                        </button>
                                        <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i></button>
                                    </div>
                                    <h4><a href="{% url 'product:product-detail' p.slug %}" title="Volup tatem accu" target="_self">{{p.product_name}}</a></h4>
                                    <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    </div>
                                    <div class="price">
                                    <span class="price">{{p.product_price_end}} ₺ </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- end Related  Products-->
        </div>

        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3 content-aside" id="column-left">
            <div class="module category-style">
                <h3 class="modtitle">KATEGORİLER</h3>
                <div class="modcontent">
                    <div class="box-category">
                        <ul id="cat_accordion" class="list-group">
                            {% for c in categories %}
                                <li class="hadchild"><a href="{% url 'product:category-filter' c.slug  %}" class="cutom-parent">{{c.category_name}}</a>   <span class=" {% if c.get_sub_category %} button-view  fa fa-plus-square-o {% else %} dcjq-icon {% endif %} "></span>
                                    {% if c.get_sub_category %}
                                        <ul style="display: block;">
                                            {% for sc in c.get_sub_category %}
                                                <li><a href="{% url 'product:category-filter' sc.slug  %}">{{sc.sub_category_name}}</a></li>
                                            {% endfor %}
                                        </ul>   
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="module product-simple">
                <h3 class="modtitle">
                    <span>SON GEZDİĞİN ÜRÜNLER</span>
                </h3>
                <div class="modcontent">
                    <div class="so-extraslider" >
                        <!-- Begin extraslider-inner -->
                        <div class=" extraslider-inner">
                            <div class="item ">
                                <div class="product-layout item-inner style1 ">
                                    <div class="item-image">
                                        <div class="item-img-info">
                                            <a href="#" target="_self" title="Mandouille short ">
                                                <img src="{% static 'front_end/image/catalog/demo/product/80/1.jpg' %}" alt="Mandouille short">
                                                </a>
                                        </div>

                                    </div>
                                    <div class="item-info">
                                        <div class="item-title">
                                            <a href="#" target="_self" title="Mandouille short">Mandouille short </a>
                                        </div>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        </div>
                                        <div class="content_price price">
                                            <span class="price-new product-price">$55.00 </span>&nbsp;&nbsp;

                                            <span class="price-old">$76.00 </span>&nbsp;

                                        </div>
                                    </div>
                                    <!-- End item-info -->
                                    <!-- End item-wrap-inner -->
                                </div>
                                <!-- End item-wrap -->
                                <div class="product-layout item-inner style1 ">
                                    <div class="item-image">
                                        <div class="item-img-info">
                                            <a href="#" target="_self" title="Xancetta bresao ">
                                                    <img src="{% static 'front_end/image/catalog/demo/product/80/2.jpg' %}" alt="Xancetta bresao">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="item-info">
                                        <div class="item-title">
                                            <a href="#" target="_self" title="Xancetta bresao">
                                                        Xancetta bresao
                                                    </a>
                                        </div>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        </div>
                                        <div class="content_price price">
                                            <span class="price-new product-price">$80.00 </span>&nbsp;&nbsp;

                                            <span class="price-old">$89.00 </span>&nbsp;



                                        </div>
                                    </div>
                                    <!-- End item-info -->
                                    <!-- End item-wrap-inner -->
                                </div>
                                <!-- End item-wrap -->
                                <div class="product-layout item-inner style1 ">
                                    <div class="item-image">
                                        <div class="item-img-info">
                                            <a href="#" target="_self" title="Sausage cowbee ">
                                                        <img src="{% static 'front_end/image/catalog/demo/product/80/3.jpg' %}" alt="Sausage cowbee">
                                                        </a>
                                        </div>

                                    </div>
                                    <div class="item-info">
                                        <div class="item-title">
                                            <a href="#" target="_self" title="Sausage cowbee">
                                                        Sausage cowbee
                                                    </a>
                                        </div>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        </div>

                                        <div class="content_price price">
                                            <span class="price product-price">
                                                            {{product.product_price_end}} ₺
                                                        </span>
                                        </div>
                                    </div>
                                    <!-- End item-info -->
                                    <!-- End item-wrap-inner -->
                                </div>
                                <!-- End item-wrap -->
                                <div class="product-layout item-inner style1 ">
                                    <div class="item-image">
                                        <div class="item-img-info">
                                            <a href="#" target="_self" title="{{product.product_name}} ">
                                                            <img src="{% static 'front_end/image/catalog/demo/product/80/4.jpg' %}" alt="{{product.product_name}}">
                                               </a>
                                        </div>

                                    </div>
                                    <div class="item-info">
                                        <div class="item-title">
                                            <a href="#" target="_self" title="{{product.product_name}}">
                                                        {{product.product_name}}
                                                    </a>
                                        </div>
                                        <div class="rating">
                                            <span class="fa fa-stack">
                                                                <i class="fa fa-star fa-stack-2x"></i>
                                                            </span>
                                            <span class="fa fa-stack">
                                                                <i class="fa fa-star fa-stack-2x"></i>
                                                            </span>
                                            <span class="fa fa-stack">
                                                                <i class="fa fa-star fa-stack-2x"></i>
                                                            </span>
                                            <span class="fa fa-stack">
                                                                <i class="fa fa-star fa-stack-2x"></i>
                                                            </span>
                                            <span class="fa fa-stack">
                                                                <i class="fa fa-star fa-stack-2x"></i>
                                                            </span>
                                        </div>
                                        <div class="content_price price">
                                            <span class="price-new product-price">$45.00 </span>&nbsp;&nbsp;

                                            <span class="price-old">$56.00 </span>&nbsp;



                                        </div>
                                    </div>
                                    <!-- End item-info -->
                                    <!-- End item-wrap-inner -->
                                </div>
                                <!-- End item-wrap -->
                            </div>
                        </div>
                        <!--End extraslider-inner -->
                    </div>
                </div>
            </div>
            <div class="module banner-left hidden-xs ">
                <div class="banner-sidebar banners">
                  <div>
                    <a title="Banner Image" href="#">
                      <img src="{% static 'front_end/image/catalog/banners/banner-sidebar.jpg' %}" alt="Banner Image">
                    </a>
                  </div>
                </div>
            </div>
        </aside>
        <!--Left Part End -->
        </div>
    </div>
    <!--Middle Part End-->
</div>
<!-- //Main Container -->

{% endblock %}
