.button1 {

  color: #fff;
  background-color: #2196f3;
  position: relative;
  font-weight: 400;
  border: 1px solid transparent;
  padding: .4375rem .875rem;
  font-size: .8125rem;
  line-height: 1.5385;
  border-radius: .1875rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  vertical-align: middle;


  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
