{% load static %}
		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content">

				<!-- Main charts -->
				<div class="row">
					<div class="col-xl-5">
						<!-- logo -->
						<div class="card">
							<img src="{{ company_image.get_image_url }}" width="100%" height="100%" alt="">
						</div>
						<!-- /logo -->
					</div>

					<div class="col-xl-7">
						<!-- Traffic sources -->
						<div class="card">
							<div class="card-header header-elements-inline">
							</div>

							<div class="card-body py-0">
								<div class="row">
									<div class="col-sm-4">
										<div class="d-flex align-items-center justify-content-center mb-2">
											<a href="" class="btn bg-transparent border-teal text-teal rounded-round border-2 btn-icon mr-3">
												<i class="icon-transmission"></i>
											</a>
											<div>
												<div class="font-weight-semibold"> Mail</div>
												<span class="text-muted">{{ company_info.company_email }}</span>
											</div>
										</div>
									</div>

									<div class="col-sm-3">
										<div class="d-flex align-items-center justify-content-center mb-2">
											<a href="" class="btn bg-transparent border-warning-400 text-warning-400 rounded-round border-2 btn-icon mr-3">
												<i class="icon-transmission"></i>
											</a>
											<div>
												<div class="font-weight-semibold">Adres</div>
												<span class="text-muted">{{ company_info.company_address | safe }}</span>
											</div>
										</div>
									</div>

									<div class="col-sm-5">
										<div class="d-flex align-items-center justify-content-center mb-2">
											<a href="" class="btn bg-transparent border-indigo-400 text-indigo-400 rounded-round border-2 btn-icon mr-3">
												<i class="icon-transmission"></i>
											</a>
											<div>
												<div class="font-weight-semibold">Telefon</div>
												<span class="text-muted">{{ company_info.company_phone_number }}</span>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
						<!-- /traffic sources -->

					</div>
				</div>
				<!-- /main charts -->


				<!-- Dashboard content -->
				<div class="row">
					<div class="col-xl-8">



					</div>

					<div class="col-xl-4">

						<!-- Daily sales -->
							<div class="card">
								<div class="card-header header-elements-inline">
									<h6 class="card-title"><a href="{% url 'adminpanel:list-mesaj' %}" style="color:red">Nachrichten</a></h6>
									<div class="header-elements">
										<span class="font-weight-bold text-danger-600 ml-2"><i class="icon-history text-warning mr-2"></i></span>
										<div class="list-icons ml-3">
					              <div class="list-icons-item dropdown">
					                <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown">
													<div class="dropdown-menu dropdown-menu-right">
														<a href="{% url 'adminpanel:list-mesaj' %}" class="dropdown-item"><i class="icon-sync"></i> Alle Beiträge Anzeigen</a>
													</div>
					              </div>
					          </div>
									</div>
								</div>



								<div class="table-responsive">
									<table class="table text-nowrap">
										<thead>
											<tr>
												<th class="w-100">Person, Die Eine Nachricht Sendet</th>
												<th>Inhalt</th>
											</tr>
										</thead>
										<tbody>
											{% for m in mesajlar %}
											<tr>
												<td>
													<div class="d-flex align-items-center">
														<div class="mr-3">
															<a href="" class="btn bg-primary-400 rounded-round btn-icon btn-sm">
																<span class="letter-icon"></span>
															</a>
														</div>
														<div>
															<a href="" class="text-default font-weight-semibold letter-icon-title">{{ m.senders_name }}</a>
															<div class="font-size-sm"> {{ m.senders_mail  }}</div>
														</div>
													</div>
												</td>
												<td>
													<span class="text-muted font-size-sm">{{ m.text }}</span>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
							<!-- /daily sales -->



					</div>
				</div>
				<!-- /dashboard content -->



				<br>
				<br>
				<hr>
				<br>
				<br>

