{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title> Yağ Dükkanım </title>
    <link rel="shortcut icon" href="{% static 'website/img/modadivivere-logo-.png' %}" />

	<!-- Global stylesheets -->
	
	<link href="{% static 'admin/css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/layout.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	{% block header %}
	{% endblock %}
	<!-- Core JS files -->
	<script src="{% static 'admin/js/main/jquery.min.js' %}"></script>
	<script src="{% static 'admin/js/main/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{% static 'admin/js/plugins/visualization/d3/d3.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins/visualization/d3/d3_tooltip.js' %}"></script>
	<script src="{% static 'admin/js/plugins/forms/styling/switchery.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
	<script src="{% static 'admin/js/plugins/ui/moment/moment.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins/pickers/daterangepicker.js' %}"></script>

	<script src="{% static 'admin/assets/js/app.js' %}"></script>

	<script src="{% static 'admin/js/demo_pages/special/dashboard_deneme.js' %}"></script>
	<!-- /theme JS files -->
