{% load static %}

</head>

<body>

    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-dark">
        <div class="navbar">
            <a href="" class="navbar-nav-link d-flex align-items-center">
                <img src="{{ company_image.get_image_url }}" class="rounded mr-2" style=" background: white;" height="34" alt="">
            </a>
        </div>

        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
				<i class="icon-paragraph-justify3"></i>
			</button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="index.html#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>

            <span class="badge bg-success ml-md-3 mr-md-auto">Çevrimiçi</span>

            <ul class="navbar-nav">

                <li class="nav-item dropdown dropdown-user">
                    <a href="index.html#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ company_image.get_image_url }}"  style=" background: white;" class="rounded mr-2" height="34" alt="">
                        <span>{{user.username}}</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{% url 'adminpanel:update-company-info' %}" class="dropdown-item"><i class="icon-user-plus"></i>Şirket</a>
                        {% comment %} <a href="" class="dropdown-item"><i class="icon-coins"></i> Einnahmen</a> {% endcomment %}
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'accounts:superadmin-update' %}" class="dropdown-item"><i class="icon-cog5"></i>Admin</a>
                        <a href="{% url 'accounts:logout' %}" class="dropdown-item"><i class="icon-switch2"></i> Çıkış</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="page-content">

        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

            <div class="sidebar-mobile-toggler text-center">
                <a href="index.html#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Menü
                <a href="index.html#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>

            <div class="sidebar-content">

                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">

                        <li class="nav-item-header">
                            <div class="text-uppercase font-size-xs line-height-xs">Admin Panel</div> <i class="icon-menu" title="Main"></i>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'adminpanel:index' %}" class="nav-link">
                                <i class="icon-home4"></i>
                                <span>
									Ana Sayfa
								</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'website:home' %}" class="nav-link">
                                <i class="icon-home4"></i>
                                <span>
									Website
								</span>
                            </a>
                        </li>

                        <li class="nav-item nav-item-submenu">
							<a href="index.html#" class="nav-link"><i class="icon-transmission"></i> <span>Ürün</span></a>
							<ul class="nav nav-group-sub" data-submenu-title="Firma Bilgisi Güncelle">
								<li class="nav-item"><a href="{% url 'product:list-product' %}" class="nav-link">Listele</a></li>
								<li class="nav-item"><a href="{% url 'product:add-product' %}" class="nav-link">Ekle</a></li>
								<li class="nav-item"><a href="{% url 'product:list-delete-product' %}" class="nav-link">Listele 2</a></li>
							</ul>
						</li>

                        <li class="nav-item nav-item-submenu">
                            <a href="index.html#" class="nav-link"><i class="icon-office"></i> <span>Kategori</span></a>

                            <ul class="nav nav-group-sub" data-submenu-title="Ürünler">
                                <li class="nav-item"><a href="{% url 'category:add-list-category' %}" class="nav-link">Ekle Listele</a></li>
                                <li class="nav-item"><a href="{% url 'category:add-list-subcategory' %}" class="nav-link">Alt Kat. Ekle Listele</a></li>
                            </ul>
                        </li>

                        <li class="nav-item nav-item-submenu">
                            <a href="index.html#" class="nav-link"><i class="icon-office"></i> <span>Blog</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Ürünler">
                                <li class="nav-item"><a href="{% url 'adminpanel:list-blog' %}" class="nav-link">Listele</a></li>
                                <li class="nav-item"><a href="{% url 'adminpanel:add-blog' %}" class="nav-link">Ekle</a></li>
                            </ul>
                        </li>

                        <li class="nav-item nav-item-submenu">
                            <a href="" class="nav-link"><i class="icon-images2"></i> <span>Slider </span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                <li class="nav-item"><a href="{% url 'adminpanel:list-slider' %}" class="nav-link">Listele </a></li>
                                <li class="nav-item"><a href="{% url 'adminpanel:add-slider' %}" class="nav-link">Ekle</a></li>
                            </ul>
                        </li>

                        <li class="nav-item nav-item-submenu">
                            <a href="" class="nav-link"><i class="icon-images2"></i> <span>Footer Görseli</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                <li class="nav-item"><a href="{% url 'adminpanel:list-footer' %}" class="nav-link"> Listele </a></li>
                                <li class="nav-item"><a href="{% url 'adminpanel:add-footer' %}" class="nav-link"> Ekle </a></li>
                            </ul>
                        </li>

                        <li class="nav-item nav-item-submenu">
                            <a href="" class="nav-link"><i class="icon-images2"></i> <span>Ana Sayfa Sol Görseller</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                <li class="nav-item"><a href="{% url 'adminpanel:list-home-3' %}" class="nav-link">Listele </a></li>
                                <li class="nav-item"><a href="{% url 'adminpanel:add-home-3' %}" class="nav-link">Ekle</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'adminpanel:update-sayfalar' %}" class="nav-link">
                                <i class="icon-stack"></i>
                                <span>
                                    Diğer Sayfalar
                                </span>
                            </a>
                        </li>

                        <li class="nav-item nav-item-submenu">
                            <a href="" class="nav-link"><i class="icon-images2"></i> <span>Markalar</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                <li class="nav-item"><a href="{% url 'product:list-brand' %}" class="nav-link">Markalar </a></li>

                                <li class="nav-item"><a href="{% url 'product:add-brand' %}" class="nav-link">Marka Ekle </a></li>
                            </ul>

                        </li>

                        <li class="nav-item">
							<a href="{% url 'musteri:adminpanel-musteri-iade-talepleri' %}" class="nav-link"> 
								<i class="icon-city"></i>
								<span>
									İade talepleri
								</span>
							</a>
						</li>

                        <li class="nav-item">
							<a href="{% url 'order:siparis-listele' %}" class="nav-link"> 
								<i class="icon-city"></i>
								<span>
									Sipariş Listele
								</span>
							</a>
						</li>

						<li class="nav-item">
							<a href="{% url 'musteri:musteri-listele' %}" class="nav-link">
								<i class="icon-city"></i>
								<span>
									Müşteriler
								</span>
							</a>
						</li>


                        <li class="nav-item">
                            <a href="{% url 'adminpanel:list-mesaj' %}" class="nav-link">
                                <i class="icon-user"></i>
                                <span>
									Mesajlar
								</span>
                            </a>
                        </li>

                        <li class="nav-item nav-item-submenu">
                            <a href="index.html#" class="nav-link"><i class="icon-office"></i> <span>SSS </span></a>

                            <ul class="nav nav-group-sub" data-submenu-title="Ürünler">
                                <li class="nav-item"><a href="{% url 'adminpanel:list-sss' %}" class="nav-link">Listele</a></li>
                                <li class="nav-item"><a href="{% url 'adminpanel:add-sss' %}" class="nav-link">Ekle </a></li>
                            </ul>
                        </li>


                        {% if request.user.kullanici %}

                        <li class="nav-item">
                            <a href="{% url 'adminpanel:kullanici-password-change' %}" class="nav-link">
                                <i class="icon-key"></i>
                                <span>
									Parola Değiştir
								</span>
                            </a>
                        </li>
                        {% endif %}

                        <li class="nav-item nav-item-submenu">
                            <a href="index.html#" class="nav-link"><i class="icon-office"></i> <span>Şirket </span></a>

                            <ul class="nav nav-group-sub" data-submenu-title="Ürünler">
                                <li class="nav-item"><a href="{% url 'adminpanel:update-company-info' %}" class="nav-link">Bilgileri Güncelle</a></li>

                                <li class="nav-item"><a href="{% url 'adminpanel:update-company-image' %}" class="nav-link">Şirket Logo Güncelle </a></li>
                            </ul>
                        </li>

                        {% if request.user.superadmin %}
                        <li class="nav-item nav-item-submenu">
                            <a href="" class="nav-link"><i class="icon-user"></i> <span>Admin </span></a>

                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                <li class="nav-item"><a href="{% url 'accounts:superadmin-update' %}" class="nav-link">Bilgileri Güncelle </a></li>
                            </ul>
                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                <li class="nav-item"><a href="{% url 'accounts:superadmin-password-change' %}" class="nav-link">Parola Güncelle</a></li>
                            </ul>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>