<!-- Main content -->
<div class="content-wrapper">

  <!-- Page header -->
  <div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
      <div class="page-title d-flex">
        <h4><a href="{% url 'adminpanel:index' %}"><i class="icon-arrow-left52 mr-2"></i></a> <span class="font-weight-semibold"></h4>
        <a href="user_pages_list.html#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>

    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
        <div class="breadcrumb">
          <a href="{% url 'adminpanel:index' %}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
          <a href="" class="breadcrumb-item">{{pageheader}}</a>
        </div>

        <a href="user_pages_list.html#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>

    </div>
  </div>
  <!-- /page header -->
