{% load static %}
{% include 'adminpanel/index/header.html' %}

<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

<script src="{% static 'admin/js/plugins/media/fancybox.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/gallery_library.js' %}"></script>

{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}

<div class="content">

  {% if messages %}
  {% for message in messages %}
    {% ifequal message.tags 'error' %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% else %}
    <div class="alert alert-{{ message.tags }}" role="alert">
      {{ message }}
    </div>
    {% endifequal %}

  {% endfor %}
  {% endif %}
  <div class="card">
    <div class="card-header bg-white header-elements-inline">
      <h4 class="card-title">Admin-Liste</h4>
    </div>

    <table class="table table-striped media-library">
      <thead>
        <tr>
          <th><input type="checkbox" class="form-input-styled"></th>
          <th>Name</th>
          <th>Nachname</th>
          <th>Email</th>
          <th>Benutzername</th>
          <th>Aufgabe</th>
          <th class="text-center">Transaktionen</th>
        </tr>
      </thead>
      <tbody>

        {% for k in adminler %}

        <tr>
          <td><input type="checkbox" class="form-input-styled"></td>

          <td><a href="">{{ k.user.first_name }}</a></td>
          <td><a href="">{{ k.user.last_name }}</a></td>
          <td>
            <ul class="list-unstyled mb-0">
              <li><span class="font-weight-semibold">{{ k.user.email }}</span></li>
            </ul>
          </td>
          <td>
            <ul class="list-unstyled mb-0">
              <li><span class="font-weight-semibold">{{ k.user.username }}</span></li>
            </ul>
          </td>
          <td>
            <ul class="list-unstyled mb-0">
              <li><span class="font-weight-semibold">{{ k.duty }}</span></li>
            </ul>
          </td>
          <td class="text-center">
            <div class="list-icons">
              <div class="list-icons-item dropdown">
                <a href="gallery_library.html#" class="list-icons-item caret-0 dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-menu9"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                  <a href="{% url 'adminpanel:admin-duzenle' k.slug %}" class="dropdown-item"><i class="icon-pencil7"></i> Düzenle</a>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'adminpanel:admin-sil' k.slug %}" class="dropdown-item"><i class="icon-bin"></i> Sil</a>
                </div>
              </div>
            </div>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
  

</div>


<!--  footer html -->
{% include 'adminpanel/index/footer.html' %}
