{% load static %}
{% include 'adminpanel/index/header.html' %}

<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}

<!-- Content area -->
<div class="content">
  {% if messages %}
  {% for message in messages %}
    {% ifequal message.tags 'error' %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% else %}
    <div class="alert alert-{{ message.tags }}" role="alert">
      {{ message }}
    </div>
    {% endifequal %}

  {% endfor %}
  {% endif %}
  <!-- Vertical form options -->
  <div class="row">
    <div class="col-md-12">

      <!-- Basic layout-->
      <div class="card">
        <div class="card-header header-elements-inline">
          <h5 class="card-title">Passwort Ändern</h5>

        </div>

        <div class="card-body">
          <form action="{% url 'adminpanel:kullanici-password-change' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label>Altes Passwort:</label>
              {{ form.old_password }}
            </div>

            <label>Neues Passwort:</label>
            <div class="form-group">
              {{ form.new_password }}
            </div>

            <div class="form-group">
              <label>Neues Passwort Erneut:</label>
              {{ form.new_password_again }}
            </div>

            <div class="text-right">
              <button type="submit" class="btn btn-primary">Şifreyi Güncelle <i class="icon-paperplane ml-2"></i></button>
            </div>

          </form>
      </div>
      </div>
    </div>
  </div>
</div>


{% include 'adminpanel/index/footer.html' %}
