{% load static %}
{% load i18n %}
{% include 'adminpanel/index/header.html' %}

<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}

<div class="content">




  <div class="row">
    <div class="col-md-12">

      <!-- Basic layout-->
      <div class="card">
        <div class="card-header header-elements-inline">
          <h5 class="card-title"> Admin Hinzufügen </h5>
        </div>

        <div class="card-body">
		
			<form class="login100-form validate-form" action="{% url 'adminpanel:admin-ekle' %}" method="post">
         	 {% csrf_token %}



            <div class="form-group">
              <label> Name : </label>
                 {{ form.first_name }}
            </div>

            <div class="form-group">
              <label> Nachname : </label>
                 {{ form.last_name }}
            </div>

            <div class="form-group">
              <label> E Posta :</label>
                 {{ form.email }}
            </div>

            <div class="form-group">
              <label> Benutzername : </label>
                 {{ form.username }}
            </div>

            <div class="form-group">
              <label> Aufgabe : </label>
                 {{ admin_form.duty }}
            </div>

            <div class="form-group">
              <label> Passwort : </label>
                  {{ form.password1 }}
            </div>

            <div class="form-group">
              <label> Passwort Erneut :</label>
                  {{ form.password2 }}
            </div>


            <div class="text-right">
              <button type="submit" class="btn btn-primary"> Kayıt Ol <i class="icon-paperplane ml-2"></i></button>
            </div>

          </form>

        </div>
      </div>
      <!-- /basic layout -->

    </div>
  </div>



	<div id="dropDownSelect1"></div>


</div>


{% include 'adminpanel/index/footer.html' %}
