{% load static %}
{% include 'adminpanel/index/header.html' %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

<script src="{% static 'admin/js/plugins/uploaders/fileinput/plugins/purify.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/uploaders/fileinput/plugins/sortable.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/uploaders/fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/uploader_bootstrap.js' %}"></script>


{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}


<!-- Content area -->
<div class="content">
 
  <!-- Vertical form options -->
  <div class="row">
    <div class="col-md-12">

      <!-- Basic layout-->
      <div class="card">
        <div class="card-header header-elements-inline">
          <h5 class="card-title"> Ürün Ekle</h5>
        </div>

        {% comment %} data-ending-url="{% url 'product:load-ending' %}" data-category-url="{% url 'product:load-categories' %}" {% endcomment %}

        <div class="card-body"> 
          <form  action="{% url 'product:add-product' %}" name="getForm" id="getForm" data-ending-url="{% url 'product:load-ending' %}" data-category-url="{% url 'product:load-categories' %}"  method="POST" enctype='multipart/form-data'>
            {% csrf_token %}


            {% comment %} <div class="form-group">
                <label>Kategorie:</label>
                <select name="category_pk" id="id_category" data-placeholder="Kategori Seçiniz" class="form-control" >
                  <option value="">------</option>
                  {% for c in categorys %}
                    <option value="{{c.pk}}">{{ c.category_name }}</option>
                  {% endfor %}
                </select>
              </div> {% endcomment %}

            
            <div class="form-group" style="width:49%; float:left; margin-right:10px">
                <label>Kategori:</label>
                <select name="category_pk" id="id_category" data-placeholder="Kategorie wählen" class="form-control" >
                  <option value="">------</option>
                  {% for c in categorys %}
                    <option value="{{c.pk}}">{{ c.category_name }}</option>
                  {% endfor %}
                </select>
              </div>

            <div class="form-group"  style="width:49%; float:left">
                <label>Alt Kategori:</label>
                <select name="sub_category_pk" id="id_sub_category" data-placeholder="Wählen Sie Unterkategorie" class="form-control" >
                  <option value="">------</option>
                </select>
            </div>

            {% comment %} <div class="form-group">
                <label>2. Unterkategorie:</label>
                <select name="sub_category_2_pk" id="id_sub_category_2" data-placeholder="Wählen Sie Unterkategorie 2" class="form-control" >
                  <option> Bitte Wählen Sie Unterkategorie 2 </option>

                </select>
            </div> {% endcomment %}


            <div>
            
              {{ form.media }} 
                {% for field in form %}
                  <div class="form-group  " style="{% if field.label == "Fiyatı" or field.label ==  "İndirim Oranı" or field.label ==  "KDV Oranı" or field.label ==  "Marka" or field.label == "Stok" or field.label == "Ürün Kodu" or field.label == "Özel" or field.label == "Popüler" or field.label == "İndirimli"  %} width: 32.5%; float:left; margin-right:5px; {% endif %}">
                    {% if field.label == "Stok" %} {% endif %}
                     <label>{{field.label}}</label> <br>
                    {{field}}

                  </div>
                  
                {% endfor %}
            </div>
            
            <div class="form-group">
              <div class="row">
                <div class="form-group row">
                  <label class="col-lg-2 col-form-label font-weight-semibold">Ürün Fotoğrafları Ekle</label>
                  <div class="col-lg-10">
                    {{ imageForm }}
                  </div>
                </div>
              </div>
            </div>

            <div class="text-right">
              <button type="submit" class="btn btn-primary"> Ekle <i class="icon-paperplane ml-2"></i></button>
            </div>

          </form>

        </div>
      </div>
      <!-- /basic layout -->

    </div>
  </div>
</div>


 <script type="text/javascript">

 var start = $("#id_category").val()
 var end = $("#id_sub_category").val()

  $("#id_category").change(function() {
    var url = $("#getForm").attr("data-ending-url"); // get the url of the `load_cities` view
    var category_pk = $(this).val(); // get the selected country ID from the HTML input

    $.ajax({ // initialize an AJAX request
      url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'category_pk': category_pk // add the country id to the GET parameters
      },
      success: function(data) { // `data` is the return of the `load_cities` view function
        $("#id_sub_category").html(data); // replace the contents of the city input with the data that came from the server
      }
    });

  });


  $("#id_sub_category").change(function() {
    var url = $("#getForm").attr("data-category-url"); // get the url of the `load_cities` view
    var sub_category_pk = $(this).val(); // get the selected country ID from the HTML input

    $.ajax({ // initialize an AJAX request
      url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'sub_category_pk': sub_category_pk,
      },
      success: function(data) { // `data` is the return of the `load_cities` view function
        $("#id_sub_category_2").html(data); // replace the contents of the city input with the data that came from the server
      }
    });

  });

</script>

{% include 'adminpanel/index/footer.html' %}
