{% load static %}
{% include 'adminpanel/index/header.html' %}

<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

<script src="{% static 'admin/js/plugins/media/fancybox.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/gallery_library.js' %}"></script>

{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}

<!-- Content area -->
<div class="content">

  <!-- Media library -->
  <div class="card">
    <div class="card-header bg-white header-elements-inline">
      <h4 class="card-title">Waren </h4>
    </div>

    <table class="table table-striped media-library">
      <thead>
        <tr>
          <th><input type="checkbox" class="form-input-styled"></th>
          <th>Produktfoto</th>
          <th>Produktname</th>
          <th>Produktprice</th>
          <th>indirimli fiyat </th>

          <th>Produktbestand</th>

          <th class="text-center">Operationen</th>
        </tr>
      </thead>
      <tbody>

        {% for p in products %}

        <tr>
          <td><input type="checkbox" class="form-input-styled"></td>
          <td>
            <a href="{% url 'product:update-product' p.pk %}" data-popup="lightbox">
              <img src="{{p.get_product_image.0.get_image_url}}" alt="" width='90' height='100' class="img-preview rounded"/>
            </a>
          </td>
          
          <td><a href="{% url 'product:update-product' p.pk %}">{{p.product_name }}</a></td>
          <td>{{p.product_price }}</td>

         
          <td>{{p.product_discount_price }}</td>


          <td>
            <ul class="list-unstyled mb-0">
              <li><span class="font-weight-semibold">{{ p.discount_price }}</span></li>
            </ul>
          </td>
          <td class="text-center">
            <div class="list-icons">
              <div class="list-icons-item dropdown">
                <a href="gallery_library.html#" class="list-icons-item caret-0 dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-menu9"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                  <a href="{% url 'product:update-product' p.pk %}" class="dropdown-item"><i class="icon-pencil7"></i> Bearbeiten</a>
                  <a href="{% url 'product:update-product-image' p.pk %}" class="dropdown-item"><i class="icon-eye-blocked"></i> Produkt Foto Aktualisieren</a>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'product:delete-product' p.pk %}" class="dropdown-item"><i class="icon-bin"></i> Löschen</a>
                </div>

              </div>
            </div>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- /media library -->

</div>
<!-- /content area -->


{% include 'adminpanel/index/footer.html' %}
