{% load static %}
{% include 'adminpanel/index/header.html' %}

{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}

<div class="container-fluid">

    <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
            <h3 class="card-title">Ürünler 
                <a href="{% url 'product:add-product' %}"> <button class="btn btn-success float-right"> Ekle </button> </a>
            </h3>  
        </div>
        <!--begin::Form-->
        <div class="card-body">

            <div align="center">
                <form method="GET" align="center">
                <input type="text" name="product_name" class="form-control" style="width:50% !important; display:inline-block; ">
                <input type="submit" value ="Ara" class="btn btn-outline-info" >
                </form>
            </div>

            <div class="row">
                <div class="col-12">
                    <form method="POST">
                        {% csrf_token %}
                        <label><b>Ürünler</b></label>
                        <div style="width: 100%; height: 600px; overflow-y: scroll; margin-bottom: 10px;border:1px inset lightgray;padding: 10px;">
                            
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                        <th scope="col">#</th>
                                        <th>Görsel</th>
                                        <th>Başlık</th>
                                        <th>Fiyat</th>
                                        <th>Stok</th>
                                        <th class="text-center">İşlem</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in products %}
                                            <tr>
                                                <th scope="row"><input type="checkbox" name="islem_product_list" value="{{product.id}}" ></th>
                                                <td style="width:30px;display:block">
                                                    <img src="{{product.get_product_image.0.get_image_url}}" height="50" width="50" alt="" />
                                                </td>
                                                <td>{{product.product_name}}</td>
                                                <td>{{product.product_price_end}}</td> 
                                                <td>{{product.product_total_quantity}}</td>
                                                <td class="text-center">
                                                    <div class="list-icons">
                                                    <div class="list-icons-item dropdown">
                                                        <a href="gallery_library.html#" class="list-icons-item caret-0 dropdown-toggle" data-toggle="dropdown">
                                                        <i class="icon-menu9"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="{% url 'product:update-product' product.pk %}" class="dropdown-item"><i class="icon-pencil7"></i>Güncelle </a>
                                                        <a href="{% url 'product:update-product-image' product.pk %}" class="dropdown-item"><i class="icon-eye-blocked"></i>Fotoğraf Güncelle </a>
                                                        <div class="dropdown-divider"></div>
                                                        <a href="{% url 'product:delete-product' product.pk %}" class="dropdown-item"><i class="icon-bin"></i>Sil </a>
                                                        </div>

                                                    </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}    
                                    </tbody>
                                </table>
                                {{product}}
                                <br>
                        </div>
                        <div class="card-footer row">
                            <div class="col-3">
                                <select name="islem"  class="form-control" onchange="this.form.submit()" >
                                    <option  value="sil">Sil</option>
                                    <option  value="ozel">Özel Olarak İşaretle</option>
                                    <option  value="populer">Popüler Olarak İşaretle</option>
                                </select>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'adminpanel/index/footer.html' %}


