{% load static %}
{% include 'adminpanel/index/header.html' %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

<script src="{% static 'admin/js/plugins/uploaders/fileinput/plugins/purify.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/uploaders/fileinput/plugins/sortable.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/uploaders/fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/uploader_bootstrap.js' %}"></script>

{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}

<!-- Content area -->
<div class="content">

  <!-- Vertical form options -->
  <div class="row">
    <div class="col-md-12">

      <!-- Basic layout-->
      <div class="card">
        <div class="card-header header-elements-inline">
          <h5 class="card-title">Ürün Güncelle</h5>
        </div>

        <div class="card-body">
          <form action="{% url 'product:update-product' form.instance.pk %}" name="getForm" id="getForm" data-ending-url="{% url 'product:load-ending' %}" data-category-url="{% url 'product:load-categories' %}" method="POST" enctype='multipart/form-data' method="post">
            {% csrf_token %}

            <div class="form-group" style="width:49%; float:left; margin-right:10px">
                <label>Kategori: {% comment %} <span style ="color:red;">(Kayıtlı Kategori: {{product.category}} ) {% endcomment %} </span> </label>
                <select name="category_pk" id="id_category" data-placeholder="Kategori" class="form-control" >
                  {% comment %} <option value="{{product.category.pk}}">{{product.category.category_name}}</option> {% endcomment %}
                  {% for c in categorys %}
                    {% if c.pk == product.category.pk %}
                      <option style="color:red; font-weight: bold;" selected value="{{c.pk}}"> {{ c.category_name }} </option>
                    {% else %}
                      <option value="{{c.pk}}">{{ c.category_name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>

            <div class="form-group" style="width:49%; float:left">
                <label>Alt Kategori: {% comment %} <span style ="color:red;">(Kayıtlı Alt Kategori: {{product.sub_category}} ) {% endcomment %}  </span> </label>
                <select name="sub_category_pk" id="id_sub_category" data-placeholder="Alt Kategori" class="form-control" >


                  {% for sc in product.category.get_sub_category %}
                    {% if sc.pk == product.sub_category.pk %}
                  <option style="color:red; font-weight: bold;" selected value="{{product.sub_category.pk}}">{{product.sub_category.sub_category_name}}</option>

                    {% else %}
                      <option value="{{sc.pk}}">{{sc.sub_category_name}}</option>

                    {% endif %}
                  {% endfor %}
                </select>
            </div>

            {% comment %} <div class="form-group">
                <label>2. Unterkategorie : <span style ="color:red;">(2. Unterkategorie: {{product.sub_category2}} ) </span> </label>
                <select name="sub_category_2_pk" id="id_sub_category_2" data-placeholder="Wählen Sie Unterkategorie 2" class="form-control" >
                  <option value="{{product.sub_category2.pk}}">{{product.sub_category2}}</option>
                  <option>Wählen Sie Unterkategorie 2</option>

                </select>
            </div> {% endcomment %}

            <div>
              {{ form.media }} 
                {% for field in form %}
                  <div class="form-group  " style="{% if field.label == "Fiyatı" or field.label ==  "İndirim Oranı" or field.label ==  "KDV Oranı" or field.label ==  "Marka" or field.label == "Stok" or field.label == "Ürün Kodu" or field.label == "Özel" or field.label == "Popüler" or field.label == "İndirimli"  %} width: 32.5%; float:left; margin-right:5px; {% endif %}">
                     <label>{{field.label}} {% if field.label == "Marka" %} <span style ="color:red;">(Kayıtlı Marka: {{product.product_brand.brand_name}} ) </span> {% endif %} </label> <br>
                    {{field}}
                  </div>
                  
                {% endfor %}
            </div>

            {% comment %} 
            <div>
              {{ form.media }} 
                {% for field in form %}
                  <div class="form-group">
                {% if field.label == "Product detail" %}
                    <label>Produkte Detail</label><br>
                {% elif field.label == "Product color" %}
                    <label>Produktfarbe</label><br>
                {% elif field.label == "Product brand" %}  
                    <label>Marken</label><br>
                {% elif field.label == "Product preparation time" %}
                    <label>Produkttransportzeit</label><br>
                {% elif field.label == "Product special" %}
                    <label>Spezielles Produkt</label><br>
                {% elif field.label == "Product popular" %}
                    <label>Beliebtes Produkt</label><br>
                {% elif field.label == "Product sale" %}
                    <label>Sale Produkt</label><br>
                {% endif %}
                
                {% if field.label == "Product size" %}
                    <label>Grün</label><br>
                    <label>------>: <span style ="color:red;">(Aktuelle Grün: {{product.product_size}}  ) </span> </label>
                    <div style="overflow: auto; max-height:400px; border: ridge;"> <br> {{field}}</div><br>
                {% else %}
                    {{field}}
                {% endif %}
                <!--
                  <label>{{field.label}}</label><br>
                -->
                    
                  </div>
                {% endfor %}
            </div> {% endcomment %}
            
            <div class="text-right">
              <button type="submit" class="btn btn-primary">Güncelle<i class="icon-paperplane ml-2"></i></button>
            </div>

          </form>

        </div>
      </div>
      <!-- /basic layout -->

    </div>
  </div>
</div>

<script type="text/javascript">

 var start = $("#id_category").val()
 var end = $("#id_sub_category").val()

  $("#id_category").change(function() {
    var url = $("#getForm").attr("data-ending-url"); // get the url of the `load_cities` view
    var category_pk = $(this).val(); // get the selected country ID from the HTML input

    $.ajax({ // initialize an AJAX request
      url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'category_pk': category_pk // add the country id to the GET parameters
      },
      success: function(data) { // `data` is the return of the `load_cities` view function
        $("#id_sub_category").html(data); // replace the contents of the city input with the data that came from the server
      }
    });

  });


  $("#id_sub_category").change(function() {
    var url = $("#getForm").attr("data-category-url"); // get the url of the `load_cities` view
    var sub_category_pk = $(this).val(); // get the selected country ID from the HTML input

    $.ajax({ // initialize an AJAX request
      url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'sub_category_pk': sub_category_pk,
      },
      success: function(data) { // `data` is the return of the `load_cities` view function
        $("#id_sub_category_2").html(data); // replace the contents of the city input with the data that came from the server
      }
    });

  });

</script>

{% include 'adminpanel/index/footer.html' %}
