{% extends "front_end/base/main.html" %}
{% load static %}
{% block content %}
<style media="screen">
  @media (min-width: 992px){
  .typeheader-2 .container-megamenu.vertical .vertical-wrapper ul.megamenu{display: none;}
  .typeheader-2 .container-megamenu.vertical:hover .vertical-wrapper ul.megamenu{display: block !important;}
}

</style>

<!-- Main Container  -->
<div class="main-container container" style="margin: 40px auto;">
  <ul class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i></a></li>
    <li><a href="#">Sepet</a></li>
  </ul>

  <div class="row">
    <!--Middle Part Start-->
       <div id="content" class="col-sm-12">
         <h2 class="title">Alışveriş Sepeti</h2>
           <div class="table-responsive form-group">
             <table class="table table-bordered">
               <thead>
                 <tr>
                   <td class="text-center"> Fotoğraf</td>
                   <td class="text-left">Adı</td>
                   <td class="text-left">Model</td>
                   <td class="text-left">Adet</td>
                   <td class="text-right">Ürün Fiyatı</td>
                   <td class="text-right">Toplam</td>
                 </tr>
               </thead>
               <tbody>
               {% for sc in shop_cart %}
                 <tr>
                 <form action="{% url 'order:update-cart' sc.pk %}" method="POST">
                 {% csrf_token %}
                   <td class="text-center"><a href="{% url 'product:product-detail' sc.product.slug %}"><img width="70px" src="{{sc.product.get_product_image.0.product_image.url}}" alt="Aspire Ultrabook Laptop" title="Aspire Ultrabook Laptop" class="img-thumbnail" /></a></td>
                   <td class="text-left"><a href="{% url 'product:product-detail' sc.product.slug %}">{{sc.product.product_name}}</a><br />
                    </td>
                   <td class="text-left">{{sc.product.product_code}}</td>
                   <td class="text-left" width="200px"><div class="input-group btn-block quantity">
                       <input type="text" name="quantity" value="{{sc.quantity}}" size="1" class="form-control" />
                       <span class="input-group-btn">
                       <button type="submit" data-toggle="tooltip" title="Güncelle" class="btn btn-primary"><i class="fa fa-clone"></i></button>
                       <a href="{% url 'order:delete-cartproduct' sc.pk %}" type="button" data-toggle="tooltip" title="Sil" class="btn btn-danger" onClick=""><i class="fa fa-times-circle"></i></a>
                       </span></div></td>
                   <td class="text-right">{{sc.product.product_price_end}} ₺</td>
                   <td class="text-right">{{sc.amount}} ₺</td>
                   </form>
                 </tr>
                {% endfor %}

               </tbody>
             </table>
           </div>
         {% comment %} <h3 class="subtitle no-margin">What would you like to do next?</h3>
         <p>Kullanmak istediğiniz indirim kodunuzu girin.</p> {% endcomment %}
  <!--div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#collapse-coupon" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">Kupon Kodu Kullanımı

            <i class="fa fa-caret-down"></i>
          </a>
        </h4>
      </div>
      <div id="collapse-coupon" class="panel-collapse collapse in" aria-expanded="true">
        <div class="panel-body">
          <label class="col-sm-2 control-label" for="input-coupon">İndirim Kodunu Giriniz</label>
          <div class="input-group">
            <input type="text" name="coupon" value="" placeholder="İndirim Kodunu Giriniz." id="input-coupon" class="form-control">
            <span class="input-group-btn"><input type="button" value="Kodu Kullan" id="button-coupon" data-loading-text="Loading..." class="btn btn-primary"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#collapse-shipping" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">Kargo Adresi

            <i class="fa fa-caret-down"></i>
          </a>
        </h4>
      </div>
      <div id="collapse-shipping" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <p>Adres Giriniz</p>
          <div class="form-horizontal">
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-country">İl</label>
              <div class="col-sm-10">
                <select id="Iller">
                    <option value="0">İl Seçiniz</option>
                </select>
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-zone">İlçe</label>
              <div class="col-sm-10">

                <select id="Ilceler" disabled="disabled">
                    <option value="0">İlçe seçiniz</option>
                </select>
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-postcode">Açık Adres</label>
              <div class="col-sm-10"><input type="text" name="address" value="" placeholder="Açık adres giriniz." id="input-postcode" class="form-control"></div>
            </div>
              {% comment %} <button type="button" id="button-quote" data-loading-text="Loading..." class="btn btn-primary">Get Quotes</button> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    {% comment %} <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#collapse-voucher" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle collapsed" aria-expanded="false">Use Gift Certificate

            <i class="fa fa-caret-down"></i>
          </a>
        </h4>
      </div>
      <div id="collapse-voucher" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <label class="col-sm-2 control-label" for="input-voucher">Enter your gift certificate code here</label>
          <div class="input-group">
            <input type="text" name="voucher" value="" placeholder="Enter your gift certificate code here" id="input-voucher" class="form-control">
            <span class="input-group-btn"><input type="submit" value="Apply Gift Certificate" id="button-voucher" data-loading-text="Loading..." class="btn btn-primary"></span>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
  </div-->

  <div class="row">
    <div class="col-sm-4 col-sm-offset-8">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="text-right">
              <strong>Toplam:</strong>
            </td>
            <td class="text-right">{{total2}} ₺</td>
          </tr>
          <tr>
            <td class="text-right">
              <strong>Toplam KDV:</strong>
            </td>
            <td class="text-right">{{total_kdv}} ₺</td>
          </tr>
          <tr>
            <td class="text-right">
              <strong>Toplam İndirim:</strong>
            </td>
            <td class="text-right">{{total_discount}} ₺</td>
          </tr>
          <tr>
            <td class="text-right">
              <strong>Kargo:</strong>
            </td>
            <td class="text-right">10 ₺</td>
          </tr>
          <tr>
            <td class="text-right">
              <strong>Ödenecek Tutar:</strong>
            </td>
            <td class="text-right">{{total}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

   <div class="buttons">
           <div class="pull-left"><a href="{% url 'website:home' %}" class="btn btn-primary">Alışverişe devam et</a></div>
           <div class="pull-right"><a href="{% url 'website:checkout' %}" class="btn btn-primary">Ödeme</a></div>
         </div>
       </div>
       <!--Middle Part End -->

  </div>
</div>
<!-- //Main Container -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type="text/javascript" src="{% static 'front_end/js/il_ilce.js' %}"></script>
{% endblock %}
