
{% extends "front_end/base/main.html" %}
{% load static %}
{% block content %}
<style media="screen">
  @media (min-width: 992px){
  .typeheader-2 .container-megamenu.vertical .vertical-wrapper ul.megamenu{display: none;}
  .typeheader-2 .container-megamenu.vertical:hover .vertical-wrapper ul.megamenu{display: block !important;}
}

</style>

<!-- Main Container  -->
<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="{% url 'website:home' %}"><i class="fa fa-home"></i></a></li>
        <li><a href="{% url 'product:category-filter' category.slug  %}">{{category.category_name}}</a></li>
        {% if sub_category == "" %}  {% else %}  <li><a href="{% url 'product:category-filter' sub_category.slug  %}"> {{sub_category}}</a></li> {% endif %}
    </ul>

    <div class="row">
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3 content-aside" id="column-left">
            <div class="module category-style">
                <h3 class="modtitle">KATEGORİLER</h3>
                <div class="modcontent">
                    <div class="box-category">
                        <ul id="cat_accordion" class="list-group">

                            {% for c in categories %}
                                <li class="hadchild"><a href="{% url 'product:category-filter' c.slug  %}" class="cutom-parent {% if category.category_name == c.category_name  %} active {% endif %} ">{{c.category_name}}  </a>   <span class=" {% if c.get_sub_category %} button-view  fa fa-plus-square-o {% else %} dcjq-icon {% endif %} "></span>
                                    {% if c.get_sub_category %}
                                        <ul style="display: block;">
                                            {% for sc in c.get_sub_category %}
                                                <li><a href="{% url 'product:category-filter' sc.slug  %}">{{sc.sub_category_name}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}

                            {% comment %} <li class=""><a href="{% url 'website:category' %}" class="cutom-parent">Health &amp; Beauty</a>  <span class="dcjq-icon"></span></li> {% endcomment %}

                        </ul>
                    </div>


                </div>
            </div>
            <div class="module product-simple">
                <h3 class="modtitle">
                    <span>EN SON ÜRÜNLER</span>
                </h3>
                <div class="modcontent">
                    <div class="so-extraslider" >
                        <!-- Begin extraslider-inner -->
                        <div class="yt-content-slider extraslider-inner">
                            <div class="item w-100">


                                <div class="product-layout item-inner style1 ">
                                    <div class="item-image">
                                        <div class="item-img-info">
                                            <a href="#" target="_self" title="Mandouille short ">
                                                <img src="{% static 'front_end/image/catalog/demo/product/80/1.jpg' %}" alt="Mandouille short">
                                                </a>
                                        </div>

                                    </div>
                                    <div class="item-info">
                                        <div class="item-title">
                                            <a href="#" target="_self" title="Mandouille short">Mandouille short </a>
                                        </div>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        </div>
                                        <div class="content_price price">
                                            <span class="price-new product-price">$55.00 </span>&nbsp;&nbsp;

                                            <span class="price-old">$76.00 </span>&nbsp;

                                        </div>
                                    </div>
                                    <!-- End item-info -->
                                    <!-- End item-wrap-inner -->
                                </div>
                                <!-- End item-wrap -->
                                <div class="product-layout item-inner style1 ">
                                    <div class="item-image">
                                        <div class="item-img-info">
                                            <a href="#" target="_self" title="Xancetta bresao ">
                                                    <img src="{% static 'front_end/image/catalog/demo/product/80/2.jpg' %}" alt="Xancetta bresao">
                                                    </a>
                                        </div>

                                    </div>
                                    <div class="item-info">
                                        <div class="item-title">
                                            <a href="#" target="_self" title="Xancetta bresao">
                                                        Xancetta bresao
                                                    </a>
                                        </div>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        </div>
                                        <div class="content_price price">
                                            <span class="price-new product-price">$80.00 </span>&nbsp;&nbsp;

                                            <span class="price-old">$89.00 </span>&nbsp;



                                        </div>
                                    </div>
                                    <!-- End item-info -->
                                    <!-- End item-wrap-inner -->
                                </div>
                                <!-- End item-wrap -->
                                <div class="product-layout item-inner style1 ">
                                    <div class="item-image">
                                        <div class="item-img-info">
                                            <a href="#" target="_self" title="Sausage cowbee ">
                                                        <img src="{% static 'front_end/image/catalog/demo/product/80/3.jpg' %}" alt="Sausage cowbee">
                                                        </a>
                                        </div>

                                    </div>
                                    <div class="item-info">
                                        <div class="item-title">
                                            <a href="#" target="_self" title="Sausage cowbee">
                                                        Sausage cowbee
                                                    </a>
                                        </div>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        </div>

                                        <div class="content_price price">
                                            <span class="price product-price">
                                                            $66.00
                                                        </span>
                                        </div>
                                    </div>
                                    <!-- End item-info -->
                                    <!-- End item-wrap-inner -->
                                </div>
                                <!-- End item-wrap -->
                                <div class="product-layout item-inner style1 ">
                                    <div class="item-image">
                                        <div class="item-img-info">
                                            <a href="#" target="_self" title="Chicken swinesha ">
                                                            <img src="{% static 'front_end/image/catalog/demo/product/80/4.jpg' %}" alt="Chicken swinesha">
                                                            </a>
                                        </div>

                                    </div>
                                    <div class="item-info">
                                        <div class="item-title">
                                            <a href="#" target="_self" title="Chicken swinesha">
                                                        Chicken swinesha
                                                    </a>
                                        </div>
                                        <div class="rating">
                                            <span class="fa fa-stack">
                                                                <i class="fa fa-star fa-stack-2x"></i>
                                                            </span>
                                            <span class="fa fa-stack">
                                                                <i class="fa fa-star fa-stack-2x"></i>
                                                            </span>
                                            <span class="fa fa-stack">
                                                                <i class="fa fa-star fa-stack-2x"></i>
                                                            </span>
                                            <span class="fa fa-stack">
                                                                <i class="fa fa-star fa-stack-2x"></i>
                                                            </span>
                                            <span class="fa fa-stack">
                                                                <i class="fa fa-star fa-stack-2x"></i>
                                                            </span>
                                        </div>
                                        <div class="content_price price">
                                            <span class="price-new product-price">$45.00 </span>&nbsp;&nbsp;

                                            <span class="price-old">$56.00 </span>&nbsp;



                                        </div>
                                    </div>
                                    <!-- End item-info -->
                                    <!-- End item-wrap-inner -->
                                </div>
                                <!-- End item-wrap -->
                            </div>
                        </div>
                        <!--End extraslider-inner -->
                    </div>
                </div>
            </div>
            <div class="module banner-left hidden-xs ">
                <div class="banner-sidebar banners">
                  <div>
                    <a title="Banner Image" href="#">
                      <img src="{% static 'front_end/image/catalog/banners/banner-sidebar.jpg' %}" alt="Banner Image">
                    </a>
                  </div>
                </div>
            </div>
        </aside>
        <!--Left Part End -->
<style media="screen">
  .owl2-stage, .owl2-carousel .owl2-item{width:100% !important;}
</style>
        <!--Middle Part Start-->
        <div id="content" class="col-md-9 col-sm-8">
            <div class="products-category">
                <h3 class="title-category ">{% if sub_category == "" %} {{category.category_name}} {% else %}  {{sub_category.sub_category_name}} {% endif %}</h3>
                <div class="category-desc">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="banners">
                                <div>
                                    <a  href="#"><img src="{% static 'front_end/image/catalog/demo/category/img-cate.jpg' %}" alt="img cate"><br></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Filters -->
                <div class="product-filter product-filter-top filters-panel">
                    <div class="row">
                        <div class="col-md-5 col-sm-3 col-xs-12 view-mode">
                            <div class="list-view">
                                <button class="btn btn-default grid active" data-view="grid" data-toggle="tooltip"  data-original-title="Grid"><i class="fa fa-th"></i></button>
                                <button class="btn btn-default list" data-view="list" data-toggle="tooltip" data-original-title="List"><i class="fa fa-th-list"></i></button>
                            </div>
                        </div>
                        <div class="short-by-show form-inline text-right col-md-7 col-sm-9 col-xs-12">
                         <form action="{% url 'product:category-filter' category.slug %}" method="post" >
                         {% csrf_token %}
                            <div class="form-group short-by">
                                <label class="control-label" for="input-sort">Sıralama:</label>
                                <select name="sort" id="input-sort" class="form-control" onchange="this.form.submit()" > <!--   onchange="location = this.submit;"  -->
                                    <option {% if sort == "name_a_z" %} selected {% endif %} value="name_a_z">Ürün Adı (A - Z)</option>
                                    <option {% if sort == "name_z_a" %} selected {% endif %} value="name_z_a">Ürün Adı  (Z - A)</option>
                                    <option {% if sort == "price_low_to_high" %} selected {% endif %} value="price_low_to_high">Fiyat (Artan)</option>
                                    <option {% if sort == "price_high_to_low" %} selected {% endif %} value="price_high_to_low">Price (Azalan)</option>
                                </select>
                            </div>
                        </form>

                            {% comment %}
                            <div class="form-group">
                                <label class="control-label" for="input-limit">Göster:</label>
                                <select id="input-limit" class="form-control" onchange="location = this.value;">
                                    <option value="" selected="selected">15</option>
                                    <option value="">25</option>
                                    <option value="">50</option>
                                    <option value="">75</option>
                                    <option value="">100</option>
                                </select>
                            </div>
                            {% endcomment %}
                        </div>
                        <!-- <div class="box-pagination col-md-3 col-sm-4 col-xs-12 text-right">
                            <ul class="pagination">
                                <li class="active"><span>1</span></li>
                                <li><a href="">2</a></li><li><a href="">&gt;</a></li>
                                <li><a href="">&gt;|</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                <!-- //end Filters -->

                <!--changed listings-->
                <div class="products-list row nopadding-xs so-filter-gird">
                    {% for p in page_obj %}
                        <div class="product-layout col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="product-item-container item--static">
                                <div class="left-block">
                                    <div class="product-image-container second_img">
                                        <a href="{% url 'product:product-detail' p.slug %}" target="_self" title="{{p.product_name}}">
                                            {% comment %} {% for image in p.get_product_image %}{% endfor %} {% endcomment %}
                                            <img src="{{p.get_product_image.0.product_image.url}}" class="img-1 img-responsive" alt="{{p.product_name}}_image">
                                            {% if p.get_product_image.1.product_image.url %}
                                                <img src="{{p.get_product_image.1.product_image.url}}" class="img-2 img-responsive" alt="{{p.product_name}}_image">
                                            {% else %}
                                                <img src="{{p.get_product_image.0.product_image.url}}" class="img-2 img-responsive" alt="{{p.product_name}}_image">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <span class="label-product label-new">Yeni</span>
                                    <!--quickview-->
                                    {% comment %} <div class="so-quickview">
                                    <a class="iframe-link btn-button quickview quickview_handler visible-lg center" href=" {% url 'product:popup-product-detail' p.slug %} " title="Ürün Detayı" data-fancybox-type="iframe"><i class="fa fa-search"></i><span>Ürün Detayı</span></a>
                                    </div> {% endcomment %}
                                    <!--end quickview-->
                                </div>
                                <div class="right-block">
                                    <div class="button-group cartinfo--static">
                                        <button type="button" class="wishlist btn-button" title="Favorilere Ekle" onclick="wishlist.add('60');"><i class="fa fa-heart"></i></button>
                                        <button type="button" class="addToCart" title="Sepete Ekle" onclick="cart.add('{{p.get_product_image.0.product_image.url}}', '{{p.product_name}}', '1');">
                                           <a href="{% url 'order:addtocart' p.pk %}" > <span>Sepete Ekle </span> </a>
                                        </button>
                                        <button type="button" class="compare btn-button" title="Karşılaştır" onclick="compare.add('60');"><i class="fa fa-refresh"></i></button>
                                    </div>
                                    <h4 style="margin-top:5px; min-height:32px" ><a href="{% url 'product:product-detail' p.slug %}" title="{{p.product_name}}" target="_self">{{p.product_name}}</a></h4>
                                    <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    </div>
                                    <div class="price">
                                    <span class="price">{{p.product_price_end}} ₺</span>
                                    </div>
                                    <div class="description item-desc">
                                        <p>{{p.product_detail | safe }}</p>
                                    </div>
                                        {% comment %}
                                    <div class="list-block">
                                        <button class="addToCart btn-button" type="button" title="Sepete Ekle" onclick="cart.add('101', '1');"><i class="fa fa-shopping-basket"></i>
                                        </button>
                                        <button class="wishlist btn-button" type="button" title="Beğendiklerime Ekle" onclick="wishlist.add('101');"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="compare btn-button" type="button" title="Karşılaştır" onclick="compare.add('101');"><i class="fa fa-refresh"></i>
                                        </button>
                                        <!--quickview-->
                                        <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i></a>
                                        <!--end quickview-->
                                    </div>
                                    {% endcomment %}

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!--// End Changed listings-->
                    <nav aria-label="Page navigation example justify-content-center" style=" justify-content: center; display: grid; ">
                        {% load bootstrap_pagination %}
                        {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" style=" justify-content: center; display: grid; " %}
                    </nav>
            </div>
        </div>


        <!--Middle Part End-->
    </div>
</div>
<!-- //Main Container -->

    {% comment %} <script type="text/javascript"><!--
    // Check if Cookie exists
        if($.cookie('display')){
            view = $.cookie('display');
        }else{
            view = 'grid';
        }
        if(view) display(view);
    //-->
    </script>  {% endcomment %}


{% endblock %}
