{% load static %}
{% include 'website/base/header.html' %}
{% include 'website/base/header2.html' %}



<!-- Start Log In Area -->
<section class="user-area-style ptb-100" style="margin-top:100px; margin-bottom:100px;">
    <div class="container">
        <div class="registration-area">
            <div class="section-title">
                <h2>Registrieren</h2>
            </div>

            <div class="contact-form-action">
                <form action="{% url 'accounts:client-register' %}" method="post" onsubmit="return checklan()">
                    {% csrf_token %} 
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Zu</label>
                                {{ form.first_name }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Nachname</label>
                                {{ form.last_name }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Nutzername</label>
                                {{ form.username }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Email</label>
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>TC</label>
                                {{ client_form.tckn }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Passwort</label>
                                {{ form.password1 }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Passwort erneut</label>
                                {{ form.password2 }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <button class="default-btn register" type="submit">
                                        Registrieren
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <p>Haben Sie bereits ein Konto <a href="{% url 'accounts:login' %}">Login!</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Log In Area -->


<script type="text/javascript">
  function checklan(){

    if (document.getElementById('tckn').value === '' || document.getElementById('tckn').value == null){
      alert('TC Kimlik No - boş geçilemez');
      document.getElementById('tckn').style.borderColor = "red";
      return false;
    }

    if (document.getElementById('tckn').value.length < 11){
      alert('TC Kimlik No - 11 hane olmalı');
      document.getElementById('tckn').style.borderColor = "red";
      return false;
    }


  }
</script>


{% include 'website/base/footer.html' %}
