{% load static %}
{% include 'adminpanel/index/header.html' %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="{% static 'admin/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/form_layouts.js' %}"></script>

<script src="{% static 'admin/js/plugins/uploaders/fileinput/plugins/purify.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/uploaders/fileinput/plugins/sortable.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/uploaders/fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'admin/js/demo_pages/uploader_bootstrap.js' %}"></script>




{% include 'adminpanel/index/lefttopbar-ust.html' %}
{% include 'adminpanel/index/page-header.html' %}




<!-- Content area -->
<div class="content">
  {% if messages %}
  {% for message in messages %}
    {% ifequal message.tags 'error' %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% else %}
    <div class="alert alert-{{ message.tags }}" role="alert">
      {{ message }}
    </div>
    {% endifequal %}

  {% endfor %}
  {% endif %}
  <!-- Vertical form options -->
  <div class="row">
    <div class="col-md-12">

      <!-- Basic layout-->
      <div class="card">
        <div class="card-header header-elements-inline">
          <h5 class="card-title">Produktnummer aktualisieren</h5>
        </div>

        <div class="card-body">
          <form action="{% url 'product:update-product-stock' form.instance.pk %}" enctype='multipart/form-data' method="post">
            {% csrf_token %}

            <div class="form-group">
              <label>Produkte:</label>
              {{ form.product }}
            </div>

            <div class="form-group">
              <label>Produkte Grösse:</label>
              {{ form.product_size }}
            </div>

            <div class="form-group">
              <label>Produktnummer aktualisieren:</label>
              {{ form.product_quantity }}
            </div>

            <div class="text-right">
              <button type="submit" class="btn btn-primary">Produktnummer aktualisieren <i class="icon-paperplane ml-2"></i></button>
            </div>

          </form>

        </div>
      </div>
      <!-- /basic layout -->

    </div>
  </div>
</div>




{% include 'adminpanel/index/footer.html' %}
